{% comment %}
    Textarea Input

    Accepts:
    - class: {string}
    - label: {string}
    - name: {string}
    - default_checked: {boolean} default_state
    - html_attributes: {string} use this to set autocomplete / autocapitalize attributes.
    - setState: {function} i.e. `$data.quantity(value)`

    Usage:
    {% render '_components.checkbox',
        class: checkbox_class,
        label: label,
        name: name,
        default_checked: true,
        html_attributes: "",
        setState: setState
    %}
{% endcomment %}
<label class="{{ class }}" {{ html_attributes }}>
  <span class="relative shrink-0">
    <input type="radio"
           name="{{ name }}"
           value="{{ value }}"
        {% if default_checked %}
          checked="checked"
        {% endif %}
           @change="value = $el.checked; {{ setState }}"
           aria-label="{{ label }}">
    <span class="absolute inset-0 flex items-center justify-center">
      <svg class=""></svg>
    </span>
  </span>
  <span>{{ label }}</span>
</label>
