{% comment %}
    Scroll controls element

    Accepts:
    - class: {string}

    Usage:
    {% render '_components.scrollbar',
        class: scrollbar_class
    %}
{% endcomment %}

{% assign scroll_speed = scroll_speed | default: 200 %}

<div x-data="{ ..._scrollbar.init($refs.scrollBar, $refs.scrollThumb, {{ scroll_speed }}) }"
     data-scrollbar
     class="{{ class | default: 'scrollbar' }} pointer-events-none !hidden flex items-center"
     x-effect="() => { $el.classList.toggle('!hidden', scrollbar.horizontal ? (Math.round((scrollbar.width || 1) * 10) / 10) === 1 : (Math.round((scrollbar.height || 1) * 10) / 10) === 1) }"
    {{ html_attributes }}>
  <div data-scrollbar-container class="flex-1 pointer-events-auto flex items-center">
    <div class="-my-2 flex w-full cursor-pointer items-center py-2"
         @click="handleScrollBarClick($event)"
         x-ref="scrollBar">
      <div data-scrollbar-track class="flex w-full items-center rounded-full">
        <button type="button"
                data-scrollbar-thumb
                x-ref="scrollThumb"
                @click.stop=""
                @pointerdown.prevent.stop="handleScrollThumbPointerDown"
                @keydown.prevent.stop.left="handlePrevClick"
                @keydown.prevent.stop.right="handleNextClick"
                :disabled="($data?.content_slider?.state?.infinite && $data?.content_slider?.state?.block_scroll_events)"
                aria-label="Scroll thumb"
                x-effect="$el.classList.toggle('min-w-10', scrollbar.horizontal); $el.classList.toggle('min-h-10', !scrollbar.horizontal);"
                :style="scrollbar.horizontal ? `left: ${scrollbar.left * 100}%; width: ${scrollbar.width * 100}%;` : `top: ${scrollbar.top * 100}%; height: ${scrollbar.height * 100}%;`"
                class="relative h-full min-w-10 cursor-grab rounded-full">
          <span class="absolute inset-0 -my-2 w-full"
                x-effect="$el.classList.toggle('-my-2', scrollbar.horizontal); $el.classList.toggle('-mx-2', !scrollbar.horizontal);"></span>
        </button>
      </div>
    </div>
  </div>
  <div data-scrollbar-buttons class="flex items-center justify-between pointer-events-none">
    <button type="button"
            data-scrollbar-button="prev"
            class="relative flex items-center justify-center transition-all group pointer-events-auto disabled:opacity-30 disabled:pointer-events-none"
            :disabled="(scrollbar.current_index === 1 && !!+`{{ scroll_speed }}` && !$data?.content_slider?.state?.infinite) || !!($data?.content_slider?.state?.infinite && $data?.content_slider?.state?.block_scroll_events)"
            aria-label="Scroll to previous Slide" @click.stop.prevent="handlePrevClick($event, $data.content_slider)">
      <svg class="mr-[calc((100%*0.44)/3)] rotate-180 size-[calc(100%*0.44)] stroke-2 animated-icon"
           fill="none"
           viewBox="0 0 10 10"
           aria-hidden="true"
           stroke="currentColor">
        <path class="opacity-0 transition group-hover:opacity-100" d="M0 5h7"></path>
        <path class="transition group-hover:translate-x-[calc((100%*0.44)/4)]" d="M1 1l4 4-4 4"></path>
      </svg>
      <svg class="absolute left-1/2 top-1/2 size-[calc(100%*0.7)] -translate-x-1/2 -translate-y-1/2 bg-current simple-icon"
           style="background: var(--scroll-button-image-prev, currentColor); mask: var(--scroll-button-prev); -webkit-mask: var(--scroll-button-prev); aspect-ratio: var(--scroll-button-prev-aspect-ratio, 1);">
      </svg>

    </button>
    <div data-scrollbar-counter class="mx-auto select-none text-center">
      <span x-html="$data?.content_slider?.state?.infinite ? `${scrollbar.current_index > scrollbar.pages / 2 ? scrollbar.current_index - scrollbar.pages / 2 : scrollbar.current_index} / ${scrollbar.pages / 2}` : `${scrollbar.current_index} / ${scrollbar.pages}`"></span>
    </div>
    <button type="button"
            data-scrollbar-button="next"
            class="relative flex items-center justify-center transition-all group pointer-events-auto disabled:opacity-30 disabled:pointer-events-none"
            :disabled="((scrollbar.no_next_page && !$data?.content_slider?.state?.infinite) && !!+`{{ scroll_speed }}`) || !!($data?.content_slider?.state?.infinite && $data?.content_slider?.state?.block_scroll_events)"
            aria-label="Scroll to next slide" @click.stop.prevent="handleNextClick($event, $data.content_slider)">
      <svg class="ml-[calc((100%*0.44)/3)] size-[calc(100%*0.44)] stroke-2 animated-icon"
           fill="none"
           viewBox="0 0 10 10"
           aria-hidden="true"
           stroke="currentColor">
        <path class="opacity-0 transition group-hover:opacity-100" d="M0 5h7"></path>
        <path class="transition group-hover:translate-x-[calc((100%*0.44)/4)]" d="M1 1l4 4-4 4"></path>
      </svg>

      <svg class="size-[calc(100%*0.7)] bg-current simple-icon"
           style="background: var(--scroll-button-image-next, currentColor); mask: var(--scroll-button-next); -webkit-mask: var(--scroll-button-next); aspect-ratio: var(--scroll-button-next-aspect-ratio, 1);">
      </svg>
    </button>
  </div>
</div>
