{% comment %}
    Select Element

    Accepts:
    - class: {string}
    - label: {string}
    - setState: {function} i.e. `$data.quantity(value)`
    - state: {string | number} i.e. `$data.state.quantity`
    - default_value: {string | number} default_state
    - max: {number} i.e. `$data.state.selected_variant.inventory_policy === 'deny' ? $data.state.selected_variant.inventory_quantity : 999`

    Usage:
    {% render '_components.quantity_stepper',
        class: quantity_class,
        label: label,
        setState: "$data.setQuantity(value)",
        state: "$data.state.quantity",
        max: "$data.state.selected_variant.inventory_policy === 'deny' ? $data.state.selected_variant.inventory_quantity : 999",
        default_value: 1
    %}
{% endcomment %}

<div class="{{ class }} flex items-center justify-between pointer-events-none shrink-0"
    {{ html_attributes }}
     @click.prevent.stop="()=>{}"
     x-data="{ value: {{ default_value | default: 1 }} }"
     x-effect="value = {{ state }}">
  <span class="flex-1 a:content-[--quantity-label] after:relative"></span>
  <span class="flex items-center h-full">
    <button type="button"
            class="p-0.5 pointer-events-auto"
            aria-label="Decrease quantity"
            :disabled="{{ disabled_min | default: disabled | default: 'false' }}"
            @click="value = Math.max({{ min | default: 1 }}, value - 1); {{ setState }}">
      {% render '_components.icon', icon: "minus", class: "size-[0.9em]" %}
    </button>
    <label aria-label="{{ label | default: 'Quantity' }}" class="flex items-center justify-center">
      <input type="number"
             value="{{ default_value | default: 1 }}"
             min="{{ min | default: 1 }}"
             {% if name %}name="{{ name }}"{% endif %}
             class="w-8 min-w-0 appearance-none bg-inherit text-center outline-none disabled:pointer-events-none disabled:select-none pointer-events-auto"
             @change="value = Math.max({{ min | default: 1 }}, Math.min({{ max | default: 999 }}, $event.target.value)); {{ setState }}"
             :disabled="{{ disabled_manual_input | default: disabled | default: 'false' }}"
             :value="value">
    </label>
    <button type="button"
            class="p-0.5 pointer-events-auto"
            aria-label="Increase quantity"
            :disabled="{{ disabled_max | default: disabled | default: 'false' }}"
            @click="value = Math.min({{ max | default: 999 }}, value + 1); {{ setState }}">
      {% render '_components.icon', icon: "plus", class: "size-[0.9em]" %}
    </button>
  </span>
</div>
