{%- comment -%} Auto Generated Variables start {%- endcomment -%}
{%- liquid
  assign block_type = "feature"
  assign section_type = "featured_benefits_slider"
  assign image = block.settings.image
  assign content = block.settings.content
  assign content_class = block.settings.content_class
  assign custom_css = block.settings.custom_css
-%}
{%- comment -%} Auto Generated Variables end {%- endcomment -%}

{% liquid
  assign hide_if_empty = hide_if_empty
  assign is_empty = false
  if request.design_mode != true
    if image == blank
      assign is_empty = true
    endif
    if hide_if_empty == 'block' and is_empty
      echo '<script type="block/hide"></script>'
      break
    endif
    if hide_if_empty == 'container' and is_empty
      echo '<script type="container/break"></script>'
      break
    endif
    if hide_if_empty == 'section' and is_empty
      echo '<script type="section/break"></script>'
      break
    endif
  endif

  if section.settings.image_mobile_style == 'fullscreen'
    assign content_wrapper_classes = 'px-container-md'
  endif
  if section.settings.content_mobile_style == 'expand'
    assign content_mobile_style_class = 'hidden'
  endif
%}

<figure
    data-style-id="{{ section.id }}--{{ block.id }}"
    {% if anchor_id != blank %}id="{{ anchor_id }}"{% endif %}
    {{ block.shopify_attributes }}
    class="flex flex-col gap-4">
  <div data-style-image class="image-wrapper relative snap-center overflow-hidden">
    {% render '_object.image', image: image, class: "w-full h-full object-[inherit]", sizes: '(max-width: 768px) 100vw, (max-width: 1024px) 50vw, 40vw' %}
  </div>

  <figcaption class="lg:hidden text-center {{ content_mobile_style_class }} {{ content_wrapper_classes }}">
    {% render '_input.richtext', content: block.settings.content, class: block.settings.content_class, block: block, forloop: forloop %}
  </figcaption>
</figure>
