{%- comment -%} Auto Generated Variables start {%- endcomment -%}
{%- liquid
  assign block_type = "scrollbar"
  assign section_type = "global_design_elements"
  assign class = block.settings.class
  assign custom_css = block.settings.custom_css
  assign icon_style = block.settings.icon_style
  assign icon_previous = block.settings.icon_previous
  assign icon_next = block.settings.icon_next
  assign override_preview_background = block.settings.override_preview_background
-%}
{%- comment -%} Auto Generated Variables end {%- endcomment -%}

{%- liquid
  assign selector = '.' | append: class | replace: '\/', '/' | replace: '/', '\/'
%}

{%- capture css -%}
  {% case icon_style %}
    {% when "animated" %}
      &  .simple-icon {
      display: none !important;
      }


    {% when "icon" %}
      & .animated-icon {
      display: none !important;
      }
      & {
      --scroll-button-prev: var(--icon-{{ icon_previous | handleize }});
      --scroll-button-prev-aspect-ratio: var(--icon_previous-{{ icon | handleize }}-aspect-ratio);
      --scroll-button-next: var(--icon-{{ icon_next | handleize }});
      --scroll-button-next-aspect-ratio: var(--icon_next-{{ icon | handleize }}-aspect-ratio);
      }
    {% when "image_icon" %}
      & .animated-icon {
      display: none !important;
      }
      & {
      --scroll-button-image-prev: var(--icon-{{ icon_previous | handleize }});
      --scroll-button-image-prev-aspect-ratio: var(--icon_previous-{{ icon | handleize }}-aspect-ratio);
      --scroll-button-image-next: var(--icon-{{ icon_next | handleize }});
      --scroll-button-image-next-aspect-ratio: var(--icon_next-{{ icon | handleize }}-aspect-ratio);
      }
  {% endcase %}
{%- endcapture -%}

<style>
  {{ custom_css | append: css | replace: '&', selector | strip_newlines }}
  {% if request.design_mode %}
  {% assign query_selector = '[data-section-id="'|append: section.id | append: '"][data-preview-container] ' | append: selector %}
  {{- custom_css | replace: '&', query_selector  | strip_newlines | replace: '@media screen and', '@container'| replace: '@media', '@container' -}}
  {% endif %}
</style>
{% if request.design_mode %}
  {% if override_preview_background == blank or override_preview_background.alpha == 0 %}
    {% assign override_preview_background = '#ffffff' %}
  {% endif %}
  <section class="fixed inset-0 z-50 flex flex-col gap-16 overflow-y-auto bg-white py-16 text-black px-container-sm @container"
           data-section-id="{{ section.id }}"
           data-preview-container
           x-data="{tab: 'single-type'}"
           style="background: {{ override_preview_background }};"
           x-show="$editor?.select_block_id === '{{ block.id }}'"
           x-cloak {{ block.shopify_attributes }}>

    <header class="flex gap-3 font-mono">
      <button @click="tab='single-type'"
              type="button"
              :class="tab === 'single-type' ? 'bg-gray-600 text-gray-50 border-gray-900 hf:bg-gray-700':'border-gray-200/70 bg-gray-100 text-gray-700 hf:text-gray-900 hf:border-gray-300/80 hf:bg-gray-200/90'"
              class="rounded-sm border px-3 text-sm font-medium py-1.5">{{ selector }}
      </button>
    </header>

    <main class="mt-8">
      <header class="mt-12 grid gap-8 lg:grid-cols-[1fr_320px]">
        <div class="text-lg font-bold text-gray-600">Desktop</div>
        <div class="text-lg font-bold text-gray-600">Mobile</div>
      </header>
      <section x-show="tab === 'single-type'" class="mt-6 grid gap-8 lg:grid-cols-[1fr_320px]">
        <div class="relative max-w-[600px] overflow-hidden" x-data="{}">
          <div x-ref="scrollContainer"
               class="relative grid auto-cols-[400px] grid-flow-col h-80 scrollbar-none snap-mandatory gap-4 overflow-x-auto bg-gradient-to-r from-sky-50 to-sky-600/50">
            <div class="h-full flex-1 snap-start bg-indigo-400/20"></div>
            <div class="h-full flex-1 snap-start bg-indigo-400/20"></div>
            <div class="h-full flex-1 snap-start bg-indigo-400/20"></div>
            <div class="h-full flex-1 snap-start bg-indigo-400/20"></div>
            <div class="h-full flex-1 snap-start bg-indigo-400/20"></div>
            <div class="h-full flex-1 snap-start bg-indigo-400/20"></div>
            <div class="h-full flex-1 snap-start bg-indigo-400/20"></div>
          </div>
          {% render '_components.scrollbar',
              class: class,
              scroll_container_ref: '$refs.scrollContainer'
          %}
        </div>
        <div class=" @container max-w-lg">
          <div class="relative max-w-full overflow-hidden" x-data="{}">
            <div x-ref="scrollContainer"
                 class="relative grid auto-cols-[200px] grid-flow-col h-80 scrollbar-none snap-mandatory gap-4 overflow-x-auto bg-gradient-to-r from-sky-50 to-sky-600/50">
              <div class="h-full flex-1 snap-start bg-emerald-400/20"></div>
              <div class="h-full flex-1 snap-start bg-emerald-400/20"></div>
              <div class="h-full flex-1 snap-start bg-emerald-400/20"></div>
              <div class="h-full flex-1 snap-start bg-emerald-400/20"></div>
              <div class="h-full flex-1 snap-start bg-emerald-400/20"></div>
              <div class="h-full flex-1 snap-start bg-emerald-400/20"></div>
              <div class="h-full flex-1 snap-start bg-emerald-400/20"></div>
            </div>
            {% render '_components.scrollbar',
                class: class,
                scroll_container_ref: '$refs.scrollContainer'
            %}
          </div>
        </div>
      </section>
    </main>
    {% capture css_content %}
      {{ css | replace: '&', selector }}
    {% endcapture %}
    {% render '_components.editor_preview_base_css', block: block, class: class, selector: selector, css: css_content, filename: 'snippets/_components.scrollbar' %}
    {% render '_components.editor_preview', block: block, css: css_content, class: class, selector: selector, filename: 'snippets/_components.scrollbar' %}

  </section>
{% endif %}
