{%- comment -%} Auto Generated Variables start {%- endcomment -%}
{%- liquid
  assign block_type = "heading"
  assign section_type = "global_typography"
  assign class = block.settings.class
  assign custom_css = block.settings.custom_css
-%}
{%- comment -%} Auto Generated Variables end {%- endcomment -%}

{% if class contains ',' %}
  {% assign class_arr = class | remove: " " | split: ',' %}

  {%- capture styles -%}
    {% for class_name in class_arr %}
      {% liquid
        assign selector = '.' | append: class_name | replace: '\/', '/' | replace: '/', '\/'
      %}
      {{ custom_css | replace: '&', selector | strip_newlines }}
      {% if request.design_mode %}
        {% assign query_selector = '[data-section-id="' | append: section.id | append: '"][data-preview-container] ' | append: selector %}
        {{- custom_css | replace: '&', query_selector | strip_newlines | replace: '@media screen and', '@container' | replace: '@media', '@container' -}}
      {% endif %}
    {% endfor %}
  {%- endcapture -%}
  <style>
    {{ styles }}
  </style>
  {% assign class = class | split: ',' | first %}
{% else %}
  {% liquid
    assign selector = '.' | append: class | replace: '\/', '/' | replace: '/', '\/'
  %}
  <style>
    {{ custom_css | replace: '&', selector | strip_newlines }}
    {% if request.design_mode %}
    {% assign query_selector = '[data-section-id="'|append: section.id | append: '"][data-preview-container] ' | append: selector %}
    {{- custom_css | replace: '&', query_selector  | strip_newlines | replace: '@media screen and', '@container'| replace: '@media', '@container' -}}
    {% endif %}
  </style>
{% endif %}

{% if request.design_mode %}
  <section class="fixed inset-0 z-50 flex flex-col gap-16 overflow-y-auto bg-white py-16 text-black px-container-sm @container"
           data-section-id="{{ section.id }}"
           data-preview-container
           x-data="{tab: 'single-type'}"
           x-show="$editor?.select_block_id === '{{ block.id }}'"
           x-cloak {{ block.shopify_attributes }}>

    <header class="flex gap-3 font-mono">
      <button @click="tab='single-type'"
              type="button"
              :class="tab === 'single-type' ? 'bg-gray-600 text-gray-50 border-gray-900 hf:bg-gray-700':'border-gray-200/70 bg-gray-100 text-gray-700 hf:text-gray-900 hf:border-gray-300/80 hf:bg-gray-200/90'"
              class="rounded-sm border px-3 text-sm font-medium py-1.5">{{ selector }}
      </button>
    </header>

    <main class="mt-8">
      <header class="mt-12 grid gap-8 lg:grid-cols-[1fr_320px]">
        <div class="text-lg font-bold text-gray-600">Desktop</div>
        <div class="text-lg font-bold text-gray-600">Mobile</div>
      </header>
      <section x-show="tab === 'single-type'" class="mt-6 grid gap-8 lg:grid-cols-[1fr_320px]">
        <div class="{{ class }}" contenteditable="true">
          Lorem ipsum dolor sit amet, consectetur.
        </div>
        <div class=" @container max-w-lg" contenteditable="true">
          <div class="{{ class }}">Lorem ipsum dolor sit amet, consectetur.</div>
        </div>
      </section>
      <header class="mt-12 grid gap-8 lg:grid-cols-[1fr_320px]">
        <div class="text-lg font-bold text-gray-600">Desktop - Long</div>
        <div class="text-lg font-bold text-gray-600">Mobile - Long</div>
      </header>
      <section x-show="tab === 'single-type'" class="mt-6 grid gap-8 lg:grid-cols-[1fr_320px]">
        <div class="{{ class }}" contenteditable="true">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci atque et fuga illo quas quia tempore veniam vero voluptas voluptates. Consequuntur culpa eum itaque recusandae tenetur! Autem esse eum ipsa ipsum labore nam nobis quibusdam similique ullam voluptatibus. Amet, pariatur repellendus? Doloribus expedita numquam reiciendis?
        </div>
        <div class="@container max-w-lg" contenteditable="true">
          <div class="{{ class }}"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci atque et fuga illo quas quia tempore veniam vero voluptas voluptates. Consequuntur culpa eum itaque recusandae tenetur! Autem esse eum ipsa ipsum labore nam nobis quibusdam similique ullam voluptatibus. Amet, pariatur repellendus? Doloribus expedita numquam reiciendis?
          </div>
        </div>
      </section>
    </main>
  </section>
{% endif %}
