{%- comment -%} Auto Generated Variables start {%- endcomment -%}
{%- liquid
  assign block_type = "input"
  assign section_type = "global_design_elements"
  assign class = block.settings.class
  assign custom_css = block.settings.custom_css
  assign override_preview_background = block.settings.override_preview_background
-%}
{%- comment -%} Auto Generated Variables end {%- endcomment -%}

{%- liquid
  assign selector = '.' | append: class | replace: '\/', '/' | replace: '/', '\/'
%}

{%- capture css -%}

  & {
  user-select: none;
  transition: all 150ms;
  transition-timing-function: linear;
  }

  & [x-ref="label"] {
  font-size: 11.5px;
  font-weight: 500;
  opacity: 0;
  max-height: 0px;
  overflow: hidden;
  transition: all 150ms;
  transition-timing-function: linear;
  line-height: 0.95;
  }

  &.active [x-ref="label"] {
  opacity: 0.5;
  max-height: 11px;
  }
{%- endcapture -%}

<style>
  {{ css | append: custom_css | replace: '&', selector | strip_newlines }}
  {% if request.design_mode %}
  {% assign query_selector = '[data-section-id="'|append: section.id | append: '"][data-preview-container] ' | append: selector %}
  {{- custom_css | replace: '&', query_selector  | strip_newlines | replace: '@media screen and', '@container'| replace: '@media', '@container' -}}
  {% endif %}
</style>
{% if request.design_mode %}
  {% if override_preview_background == blank or override_preview_background.alpha == 0 %}
    {% assign override_preview_background = '#ffffff' %}
  {% endif %}
  <section class="fixed inset-0 z-50 flex flex-col gap-16 overflow-y-auto bg-white py-16 text-black px-container-sm @container"
           data-section-id="{{ section.id }}"
           data-preview-container
           x-data="{tab: 'single-type'}"
           style="background: {{ override_preview_background }};"
           x-show="$editor?.select_block_id === '{{ block.id }}'"
           x-cloak {{ block.shopify_attributes }}>

    <header class="flex gap-3 font-mono">
      <button @click="tab='single-type'"
              type="button"
              :class="tab === 'single-type' ? 'bg-gray-600 text-gray-50 border-gray-900 hf:bg-gray-700':'border-gray-200/70 bg-gray-100 text-gray-700 hf:text-gray-900 hf:border-gray-300/80 hf:bg-gray-200/90'"
              class="rounded-sm border px-3 text-sm font-medium py-1.5">{{ selector }}
      </button>
    </header>

    <main class="mt-8">
      <header class="mt-12 grid gap-8 lg:grid-cols-[1fr_320px]">
        <div class="text-lg font-bold text-gray-600">Desktop</div>
        <div class="text-lg font-bold text-gray-600">Mobile</div>
      </header>
      <section x-show="tab === 'single-type'" class="mt-6 grid gap-8 lg:grid-cols-[1fr_320px]">
        {% render '_components.input',
            name: 'contact[email]',
            type: 'email',
            label: 'Email',
            placeholder: 'Enter your email',
            autocomplete: 'email',
            required: true,
            form: form,
            inline_button: true,
            button_content: '',
            class: class,
            default_value: form.email,
            html_attributes: '',
            setState: ''
        %}
        <div class=" @container max-w-lg">
          {% render '_components.input',
              name: 'contact[email]',
              type: 'email',
              label: 'Email',
              placeholder: 'Enter your email',
              autocomplete: 'email',
              required: true,
              form: form,
              inline_button: false,
              button_content: '',
              class: class,
              default_value: form.email,
              html_attributes: '',
              setState: ''
          %}
        </div>
      </section>
      <section x-show="tab === 'single-type'" class="mt-6 grid gap-8 lg:grid-cols-[1fr_320px]">
        {% render '_components.input',
            name: 'contact[email]',
            type: 'email',
            label: 'Email',
            placeholder: 'Enter your email',
            autocomplete: 'email',
            required: true,
            form: form,
            inline_button: false,
            button_content: '',
            class: class,
            default_value: "Some default content loaded",
            html_attributes: '',
            setState: ''
        %}
        <div class=" @container max-w-lg">
          {% render '_components.input',
              name: 'contact[email]',
              type: 'email',
              label: 'Email',
              placeholder: 'Enter your email',
              autocomplete: 'email',
              required: true,
              form: form,
              inline_button: true,
              button_content: '',
              class: class,
              default_value: "Some default content loaded",
              html_attributes: '',
              setState: ''
          %}
        </div>
      </section>
    </main>
    {% capture css_content %}
      {{ css | replace: '&', selector }}
    {% endcapture %}
    {% render '_components.editor_preview_base_css', block: block, class: class, selector: selector, css: css_content, filename: 'snippets/_components.input' %}
    {% render '_components.editor_preview', block: block, css: css_content, class: class, selector: selector, filename: 'snippets/_components.input' %}
  </section>
{% endif %}
