{%- comment -%} Auto Generated Variables start {%- endcomment -%}
{%- liquid
  assign block_type = "_card__button"
  assign section_type = "card"
  assign label = block.settings.label
  assign url = block.settings.url
  assign button_class = block.settings.button_class
  assign accessibility_label = block.settings.accessibility_label
  assign custom_css = block.settings.custom_css
-%}
{%- comment -%} Auto Generated Variables end {%- endcomment -%}

{% if request.design_mode or metaobjects.product_cards[section.settings.product_card] == blank %}
  {% capture selector %}[data-style-id="{{ block.id | split: "__" | last }}"]{% endcapture %}

  <style>
    {{ custom_css | replace: '&', selector | strip_newlines }}
    {% if request.design_mode %}
    {% assign query_selector = '[data-section-id="'|append: section.id | append: '"][data-preview-container] ' | append: selector %}
    {{- custom_css | replace: '&', query_selector  | strip_newlines | replace: '@media screen and', '@container'| replace: '@media', '@container' -}}
    {% endif %}
  </style>
{% endif %}

<button
    data-style-id="{{ block.id | split: "__" | last }}" {{ block.shopify_attributes }}
    x-ignore
    type="submit"
    :formaction="url"
    formmethod="get"
    x-data="{ content: getDynamicText($el.getAttribute('data-content')), content_check: getDynamicText($el.getAttribute('data-content-check')), url: getDynamicText(`{{ block.settings.url }}`)}"
    data-content="{% render '_input.inline_richtext', content: label, escape: true, skip_pluralization: true %}"
    data-content-check="{{ label | strip_html | escape }}"
    x-effect="() => { if (card?.hydrated) { content = getDynamicText($el.getAttribute('data-content')) } }"
    {% if accessibility_label != blank %}
      :aria-label="getDynamicText(`{{ accessibility_label }}`)"
    {% endif %}
    x-show="!!content_check.trim()"
    role="link"
    tabindex="0"
    x-init="utils.simulateAnchorTag($el);"
    :data-href="url"
    x-html="content"
    class="{{ button_class }}"
    x-cloak>
</button>

{% schema %}
{
  "name": "Button",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "label",
      "label": "Label",
      "default": "Read More",
      "info": "[Shortcodes](https://getplatter.atlassian.net/wiki/external/YTBhYmQxMzFhOWQ1NGQ4MzhlNzY1MjZiNDU1YmQ5ODk). Use bracket notation for data access: i.e.[title] or [metafields.smart.short_description]."
    },
    {
      "type": "text",
      "id": "url",
      "label": "Dynamic URL",
      "info": "Use bracket notation for data access.",
      "default": "[url]"
    },
    {
      "type": "text",
      "id": "button_class",
      "label": "Button class",
      "default": "button-primary"
    },
    {
      "type": "text",
      "id": "accessibility_label",
      "label": "Accessibility label",
      "info": "Please provide an accessibility label if the button has generic content. I.e. 'Read More' or only uses an icon.",
      "default": "Read more about [title]"
    },
    {
      "type": "paragraph",
      "content": "[Available keys](https://shopify.dev/docs/api/liquid/objects/product)"
    },
    {
      "type": "paragraph",
      "content": "t:all.empty_char"
    },
    {
      "type": "paragraph",
      "content": "t:all.empty_char"
    },
    {
      "type": "header",
      "content": "Block Globals"
    },
    {
      "type": "textarea",
      "id": "custom_css",
      "label": "Custom CSS",
      "default": "& {\n}\n"
    }
  ],
  "presets": [
    {
      "name": "Button",
      "category": "** Card **"
    }
  ],
  "tag": null,
  "class": "shopify_block___card__button"
}
{% endschema %}
