{%- comment -%} Auto Generated Variables start {%- endcomment -%}
{%- liquid
  assign block_type = "_filter_tags"
  assign button_class = block.settings.button_class
  assign enable_mouse_dragging = block.settings.enable_mouse_dragging
  assign slider_scroll_snap = block.settings.slider_scroll_snap
  assign slider_overflow_container = block.settings.slider_overflow_container
  assign infinite_scroll = block.settings.infinite_scroll
  assign scrollbar_class = block.settings.scrollbar_class
  assign scroll_pagination_class = block.settings.scroll_pagination_class
  assign custom_css = block.settings.custom_css
-%}
{%- comment -%} Auto Generated Variables end {%- endcomment -%}

{% liquid
  assign object = collection | default: article | default: blog
  assign tags = object.all_tags
  if object.url contains '/collections/'
    assign target_url = object.url | append: '/'
  endif
  if object.url contains '/blogs/'
    assign target_url = object.url | append: '/tagged/'
  endif
%}

{% liquid
  if tags.size <= 0
    assign is_empty = true
  endif
  if is_empty and hide_if_empty != 'none'
    capture hide_conditionally
      if hide_if_empty == 'block'
        echo '<script type="block/hide"></script>'
        assign hide_attribute = 'data-hide-if-empty-block'
      endif
      if hide_if_empty == 'container'
        echo '<script type="container/break"></script>'
        assign hide_attribute = 'data-hide-if-empty-container'
      endif
      if hide_if_empty == 'section'
        echo '<script type="section/break"></script>'
        assign hide_attribute = 'data-hide-if-empty-section'
      endif
    endcapture

    if request.design_mode != true and hide_conditionally contains '<script'
      echo hide_conditionally
      break
    endif
    assign hide_attribute = hide_attribute | append: ' data-block-type="' | append: block_type | append: '"' | append: ' data-block-id="' | append: block.id | append: '"'
  endif
%}

{% liquid

  assign container_spacing = section.settings.container_spacing
  case slider_overflow_container
    when 'all'
      assign slider_overflow = container_spacing | replace: 'px', '-mx' | append: " scroll-" | append: container_spacing | append: " " | append: container_spacing
    when 'mobile'
      assign slider_overflow = container_spacing | replace: 'px', 'max-md:-mx' | append: " max-md:scroll-" | append: container_spacing | append: " max-md:" | append: container_spacing
    when 'desktop'
      assign slider_overflow = container_spacing | replace: 'px', 'md:-mx' | append: " md:scroll-" | append: container_spacing | append: " md:" | append: container_spacing
  endcase
%}

{% capture selector %}[data-style-id="{{ section.id }}--{{ block.id }}"]{% endcapture %}

<style>{{ custom_css | replace: '&', selector | strip_newlines }}</style>

<div data-style-id="{{ section.id }}--{{ block.id }}" {{ block.shopify_attributes }} {{ hide_attribute }}
     class="relative flex flex-col"
     x-data="{ ...utils.initContentSlider($el, $refs.scrollContainer, undefined,`{{ infinite_scroll }}`, undefined, `{{ enable_mouse_dragging }}` === 'true') }"
     x-defer="intersect">
  <fieldset x-ref="scrollContainer"
            class="overflow-y-auto scrollbar-none {{ slider_overflow }}">
    {% for tag in tags %}
      <a href="{{ target_url }}{{ tag | handle }}"
         class="shrink-0 {{ button_class }} {% if current_tags contains tag %}active{% endif %}">{{ tag }}</a>
    {% endfor %}
    {% if current_tags.size %}
      <a href="{{ object.url }}"
         class="shrink-0 flex items-center gap-2 {{ button_class }} {% if current_tags contains tag %}active{% endif %}"> Clear Tags {% render '_components.icon', icon: 'x-mark', class: 'inline-flex size-[0.9em]' %}</a>
    {% endif %}
  </fieldset>
  {% if scrollbar_class != blank %}
    {% render '_components.scrollbar', class: scrollbar_class %}
  {% endif %}
  {% if scroll_pagination_class != blank %}
    {% render '_components.scroll_pagination', class: scroll_pagination_class %}
  {% endif %}
</div>

{% schema %}
{
  "name": "Filter Tags",
  "settings": [
    {
      "type": "text",
      "id": "button_class",
      "label": "Button class",
      "default": "button-primary"
    },
    {
      "type": "checkbox",
      "id": "enable_mouse_dragging",
      "label": "Enable mouse dragging"
    },
    {
      "type": "select",
      "id": "slider_scroll_snap",
      "label": "Scroll snap to",
      "default": "snap-mandatory [&>*]:snap-start",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "snap-mandatory snap-to-slide",
          "label": "Slide"
        },
        {
          "value": "snap-mandatory [&>*]:snap-start",
          "label": "Item"
        },
        {
          "value": "snap-m md:[&>*]:snap-start [&>*]:snap-center",
          "label": "Item (mobile centered)"
        }
      ]
    },
    {
      "type": "select",
      "id": "slider_overflow_container",
      "label": "Overflow container",
      "default": "",
      "options": [
        {
          "value": "",
          "label": "Off"
        },
        {
          "value": "desktop",
          "label": "Desktop"
        },
        {
          "value": "mobile",
          "label": "Mobile"
        },
        {
          "value": "all",
          "label": "All"
        }
      ]
    },
    {
      "type": "select",
      "id": "infinite_scroll",
      "label": "Infinite scroll",
      "default": "off",
      "options": [
        {
          "value": "off",
          "label": "Off"
        },
        {
          "value": "desktop",
          "label": "Desktop"
        },
        {
          "value": "mobile",
          "label": "Mobile"
        },
        {
          "value": "all",
          "label": "All"
        }
      ]
    },
    {
      "type": "header",
      "content": "Scrollbar Settings"
    },
    {
      "type": "text",
      "id": "scrollbar_class",
      "label": "Scrollbar class",
      "default": "scrollbar",
      "info": "Leave empty to disable."
    },
    {
      "type": "text",
      "id": "scroll_pagination_class",
      "label": "Scroll Pagination class",
      "info": "Leave empty to disable."
    },
    {
      "type": "paragraph",
      "content": "t:all.empty_char"
    },
    {
      "type": "paragraph",
      "content": "t:all.empty_char"
    },
    {
      "type": "header",
      "content": "Block Globals"
    },
    {
      "type": "textarea",
      "id": "custom_css",
      "label": "Custom CSS",
      "default": "& {\n}\n"
    }
  ],
  "presets": [
    {
      "name": "Filter tags",
      "category": "Custom"
    }
  ],
  "tag": null,
  "class": "shopify_block___filter_tags"
}
{% endschema %}
