{%- comment -%} Auto Generated Variables start {%- endcomment -%}
{%- liquid
  assign block_type = "_main_product__option__color"
  assign section_type = "main_product"
  assign legend = block.settings.legend
  assign legend_class = block.settings.legend_class
  assign primary_source = block.settings.primary_source
  assign fallback_source = block.settings.fallback_source
  assign show_tooltip = block.settings.show_tooltip
  assign select_on_hover = block.settings.select_on_hover
  assign content_flow = block.settings.content_flow
  assign scrollbar_class = block.settings.scrollbar_class
  assign scroll_pagination_class = block.settings.scroll_pagination_class
  assign sold_out_variants = block.settings.sold_out_variants
  assign quick_view_visibility = block.settings.quick_view_visibility
  assign option_type = block.settings.option_type
  assign match_option_titles = block.settings.match_option_titles
  assign match_option_index = block.settings.match_option_index
  assign match_exact_word = block.settings.match_exact_word
  assign custom_css = block.settings.custom_css
-%}
{%- comment -%} Auto Generated Variables end {%- endcomment -%}

{% liquid
  assign product = section.settings.product | default: product
  if section.settings.default_variant_metafield != blank
    assign variant_namespace = section.settings.default_variant_metafield | strip | split: "." | first
    assign variant_key = section.settings.default_variant_metafield | strip | split: "." | last
    assign variant = product.metafields[variant_namespace][variant_key].value | default: variant
  endif

  assign variant = variant | default: product.selected_or_first_available_variant | default: product.variants.first

  if product.variants.first.title == "Default Title" and product.variants.size == 1
    break
  endif

  assign match_options = match_option_titles | split: ","

  if option_type == 'by_name'
    for option in product.options
      assign optionIndex = forloop.index0
      for match_option in match_options
        if match_exact_word
          assign _match_option = match_option | strip
          assign _option = option
        else
          assign _match_option = match_option | strip | downcase
          assign _option = option | downcase
        endif

        if _option == _match_option
          assign _optionIndex = optionIndex
          break
        endif
      endfor
      if _optionIndex != blank
        break
      endif
    endfor

    assign option = product.options_with_values[_optionIndex]

    if option == blank
      break
    endif
  endif

  if option_type == 'by_index'
    assign _optionIndex = match_option_index | minus: 1
    assign option = product.options_with_values[_optionIndex]

    if option == blank
      break
    endif
  endif

  case content_flow
    when "show_all"
      assign container_classes = 'flex-wrap'
    when "truncate"
      assign container_classes = 'overflow-hidden'
    when "overflow"
      assign container_classes = 'overflow-x-auto'
  endcase
%}

{% capture selector %}[data-style-id="{{ section.id }}--{{ block.id }}"]{% endcapture %}


{% for i in (0..2) %}
  {% liquid
    if option_type == 'fallback_options'
      assign _optionIndex = i
      assign option = product.options_with_values[_optionIndex]
    endif

    if option == blank
      break
    endif

    assign current_value = variant.options[_optionIndex]
    assign content_legend = legend | replace: "[heading]", option.name
    assign current_legend = content_legend | replace: "[value]", current_value | default: option.name

    assign optionIndex1 = _optionIndex | plus: 1
    assign option_num = 'option' | append: optionIndex1
  %}

  {% if forloop.first %}
    <style>
      {{ custom_css | replace: '&', selector | strip_newlines }}
    </style>
  {% endif %}

  <product-option {{ _optionIndex }} {{ option_type }}>
    <div
        data-style-id="{{ section.id }}--{{ block.id }}" {{ block.shopify_attributes }}
        data-quick-view-visibility="{{ quick_view_visibility }}"
        {% if content_flow == 'overflow' %}
          x-data="{ index: +`{{ _optionIndex }}`, hoverValue: '', offset: +`{{ option.values.size }}`, ...utils.initContentSlider($el, $refs.scrollContainer, undefined,`{{ infinite_scroll }}`, +`{{ auto_rotate }}`), show_all_items: true, desktop_display_limit: 9999, mobile_display_limit: 9999 }"
          x-init="$refs.scrollContainer.scrollLeft = ([...$refs.scrollContainer.children]?.find(child=> child?.classList?.contains('active'))?.offsetLeft ?? 0) - 5;"
        {% else %}
          x-data="{ index: +`{{ _optionIndex }}`, hoverValue: '', offset: +`{{ option.values.size }}` }"
        {% endif %}
        x-defer="intersect">
      <legend id="legend-{{ block.id }}--{{ forloop.index0 }}"
              x-ignore
              class="flex w-full max-w-full truncate {{ legend_class }}"
              data-legend="{% render '_input.inline_richtext', content: content_legend, escape: true %}"
              x-effect="$el.innerHTML = $el.getAttribute('data-legend').replace('[value]', hoverValue || pdp.selected_options?.[index])">
        {% render '_input.inline_richtext', content: current_legend %}
      </legend>
      <fieldset
          aria-labelledby="legend-{{ block.id }}--{{ forloop.index0 }}"
          x-ignore
          class="relative w-full flex scrollbar-none {{ container_classes }}"
          {% if content_flow == 'overflow' %}
            x-ref="scrollContainer"
            @resize.window="content_slider.handleResize"
            x-init="$nextTick(() => content_slider.handleResize())"
            @scroll="content_slider.handleScroll"
            @scrollend="content_slider.handleInfiniteScroll"
          {% endif %} >
        {% for value in option.values %}
          {% liquid
            if sold_out_variants == 'hide' and value.available != true
              continue
            endif

            assign continue = true

            for v in product.variants
              if v.options[_optionIndex] == value
                unless  v.metafields.custom.hide_on_frontend.value
                  assign continue = false
                  break
                endunless
              endif
            endfor

            if continue
              continue
            endif

            assign first_option_variant = product.variants | where: option_num, value | first
            assign _value = value | handleize
            assign image = ''

            case primary_source
              when "title"
                assign primary_swatch = "--primary-swatch: var(--swatch-" | append: _value | append: ")"
              when "image"
                assign image = first_option_variant.image | image_url: width: 180, height: 180, crop: 'center' | escape
                assign primary_swatch = "--primary-swatch: url(" | append: image | append: ") center center/cover no-repeat"
              when "metafield"
                if first_option_variant.metafields.smart.color_swatch.type == 'color'
                  assign primary_swatch = "--primary-swatch: " | append: first_option_variant.metafields.smart.color_swatch.value
                endif
                if first_option_variant.metafields.smart.color_swatch.type == 'file_reference'
                  assign image = first_option_variant.metafields.smart.color_swatch.value | image_url: width: 180, height: 180, crop: 'center' | escape
                  assign primary_swatch = "--primary-swatch: url(" | append: image | append: ") center center/cover no-repeat"
                endif
            endcase
            case fallback_source
              when "title"
                assign fallback_swatch = "--fallback-swatch: var(--swatch-" | append: _value | append: ")"
              when "image"
                assign image = first_option_variant.image | image_url: width: 180, height: 180, crop: 'center' | escape
                assign fallback_swatch = "--fallback-swatch: url(" | append: image | append: ") center center/cover no-repeat"
              when "metafield"
                if first_option_variant.metafields.smart.color_swatch.type == 'color'
                  assign fallback_swatch = "--fallback-swatch: " | append: first_option_variant.metafields.smart.color_swatch.value
                endif
                if first_option_variant.metafields.smart.color_swatch.type == 'file_reference'
                  assign image = first_option_variant.metafields.smart.color_swatch.value | image_url: width: 180, height: 180, crop: 'center' | escape
                  assign fallback_swatch = "--fallback-swatch: url(" | append: image | append: ") center center/cover no-repeat"
                endif
            endcase
          %}
          <label
              class="shrink-0 flex cursor-pointer border-gray-300 relative !outline-none border-none ac:border-solid {% if value == current_value %}active{% endif %} {% if value.available != true %}sold-out{% endif %}"
              x-effect="$el.classList.toggle('active', pdp.selected_options?.[index] === $el.getAttribute('aria-label'))"
              x-show="offset >= +`{{ forloop.index0 }}`"
              {% if select_on_hover and show_tooltip %}
                @mouseenter="$tooltip.addTooltip($el, `{{ value }}`); $data.setProductOption({ index, value: `{{ value }}` })"
                @mouseleave="$tooltip.removeTooltip($el)"
              {% elsif select_on_hover %}
                @mouseenter="$data.setProductOption({ index, value: `{{ value }}` })"
              {% elsif show_tooltip %}
                @mouseenter="$tooltip.addTooltip($el, `{{ value }}`)"
                @mouseleave="$tooltip.removeTooltip($el)"
              {% endif %}
              @pointerenter="hoverValue = $el.getAttribute('aria-label')"
              @pointerleave="hoverValue = ''"
              aria-label="{{ value }}"
              style="{{ primary_swatch }};{{ fallback_swatch }}; background: var(--primary-swatch, var(--fallback-swatch, {{ _value }}));">
            <input
                type="radio"
                class="sr-only"
                {% if sold_out_variants == 'disable' and value.available != true %}
                  disabled="disabled"
                {% endif %}
                {% if show_tooltip %}
                  @focus="$tooltip.addTooltip($el.parentElement, $el.value)"
                  @blur="$tooltip.removeTooltip($el.parentElement)"
                {% endif %}
                name="{{ block.id }}"
                @change="$data.setProductOption({ index, value: $el.value })"
                :checked="pdp.selected_options?.[index] === $el.value"
                value="{{ value }}">
          </label>
        {% endfor %}
        {% if content_flow == 'truncate' %}
          <div class="flex shrink-0 items-center text-sm font-medium"
               x-cloak
               x-show="true"
               :class="(offset + 1) < +`{{ option.values.size }}` ? '':'opacity-0 pointer-events-none'"
               x-init="$nextTick(async ()=> { if (window.design_mode) { await utils.delay(20) } offset = utils.truncateChildren($el, $el.parentElement)})"
               @resize.window.debounce.200ms="offset = +`{{ option.values.size }}`; await utils.delay(20); offset = utils.truncateChildren($el, $el.parentElement)"
               x-html="`+ ${+`{{ option.values.size }}` - (offset + 1)} {{ option.name }}`">
            +10 {{ option.name }}
          </div>
        {% endif %}
      </fieldset>
      {% if content_flow == 'overflow' %}
        {% if scrollbar_class != blank %}
          {% render '_components.scrollbar', class: scrollbar_class %}
        {% endif %}
        {% if scroll_pagination_class != blank %}
          {% render '_components.scroll_pagination', class: scroll_pagination_class %}
        {% endif %}
      {% endif %}
    </div>
  </product-option>

  {% if option_type != 'fallback_options' %}
    {% break %}
  {% endif %}
{% endfor %}

{% schema %}
{
  "name": "t:blocks.option_color_image_swatch.name",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "legend",
      "label": "Heading",
      "default": "[heading]",
      "info": "[Shortcodes](https://getplatter.atlassian.net/wiki/external/YTBhYmQxMzFhOWQ1NGQ4MzhlNzY1MjZiNDU1YmQ5ODk) Use [heading] as a placeholder for the option title, and [value] as a placeholder for the current / hover value."
    },
    {
      "type": "text",
      "id": "legend_class",
      "label": "Heading class",
      "default": "richtext-md h5"
    },
    {
      "type": "header",
      "content": "Swatches"
    },
    {
      "type": "select",
      "id": "primary_source",
      "label": "Primary source:",
      "default": "title",
      "options": [
        {
          "value": "title",
          "label": "Title"
        },
        {
          "value": "image",
          "label": "Image"
        },
        {
          "value": "metafield",
          "label": "Metafield"
        }
      ]
    },
    {
      "type": "select",
      "id": "fallback_source",
      "label": "Fallback source:",
      "default": "image",
      "options": [
        {
          "value": "title",
          "label": "Title"
        },
        {
          "value": "image",
          "label": "Image"
        },
        {
          "value": "metafield",
          "label": "Metafield"
        }
      ]
    },
    {
      "type": "paragraph",
      "content": "The 'Title' option is setup via the Global Sections for color swatches. The setup for the 'Image' is inferred from the first variant for the option. The 'Metafield' option is inferred from the first variant for the option and references the ProductVariant metafield: 'smart.color_swatch' which can be set to either 'color' or 'image'."
    },
    {
      "type": "checkbox",
      "id": "show_tooltip",
      "label": "Show tooltip on hover",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "select_on_hover",
      "label": "Select on hover"
    },
    {
      "type": "paragraph",
      "content": "t:all.empty_char"
    },
    {
      "type": "paragraph",
      "content": "t:all.empty_char"
    },
    {
      "type": "header",
      "content": "Inline Layout"
    },
    {
      "type": "select",
      "id": "content_flow",
      "label": "Content flow",
      "default": "show_all",
      "options": [
        {
          "value": "show_all",
          "label": "Show all"
        },
        {
          "value": "truncate",
          "label": "Truncate"
        },
        {
          "value": "overflow",
          "label": "Slider"
        }
      ]
    },
    {
      "type": "text",
      "id": "scrollbar_class",
      "label": "Scrollbar class",
      "default": "scrollbar",
      "info": "Leave empty to disable.",
      "visible_if": "{{ block.settings.content_flow == 'overflow' }}"
    },
    {
      "type": "text",
      "id": "scroll_pagination_class",
      "label": "Scroll Pagination class",
      "info": "Leave empty to disable.",
      "visible_if": "{{ block.settings.content_flow == 'overflow' }}"
    },
    {
      "type": "select",
      "id": "sold_out_variants",
      "label": "Sold Out Variants",
      "default": "",
      "options": [
        {
          "value": "",
          "label": "Show"
        },
        {
          "value": "hide",
          "label": "Hide"
        },
        {
          "value": "disable",
          "label": "Disable"
        }
      ]
    },
    {
      "type": "header",
      "content": "Quick View Settings"
    },
    {
      "type": "select",
      "id": "quick_view_visibility",
      "label": "Quick View Visibility",
      "default": "default",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "hidden",
          "label": "hidden"
        },
        {
          "value": "mobile_header",
          "label": "Mobile Header"
        },
        {
          "value": "quick_view_only",
          "label": "Quick view only"
        }
      ]
    },
    {
      "type": "paragraph",
      "content": "You can additionally style elements using the Custom CSS, by targeting: '.quick-view & {}'"
    },
    {
      "type": "paragraph",
      "content": "t:all.empty_char"
    },
    {
      "type": "paragraph",
      "content": "t:all.empty_char"
    },
    {
      "type": "header",
      "content": "Match Option"
    },
    {
      "type": "select",
      "id": "option_type",
      "label": "Match Option type",
      "default": "by_name",
      "options": [
        {
          "value": "by_name",
          "label": "By Name"
        },
        {
          "value": "by_index",
          "label": "By Index"
        },
        {
          "value": "fallback_options",
          "label": "Fallback Options"
        }
      ]
    },
    {
      "type": "paragraph",
      "content": "Priority By name, By Index, then Fallback Options."
    },
    {
      "type": "text",
      "id": "match_option_titles",
      "label": "Match option titles",
      "info": "Comma separated list of possible option titles.",
      "visible_if": "{{ block.settings.option_type == 'by_name' }}"
    },
    {
      "type": "range",
      "id": "match_option_index",
      "label": "Match option index",
      "default": 1,
      "min": 1,
      "max": 3,
      "step": 1,
      "visible_if": "{{ block.settings.option_type == 'by_index' }}"
    },
    {
      "type": "checkbox",
      "id": "match_exact_word",
      "label": "Match exact word",
      "default": false,
      "info": "Enable this if you want to match the exact titles and make the 'Match option titles' case sensitive.",
      "visible_if": "{{ block.settings.option_type == 'by_name' }}"
    },
    {
      "type": "paragraph",
      "content": "t:all.empty_char"
    },
    {
      "type": "paragraph",
      "content": "t:all.empty_char"
    },
    {
      "type": "header",
      "content": "Block Globals"
    },
    {
      "type": "textarea",
      "id": "custom_css",
      "label": "Custom CSS",
      "default": "& {\n\n}\n& legend {\n  margin-bottom: 6px;\n}\n& fieldset {\n  gap: 6px;\n}\n& label {\n  width: 36px;\n  height: 36px;\n  border-width: 1px;\n  border-style: solid;\n  border-radius: 9999px;\n  outline-width: 2px;\n  outline-offset: 2px;\n}\n@media (max-width: 1024px) {\n  & {\n    \n  }\n}"
    }
  ],
  "presets": [
    {
      "name": "Option: Color / Image Swatch",
      "category": "** Product Option Select **"
    }
  ],
  "tag": null,
  "class": "shopify_block___main_product__option__color"
}
{% endschema %}
