{%- comment -%} Auto Generated Variables start {%- endcomment -%}
{%- liquid
  assign block_type = "_main_product__sibling__radio"
  assign section_type = "main_product"
  assign legend_label = block.settings.legend_label
  assign metafield = block.settings.metafield
  assign legend = block.settings.legend
  assign legend_class = block.settings.legend_class
  assign radio_button_class = block.settings.radio_button_class
  assign label_metafield = block.settings.label_metafield
  assign label_class = block.settings.label_class
  assign content_flow = block.settings.content_flow
  assign scrollbar_class = block.settings.scrollbar_class
  assign scroll_pagination_class = block.settings.scroll_pagination_class
  assign dangerously_check_markets = block.settings.dangerously_check_markets
  assign quick_view_visibility = block.settings.quick_view_visibility
  assign custom_css = block.settings.custom_css
-%}
{%- comment -%} Auto Generated Variables end {%- endcomment -%}

{% liquid
  assign product = section.settings.product | default: product

  assign namespace_key = metafield | remove: " " | strip_newlines | split: '.'
  assign metafield = product.metafields[namespace_key[0]][namespace_key[1]].value

  unless metafield.count > 0
    break
  endunless

  assign sibling_products = "" | split: "" | uniq
  assign sibling_handles = "" | split: "" | uniq
  assign sibling_titles = "" | split: "" | uniq
  assign sibling_swatch_titles = "" | split: "" | uniq

  for object in metafield
    if object.product.value.handle == blank
      continue
    endif

    if dangerously_check_markets
      assign item = all_products[object.product.value.handle]
      if item == blank
        continue
      endif
    endif

    assign _sibling_product = object.product.value | uniq
    assign _sibling_handle = object.product.value.handle | uniq
    assign _sibling_title = object.title.value | uniq
    assign _sibling_swatch_title = object.swatch.value.title.value | uniq

    assign sibling_products = sibling_products | concat: _sibling_product
    assign sibling_handles = sibling_handles | concat: _sibling_handle
    assign sibling_titles = sibling_titles | concat: _sibling_title
    assign sibling_swatch_titles = sibling_swatch_titles | concat: _sibling_swatch_title

    if object.product.value.handle == product.handle
      assign current_handle = product.handle
      assign current_title = object.title.value
    endif
  endfor

  unless metafield.count > 0
    assign is_empty = true
  endunless
  if current_handle == blank
    assign is_empty = true
  endif

  if is_empty and hide_if_empty != 'none'
    capture hide_conditionally
      if hide_if_empty == 'block'
        echo '<script type="block/hide"></script>'
        assign hide_attribute = 'data-hide-if-empty-block'
      endif
      if hide_if_empty == 'container'
        echo '<script type="container/break"></script>'
        assign hide_attribute = 'data-hide-if-empty-container'
      endif
      if hide_if_empty == 'section'
        echo '<script type="section/break"></script>'
        assign hide_attribute = 'data-hide-if-empty-section'
      endif
    endcapture

    if request.design_mode != true and hide_conditionally contains '<script'
      echo hide_conditionally
      break
    endif
    assign hide_attribute = hide_attribute | append: ' data-block-type="' | append: block_type | append: '"' | append: ' data-block-id="' | append: block.id | append: '"'
  endif

  if is_empty
    break
  endif

  assign content_legend = legend | replace: "[heading]", legend_label
  assign current_legend = content_legend | replace: "[value]", current_title | default: legend_label

  case content_flow
    when "show_all"
      assign container_classes = 'flex-wrap'
    when "truncate"
      assign container_classes = 'overflow-hidden'
    when "overflow"
      assign container_classes = 'overflow-x-auto'
  endcase
%}

{% capture selector %}[data-style-id="{{ section.id }}--{{ block.id }}"]{% endcapture %}

<style>
  {{ custom_css | replace: '&', selector | strip_newlines }}
</style>

<div data-style-id="{{ section.id }}--{{ block.id }}" {{ block.shopify_attributes }} {{ hide_attribute }}
     data-quick-view-visibility="{{ quick_view_visibility }}"
    {% if content_flow == 'overflow' %}
      x-data="{ current_sibling: `{{ current_handle }}`, hoverValue: `{{ current_handle }}`, sibling_handles: utils.JSONParse($el.getAttribute('data-values')), offset: +`{{ sibling_handles.size }}`, ...utils.initContentSlider($el, $refs.scrollContainer, undefined,`{{ infinite_scroll }}`, +`{{ auto_rotate }}`), show_all_items: true, desktop_display_limit: 9999, mobile_display_limit: 9999 }"
      x-init="sibling_handles?.forEach(handle =>{ barba.prefetch(utils.getSiblingUrl(handle)) }); $refs.scrollContainer.scrollLeft = ([...$refs.scrollContainer.children]?.find(child=> child?.classList?.contains('active'))?.offsetLeft ?? 0) - 5;"
    {% else %}
      x-data="{ current_sibling: `{{ current_handle }}`, hoverValue: `{{ current_handle }}`, sibling_handles: utils.JSONParse($el.getAttribute('data-values')), offset: +`{{ sibling_handles.size }}` }"
      x-init="sibling_handles?.forEach(handle =>{ barba.prefetch(utils.getSiblingUrl(handle)) })"
    {% endif %}
     data-values="{{ sibling_handles | json | escape }}"
     x-defer="intersect">
  <legend id="legend-{{ block.id }}"
          x-ignore
          class="flex w-full max-w-full truncate {{ legend_class }}"
          data-legend="{% render '_input.inline_richtext', content: content_legend, escape: true %}"
          data-current-title="{{ current_title | escape }}"
          x-effect="$el.innerHTML = $el.getAttribute('data-legend').replace('[value]', $el.getAttribute('data-current-title'))">
    {% render '_input.inline_richtext', content: current_legend %}
  </legend>
  <fieldset
      aria-labelledby="legend-{{ block.id }}"
      x-ignore
      class="relative w-full flex scrollbar-none {{ container_classes }}"
      {% if content_flow == 'overflow' %}
        x-ref="scrollContainer"
        @resize.window="content_slider.handleResize"
        x-init="$nextTick(() => content_slider.handleResize())"
        @scroll="content_slider.handleScroll"
        @scrollend="content_slider.handleInfiniteScroll"
      {% endif %}
  >
    {% for value in sibling_handles %}
      {% if value == blank %}{% continue %}{% endif %}
      <label class="shrink-0 {{ radio_button_class }} {% if value == current_handle %}active{% endif %}"
             x-effect="$el.classList.toggle('active', current_sibling === $el.getAttribute('aria-label'))"
             x-show="offset >= +`{{ forloop.index0 }}`"
             @pointerenter="hoverValue = $el.getAttribute('aria-label')"
             @pointerleave="hoverValue = ''"
             aria-label="{{ value }}">
        <input type="radio"
               class="sr-only"
               name="{{ block.id }}"
               @change="$data.setSiblingProduct($el.value, $el.closest('[data-quick-view-container]')); current_sibling = $el.value"
               :checked="current_sibling === $el.value"
               value="{{ value }}">
        {{ sibling_titles[forloop.index0] }}
      </label>
    {% endfor %}
    {% if content_flow == 'truncate' %}
      <div class="flex shrink-0 items-center text-sm font-medium"
           :class="offset < +`{{ sibling_handles.size }}` ? '':'opacity-0 pointer-events-none'"
           x-init="$nextTick(async ()=> { if (window.design_mode) { await utils.delay(20) } offset = utils.truncateChildren($el, $el.parentElement)})"
           @resize.window.debounce.200ms="offset = +`{{ sibling_handles.size }}`; await utils.delay(20); offset = utils.truncateChildren($el, $el.parentElement)"
           x-html="`+ ${+`{{ sibling_handles.size }}` - (offset + 1)} {{ legend_label }}`">
        +10 {{ legend_label }}
      </div>
    {% endif %}
  </fieldset>
  {% if content_flow == 'overflow' %}
    {% if scrollbar_class != blank %}
      {% render '_components.scrollbar', class: scrollbar_class %}
    {% endif %}
    {% if scroll_pagination_class != blank %}
      {% render '_components.scroll_pagination', class: scroll_pagination_class %}
    {% endif %}
  {% endif %}
</div>

{% schema %}
{
  "name": "Sibling: Radio Buttons",
  "settings": [
    {
      "type": "text",
      "id": "legend_label",
      "label": "Heading",
      "default": "Models"
    },
    {
      "type": "header",
      "content": "Data Source"
    },
    {
      "type": "text",
      "id": "metafield",
      "label": "Metaobject",
      "default": "smart.sibling_products",
      "info": "List of Metaobjects with the subfields of: 'product' (type: product_reference), 'title' (type: text) and 'color' (type: color) or 'image' (type: file_reference)."
    },
    {
      "type": "paragraph",
      "content": "It is possible to setup multiple sibling sets, using the same metaobject model on altering product metafield namespace.key settings."
    },
    {
      "type": "paragraph",
      "content": "t:all.empty_char"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "inline_richtext",
      "id": "legend",
      "label": "Heading",
      "default": "[heading]: [value]",
      "info": "[Shortcodes](https://getplatter.atlassian.net/wiki/external/YTBhYmQxMzFhOWQ1NGQ4MzhlNzY1MjZiNDU1YmQ5ODk) Use [heading] as a placeholder for the title, and [value] as a placeholder for the current / hover value."
    },
    {
      "type": "text",
      "id": "legend_class",
      "label": "Heading class",
      "default": "richtext-md h5"
    },
    {
      "type": "text",
      "id": "radio_button_class",
      "label": "Radio button class",
      "default": "button-primary-sm"
    },
    {
      "type": "paragraph",
      "content": "t:all.empty_char"
    },
    {
      "type": "header",
      "content": "Variant Highlight"
    },
    {
      "type": "text",
      "id": "label_metafield",
      "label": "Label metafield",
      "default": "smart.highlight",
      "info": "Metafield 'namespace.key'. The metafield needs to be of type 'text' and added to the Variant."
    },
    {
      "type": "text",
      "id": "label_class",
      "label": "Custom label class",
      "default": "label-primary"
    },
    {
      "type": "header",
      "content": "Inline Layout"
    },
    {
      "type": "select",
      "id": "content_flow",
      "label": "Content flow",
      "default": "show_all",
      "options": [
        {
          "value": "show_all",
          "label": "Show all"
        },
        {
          "value": "truncate",
          "label": "Truncate"
        },
        {
          "value": "overflow",
          "label": "Slider"
        }
      ]
    },
    {
      "type": "text",
      "id": "scrollbar_class",
      "label": "Scrollbar class",
      "default": "scrollbar",
      "info": "Leave empty to disable.",
      "visible_if": "{{ block.settings.content_flow == 'overflow' }}"
    },
    {
      "type": "text",
      "id": "scroll_pagination_class",
      "label": "Scroll Pagination class",
      "info": "Leave empty to disable.",
      "visible_if": "{{ block.settings.content_flow == 'overflow' }}"
    },
    {
      "type": "paragraph",
      "content": "t:all.empty_char"
    },
    {
      "type": "header",
      "content": "Markets"
    },
    {
      "type": "checkbox",
      "id": "dangerously_check_markets",
      "label": "Dangerously check markets",
      "info": "Market availability checks are limited to 20 products per entire page (all sections combined). [read more](https://shopify.dev/docs/api/liquid/objects/all_products)",
      "default": true
    },
    {
      "type": "header",
      "content": "Quick View Settings"
    },
    {
      "type": "select",
      "id": "quick_view_visibility",
      "label": "Quick View Visibility",
      "default": "default",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "hidden",
          "label": "hidden"
        },
        {
          "value": "mobile_header",
          "label": "Mobile Header"
        },
        {
          "value": "quick_view_only",
          "label": "Quick view only"
        }
      ]
    },
    {
      "type": "paragraph",
      "content": "You can additionally style elements using the Custom CSS, by targeting: '.quick-view & {}'"
    },
    {
      "type": "paragraph",
      "content": "t:all.empty_char"
    },
    {
      "type": "paragraph",
      "content": "t:all.empty_char"
    },
    {
      "type": "header",
      "content": "Block Globals"
    },
    {
      "type": "textarea",
      "id": "custom_css",
      "label": "Custom CSS",
      "default": "& {\n\n}\n& legend {\n  margin-bottom: 6px;\n}\n& fieldset {\n  gap: 6px;\n}\n@media (max-width: 1024px) {\n  & {\n    \n  }\n}"
    }
  ],
  "presets": [
    {
      "name": "Sibling: Radio Buttons",
      "category": "** Product Siblings **"
    }
  ],
  "tag": null,
  "class": "shopify_block___main_product__sibling__radio"
}
{% endschema %}
