{%- comment -%} Auto Generated Variables start {%- endcomment -%}
{%- liquid
  assign block_type = "_main_product__payment_terms"
  assign section_type = "main_product"
  assign content_class = block.settings.content_class
  assign quick_view_visibility = block.settings.quick_view_visibility
  assign custom_css = block.settings.custom_css
-%}
{%- comment -%} Auto Generated Variables end {%- endcomment -%}

{% liquid
  assign product = section.settings.product | default: product
  if section.settings.default_variant_metafield != blank
    assign variant_namespace = section.settings.default_variant_metafield | strip | split: "." | first
    assign variant_key = section.settings.default_variant_metafield | strip | split: "." | last
    assign variant = product.metafields[variant_namespace][variant_key].value | default: variant
  endif

  assign variant = variant | default: product.selected_or_first_available_variant | default: product.variants.first
%}

{% capture no_render %}
  {% form "product", product, id: product_form_id, novalidate: "novalidate" %}
    {% capture payment_terms %}
      {{ form | payment_terms }}
    {% endcapture %}
  {% endform %}
{% endcapture %}

{% capture selector %}[data-style-id="{{ section.id }}--{{ block.id }}"]{% endcapture %}

<style>
  {{ custom_css | replace: '&', selector | strip_newlines }}
</style>


<div data-style-id="{{ section.id }}--{{ block.id }}" {{ block.shopify_attributes }} class="{{ content_class }}"
     data-quick-view-visibility="{{ quick_view_visibility }}">
  {{ payment_terms }}
</div>

{% schema %}
{
  "name": "Payment terms",
  "settings": [
    {
      "type": "text",
      "id": "content_class",
      "label": "Content class",
      "default": "richtext-md p font-bold"
    },
    {
      "type": "header",
      "content": "Quick View Settings"
    },
    {
      "type": "select",
      "id": "quick_view_visibility",
      "label": "Quick View Visibility",
      "default": "default",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "hidden",
          "label": "hidden"
        },
        {
          "value": "mobile_header",
          "label": "Mobile Header"
        },
        {
          "value": "quick_view_only",
          "label": "Quick view only"
        }
      ]
    },
    {
      "type": "paragraph",
      "content": "You can additionally style elements using the Custom CSS, by targeting: '.quick-view & {}'"
    },
    {
      "type": "paragraph",
      "content": "t:all.empty_char"
    },
    {
      "type": "paragraph",
      "content": "t:all.empty_char"
    },
    {
      "type": "header",
      "content": "Block Globals"
    },
    {
      "type": "textarea",
      "id": "custom_css",
      "label": "Custom CSS",
      "default": "& {\n}\n"
    }
  ],
  "presets": [
    {
      "name": "Payment terms",
      "category": "** Product **"
    }
  ],
  "tag": null,
  "class": "shopify_block___main_product__payment_terms"
}
{% endschema %}
