{%- comment -%} Auto Generated Variables start {%- endcomment -%}
{%- liquid
  assign block_type = "_main_cart__checkout_button"
  assign section_type = "main_cart"
  assign show_conditionally = block.settings.show_conditionally
  assign label = block.settings.label
  assign button_class = block.settings.button_class
  assign custom_css = block.settings.custom_css
-%}
{%- comment -%} Auto Generated Variables end {%- endcomment -%}

{% capture selector %}[data-style-id="{{ section.id }}--{{ block.id }}"]{% endcapture %}

<style>{{ custom_css | replace: '&', selector | strip_newlines }}</style>

<form data-style-id="{{ section.id }}--{{ block.id }}" {{ block.shopify_attributes }}
      action="{{ routes.cart_url }}"
      method="post"
      class="{{ border_divider }}"
      x-data="{ checkingOut: false }"
      x-show="_cart.showConditionally(`{{ show_conditionally }}`) || $editor?.select_block_id === `{{ block.id }}`"
  {% if show_conditionally == 'cart_empty' and cart.item_count > 0 %}x-cloak{% endif %}
  {% if show_conditionally == 'items_added' and cart.item_count <= 0 %}x-cloak{% endif %}>
  <button type="submit"
          name="checkout"
          value="Checkout"
          @click="checkingOut = true; await utils.delay(5000); checkingOut = false"
          class="{{ button_class }} w-full disabled:pointer-events-none"
          :class="clsx(Object.keys($cart.debounce_updates ?? {})?.length || checkingOut && 'button-loading')"
          :disabled="!!($cart.loading || Object.keys($cart.debounce_updates ?? {})?.length || $cart.isChanging)"
          data-content="{% render '_input.inline_richtext', content: label, escape: true, skip_pluralization: true %}"
          x-html="_cart.getDynamicTextWithFormattedPrice($el.getAttribute('data-content'))">
  </button>
</form>

{% schema %}
{
  "name": "Checkout Button",
  "settings": [
    {
      "type": "select",
      "id": "show_conditionally",
      "label": "Show conditionally",
      "default": "always",
      "options": [
        {
          "value": "always",
          "label": "Always"
        },
        {
          "value": "cart_empty",
          "label": "Cart Empty"
        },
        {
          "value": "items_added",
          "label": "Items Added"
        }
      ]
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "inline_richtext",
      "id": "label",
      "label": "Label",
      "default": "[icon.lock] Checkout [cart.total_price]",
      "info": "[Shortcodes](https://getplatter.atlassian.net/wiki/external/YTBhYmQxMzFhOWQ1NGQ4MzhlNzY1MjZiNDU1YmQ5ODk)"
    },
    {
      "type": "text",
      "id": "button_class",
      "label": "Button class",
      "default": "button-primary"
    },
    {
      "type": "header",
      "content": "Settings"
    },
    {
      "type": "paragraph",
      "content": "t:all.empty_char"
    },
    {
      "type": "paragraph",
      "content": "t:all.empty_char"
    },
    {
      "type": "header",
      "content": "Block Globals"
    },
    {
      "type": "textarea",
      "id": "custom_css",
      "label": "Custom CSS",
      "default": "& {\n}\n"
    }
  ],
  "presets": [
    {
      "name": "Checkout Button",
      "category": "** Cart **"
    }
  ],
  "tag": null,
  "class": "shopify_block___main_cart__checkout_button"
}
{% endschema %}
