{% if product.metafields.custom.choose_supply_variant_selector == true %}
  {% style %}
    ul.product-choose-supply-variants,
    ul.product-choose-supply-variants li {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
    }

    ul.product-choose-supply-variants {
      margin-top: 15px;
      width: 100%;
    }

    ul.product-choose-supply-variants li {
      flex-direction: column;
      gap: 5px;
      position: relative;
      width: calc(33.33% - 10px);
      background-color: #ffffff;
      border-radius: 8px;
      text-align: center;
    }

    ul.product-choose-supply-variants li div:first-child {
      justify-items: center;
    }

    ul.product-choose-supply-variants li label {
      display: block !important;
      padding: 15px;
      height: 100%;
      background-image: none !important;
      border: 1px solid transparent;
      border-radius: 8px;
    }

    ul.product-choose-supply-variants li img {
      margin: 0 auto;
    }

    ul.product-choose-supply-variants li h3,
    .richtext-md[data-content*="Subscribe & Save"] {
      font-weight: 500;
    }

    ul.product-choose-supply-variants li p.subheading,
    ul.product-choose-supply-variants li p.price-per-unit span.per-unit {
      font-size: 80%;
      color: #6a6a6a;
    }

    /*ul.product-choose-supply-variants li p.price-per-unit*/
    ul.product-choose-supply-variants li p.saved {
      margin-top: 15px;
    }

    ul.product-choose-supply-variants li p.price-per-unit span.price {
      /*font-size: 120%;*/
      font-weight: 500;
    }

    ul.product-choose-supply-variants li p.saved {
      font-size: 120%;
      color: #4659FF;
      font-weight: 500;
    }

    ul.product-choose-supply-variants li span.label-secondary {
      position: absolute;
      top: -12px;
      right: 0;
      left: 0;
      margin: 0 auto;
      max-width: 110px;
      height: 24px;
      background-color: {{ product.metafields.custom.choose_supply_label_background_color | default: '#4659ff' }};
      color: {{ product.metafields.custom.choose_supply_label_font_color | default: '#ffffff' }};
      text-transform: uppercase;
      line-height: 24px;
    }

    ul.product-choose-supply-variants li.active label,
    ul.product-choose-supply-variants li label:hover {
      border-color: #000000;
    }

    div[data-style-id*="main_product_subscribe_toggle_card"] {
      margin-top: 15px !important;
    }

    /* Phone */
    @media (max-width: 768px) {
      ul.product-choose-supply-variants li label {
        padding: 10px;
        width: 100%;
      }

      ul.product-choose-supply-variants li p.price-per-unit span.price,
      ul.product-choose-supply-variants li p.price-per-unit span.per-unit/*,
      ul.product-choose-supply-variants li p.saved*/ {
        font-size: 75%;
      }

      /*ul.product-choose-supply-variants li p.price-per-unit*/
      ul.product-choose-supply-variants li p.saved {
        margin-top: 5px;
        font-size: 100%;
      }
    }
  {% endstyle %}

  <div data-style-id="{{ section.id }}--{{ block.id }}" {{ block.shopify_attributes }}>
    <fieldset class="relative w-full flex scrollbar-none" aria-labelledby="legend-{{ block.id }}">
      <ul class="product-choose-supply-variants">
        {% assign current_value = product.selected_or_first_available_variant.id %}

        {% for variant in product.variants %}
          {% liquid
            assign _value = variant.title | handleize
            assign image = variant.image | image_url: width: 180, height: 180, crop: 'center' | escape
            assign primary_swatch = "--primary-swatch: url(" | append: image | append: ") center center/cover no-repeat"
            assign variant_bottles = variant.title | split: " " | first | times: 1
            assign skio_price = variant.metafields.custom.choose_supply_variant_price.value
            assign price_per_bottle = skio_price | divided_by: variant_bottles
          %}

          <li{% if variant.id == current_value %} class="active"{% endif %}>
            <label
            class="shrink-0 flex border-gray-300 cursor-pointer relative{% if variant.id == current_value %} active{% endif %}"
            x-effect="$el.classList.toggle('active', (pdp?.selected_variant?.id ?? 0) === {{ variant.id }})"
            @pointerenter="hoverValue = '{{ variant.title }}'"
            @pointerleave="hoverValue = ''"
            aria-label="{{ variant.title }}"
            style="{{ primary_swatch }};background: var(--primary-swatch, var(--fallback-swatch, {{ _value }}))">
              <input
                type="radio"
                class="sr-only"
                name="{{ block.id }}"
                @change="$data.setSelectedVariant(Number($el.value))"
                :checked="(pdp?.selected_variant?.id ?? 0) == $el.value"
                value="{{ variant.id }}"
                data-variant-id="{{ variant.id }}"
                data-selling-plan-id="{{ variant.selling_plan_allocations.first.selling_plan.id }}"
                data-price-formatted="{{ variant.price | money }}"
                data-skio-price-formatted="{{ skio_price | money }}"
              >
              
              <div>
                <img src="{{ variant.featured_image | image_url: width: 200, height: 200 }}" alt="{{ variant.title | escape }}" width="100" height="100">
              </div>
              <h3 title="{{ variant.title | escape }}">{{ variant.title }}</h3>
              <p class="subheading">{{ variant.metafields.custom.choose_supply_variant_subheading }}</p>
              <p class="price" data-price="{{ variant.price }}" data-bottles="{{ variant_bottles }}" data-skio-price-per-bottle="{{ price_per_bottle }}" style="display: none;">
                <span class="price">{{ variant.price | money }}</span>

                {% if variant.compare_at_price > variant.price %}
                  <span class="compare-at-price line-through">{{ variant.compare_at_price | money }}</span>
                  <span class="saved">Save {{ variant.compare_at_price | minus: variant.price | money }}</span>
                {% endif %}

                {% if skio_price < variant.price %}
                  <span class="compare-at-price line-through">{{ skio_price | money }}</span>
                  <span class="saved">Save {{ skio_price | minus: variant.price | money }}</span>
                {% endif %}
              </p>

              {% if variant.compare_at_price > variant.price %}
                <p class="saved">
                  Save {{ variant.compare_at_price | minus: variant.price | money }}
                </p>
              {% endif %}

              {% if skio_price < variant.price %}
                <p class="saved">
                  {% comment %} Save {{ variant.price | minus: skio_price | money }} {% endcomment %}
                  {{ variant.price | minus: skio_price | times: 100 | divided_by: variant.price | round }}% off
                </p>
              {% endif %}

              <p class="price-per-unit">
                <span class="price">{{ price_per_bottle | money }}</span><span class="per-unit">/bottle</span>
              </p>

              {% unless variant.metafields.custom.choose_supply_variant_label == blank %}
                <span class="empty:hidden label-secondary">{{ variant.metafields.custom.choose_supply_variant_label }}</span>
              {% endunless %}
            </label>
          </li>
        {% endfor %}
      </ul>
    </fieldset>
  </div>

  <script type="application/javascript">
    /**
      * Add event listeners to the choose supply variant labels
      * @description Add event listeners to the choose supply variant labels
      * @returns {void}
      */
    function choose_supply_variant_label_click() {
      const choose_supply_variant_labels = document.querySelectorAll('ul.product-choose-supply-variants li label');

      choose_supply_variant_labels.forEach(label => {
        label.addEventListener('click', () => {
          const label_parent = label.parentElement;
          const active_label_parent = document.querySelector('ul.product-choose-supply-variants li.active');

          if (active_label_parent) {
            active_label_parent.classList.remove('active');
          }

          label_parent.classList.add('active');
        });
      });
    }

    /**
     * Listen for changes to the selling plan in the URL
     * @description Listen for changes to the selling plan in the URL
     * @returns {void}
     */
    function selling_plan_listener() {
      const choose_supply_variants_prices = document.querySelectorAll('ul.product-choose-supply-variants li p.price');
      const choose_supply_variants_price_per_bottle = document.querySelectorAll('ul.product-choose-supply-variants li p.price-per-unit span.price');
      const choose_supply_variants_saved = document.querySelectorAll('ul.product-choose-supply-variants li p.saved');

      function get_selling_plan_from_url() {
        return new URLSearchParams(window.location.search).get('selling_plan');
      }

      let prev = get_selling_plan_from_url();

      function check() {
        const current = get_selling_plan_from_url();

        if (current === prev) return;

        // If the selling plan is added to the URL
        if (prev == null && current != null) {
          choose_supply_variants_saved.forEach((saved, index) => {
            const price = choose_supply_variants_prices[index].getAttribute('data-price');
            const bottles = choose_supply_variants_prices[index].getAttribute('data-bottles');
            const price_per_bottle = price / Number(bottles);

            // Set the price per bottle (Shopify prices in cents)
            choose_supply_variants_price_per_bottle[index].textContent = window.formatMoney(Number(choose_supply_variants_prices[index].getAttribute('data-skio-price-per-bottle')));

            // Show the saved price
            saved.style.display = 'block';
          });
        }

        // If the selling plan is removed from the URL
        if (prev != null && current == null) {
          choose_supply_variants_saved.forEach((saved, index) => {
            const price = choose_supply_variants_prices[index].getAttribute('data-price');
            const bottles = choose_supply_variants_prices[index].getAttribute('data-bottles');
            const price_per_bottle = price / Number(bottles);

            // Set the price per bottle (Shopify prices in cents)
            choose_supply_variants_price_per_bottle[index].textContent = window.formatMoney(price_per_bottle);

            // Hide the saved price
            saved.style.display = 'none';
          });
        }

        prev = current;
      }

      // Add event listener to the popstate event
      window.addEventListener('popstate', check);

      // Add event listeners to the push and replace state methods
      const push = history.pushState.bind(history);
      const replace = history.replaceState.bind(history);

      history.pushState = function(...args) { push(...args); check(); };
      history.replaceState = function(...args) { replace(...args); check(); };
    }

    /**
     * Initialize choose supply functions when the DOM is loaded
     * @description Initialize choose supply functions when the DOM is loaded
     * @returns {void}
     */
    document.addEventListener('DOMContentLoaded', () => {
      choose_supply_variant_label_click();
      selling_plan_listener();
    });
  </script>
{% endif %}

{% schema %}
{
  "name": "Choose Supply",
  "settings": [],
  "class": "shopify_block___main_product__choose_supply",
  "presets": [
    {
      "name": "Choose Supply",
      "category": "** Product **"
    }
  ],
  "tag": null
}
{% endschema %}
