{%- comment -%} Auto Generated Variables start {%- endcomment -%}
{%- liquid
  assign block_type = "_main_product__sibling__scent_sidebar"
  assign section_type = "main_product"
  assign legend_label = block.settings.legend_label
  assign metafield = block.settings.metafield
  assign legend = block.settings.legend
  assign legend_class = block.settings.legend_class
  assign select_class = block.settings.select_class
  assign dangerously_check_markets = block.settings.dangerously_check_markets
  assign quick_view_visibility = block.settings.quick_view_visibility
  assign custom_css = block.settings.custom_css
-%}
{%- comment -%} Auto Generated Variables end {%- endcomment -%}

{% liquid
  assign product = section.settings.product | default: product

  assign namespace_key = metafield | remove: " " | strip_newlines | split: '.'
  assign metafield = product.metafields[namespace_key[0]][namespace_key[1]].value

  unless metafield.count > 0
    break
  endunless

  assign sibling_products = "" | split: "" | uniq
  assign sibling_handles = "" | split: "" | uniq
  assign sibling_titles = "" | split: "" | uniq
  assign sibling_colors = "" | split: "" | uniq
  assign sibling_images = "" | split: "" | uniq
  assign sibling_swatch_titles = "" | split: "" | uniq
  assign sibling_swatch_colors = "" | split: "" | uniq
  assign sibling_swatch_images = "" | split: "" | uniq
  assign sibling_swatch_description = "" | split: "" | uniq

  for object in metafield
    if object.product.value.handle == blank
      continue
    endif

    if dangerously_check_markets
      assign item = all_products[object.product.value.handle]
      if item == blank
        continue
      endif
    endif

    assign _sibling_product = object.product.value | uniq
    assign _sibling_handle = object.product.value.handle | uniq
    assign _sibling_title = object.title.value | uniq
    assign _sibling_color = object.color.value | uniq
    assign _sibling_image = object.image.value | uniq
    assign _sibling_swatch_title = object.scent.value.title.value | uniq
    assign _sibling_swatch_color = object.scent.value.color.value | uniq
    assign _sibling_swatch_image = object.scent.value.image.value | uniq
    assign _sibling_swatch_description = object.scent.value.short_description.value | uniq

    assign sibling_products = sibling_products | concat: _sibling_product
    assign sibling_handles = sibling_handles | concat: _sibling_handle
    assign sibling_titles = sibling_titles | concat: _sibling_title
    assign sibling_colors = sibling_colors | concat: _sibling_color
    assign sibling_images = sibling_images | concat: _sibling_image
    assign sibling_swatch_titles = sibling_swatch_titles | concat: _sibling_swatch_title
    assign sibling_swatch_colors = sibling_swatch_colors | concat: _sibling_swatch_color
    assign sibling_swatch_images = sibling_swatch_images | concat: _sibling_swatch_image
    assign sibling_swatch_description = sibling_swatch_description | concat: _sibling_swatch_description

    if object.product.value.handle == product.handle
      assign current_handle = product.handle
      assign current_title = object.title.value
      assign current_color = object.color.value | default: object.scent.value.color.value
      assign current_image = object.image.value | default: object.scent.value.image.value
      assign current_description = object.scent.value.short_description.value
    endif
  endfor

  unless metafield.count > 0
    assign is_empty = true
  endunless
  if current_handle == blank
    assign is_empty = true
  endif

  if is_empty and hide_if_empty != 'none'
    capture hide_conditionally
      if hide_if_empty == 'block'
        echo '<script type="block/hide"></script>'
        assign hide_attribute = 'data-hide-if-empty-block'
      endif
      if hide_if_empty == 'container'
        echo '<script type="container/break"></script>'
        assign hide_attribute = 'data-hide-if-empty-container'
      endif
      if hide_if_empty == 'section'
        echo '<script type="section/break"></script>'
        assign hide_attribute = 'data-hide-if-empty-section'
      endif
    endcapture

    if request.design_mode != true and hide_conditionally contains '<script'
      echo hide_conditionally
      break
    endif
    assign hide_attribute = hide_attribute | append: ' data-block-type="' | append: block_type | append: '"' | append: ' data-block-id="' | append: block.id | append: '"'
  endif

  if is_empty
    break
  endif

  assign content_legend = legend | replace: "[heading]", legend_label
  assign current_legend = content_legend | replace: "[value]", current_title | default: legend_label
%}

{% capture selector %}[data-style-id="{{ section.id }}--{{ block.id }}"]{% endcapture %}

<style>
  {{ custom_css | replace: '&', selector | strip_newlines }}
</style>

<fieldset data-style-id="{{ section.id }}--{{ block.id }}" {{ block.shopify_attributes }} {{ hide_attribute }}
          data-quick-view-visibility="{{ quick_view_visibility }}"
          x-data="{ sibling_handles: utils.JSONParse($el.getAttribute('data-values'))?.filter(Boolean) ?? [] }"
          x-init="sibling_handles?.forEach(handle =>{ barba.prefetch(utils.getSiblingUrl(handle)) })"
          x-defer="intersect"
          data-values="{{ sibling_handles | json | escape }}">
  <legend class="flex w-full max-w-full truncate {{ legend_class }}"
          x-ignore
          data-legend="{% render '_input.inline_richtext', content: content_legend, escape: true %}"
          data-current-title="{{ current_title | escape }}"
          x-effect="$el.innerHTML = $el.getAttribute('data-legend').replace('[value]', $el.getAttribute('data-current-title'))">
    {% render '_input.inline_richtext', content: current_legend %}
  </legend>
  <button class="w-full flex items-center pl-5 py-2 gap-3 pr-4 gap-3.5 {{ select_class }}"
          x-ignore
          type="button"
          aria-label="{{ legend_label }}"
          @click.prevent.stop="$modal.setId('modal--scent_selector')"
          @keydown.space.prevent="$modal.setId('modal--scent_selector')"
          @keydown.enter.prevent="$modal.setId('modal--scent_selector')"
          aria-haspopup="listbox"
          aria-expanded="false">
    <span class="image-wrapper flex size-10 shrink-0 items-center justify-center rounded-full border-2 border-current"
          style="color: {{ current_color }};">
      {% render '_object.image', image: current_image, class: "size-8 rounded-full overflow-hidden", width: 32, height: 32 %}
    </span>
    <span class="w-full truncate text-left">{{ current_title | default: current_handle | default: "Loading" }}</span>
  </button>
</fieldset>


<div x-data="{ show:  $modal.id === 'modal--scent_selector', short_description: `{{ current_description }}`, current_handle: `{{ current_handle }}` }"
     x-effect="show = $editor?.select_section_id === '{{ section.id }}' || $modal.id === 'modal--scent_selector'"
     x-defer="intersect"
     x-cloak>
  <div class="fixed inset-0 transition duration-150 ease-in-out bg-modal-backdrop"
       :class="clsx(show ? 'z-[2147483646]' : 'z-40')"
       x-show="show"
       @click="$modal.setId('')"
       x-transition:enter-start="opacity-0"
       x-transition:enter-end="opacity-100"
       x-transition:leave-start="opacity-100"
       x-transition:leave-end="opacity-0"></div>
  <div class="fixed inset-y-0 right-0 isolate flex max-h-full min-h-full w-full flex-col overflow-hidden bg-white transition-all duration-150 ease-in-out md:max-w-sm max-md:mt-20 max-md:rounded-t-[32px]"
       :class="clsx(show ? 'z-max' : 'z-50')"
       style="{{ styles | strip_newlines }}"
       x-show="show"
       x-trap.noautofocus="show"
       x-transition:enter-start="md:translate-x-full max-md:translate-y-full"
       x-transition:enter-end="md:translate-x-0 max-md:translate-y-0"
       x-transition:leave-start="md:translate-x-0 max-md:translate-y-0"
       x-transition:leave-end="md:translate-x-full max-md:translate-y-full">
    <header class="shrink-0 px-6 py-8 max-md:pt-4">
      <div class="relative flex items-center md:justify-center">
        <div class="text-primary text-22/20-xh">select your scent</div>
        <button type="button" class="absolute top-1/2 -translate-y-1/2 md:left-0 max-md:right-0 hf:opacity-50" @click="$modal.setId('')">
          {% render '_components.icon', icon: 'x-mark', class: 'size-6' %}
        </button>
      </div>
    </header>
    <div class="flex flex-1 shrink-0 flex-col overflow-y-auto p-4 gap-1.5">
      {% for handle in sibling_handles %}
        <button type="button"
                {% if sibling_products[forloop.index0].available != true %}disabled="disabled"{% endif %}
                @click.prevent.stop="short_description = $el.getAttribute('data-short-description'); current_handle = `{{ handle }}`"
                data-short-description="{{ sibling_swatch_description[forloop.index0] | escape }}"
                :class="clsx(current_handle === `{{ handle }}` && 'active')"
                class="p-4 py-2 rounded-full bg-white hfaa:shadow-[0px_4px_16px_0px_rgba(0,0,0,0.12)] flex items-center gap-3 group disabled:pointer-events-none">
          <div class="relative flex size-10 shrink-0 items-center justify-center rounded-full border-2 border-current bg-current group-hf:bg-transparent group-ac:bg-transparent"
               style="color: {{ sibling_swatch_colors[forloop.index0] }};">
            {% render '_object.image', image: sibling_swatch_images[forloop.index0], class: "size-8 rounded-full overflow-hidden opacity-0 group-hf:opacity-100 group-ac:opacity-100", width: 32, height: 32 %}
            {% if sibling_products[forloop.index0].available != true %}
              <div class="absolute -inset-y-1 w-1 rotate-45 bg-white"></div>
            {% endif %}
          </div>
          {% if sibling_products[forloop.index0].available %}
            <span class="w-full text-left font-medium">{{ sibling_swatch_titles[forloop.index0] }}</span>
          {% else %}
            <span class="w-full text-left italic text-[#707070]">{{ sibling_swatch_titles[forloop.index0] }} - out of stock</span>
          {% endif %}
          {% if sibling_products[forloop.index0].metafields.smart.shoutout.value %}
            <span class="flex items-center justify-center shrink-0 ml-auto text-sm py-1.5 px-3 rounded-full bg-[#7800BF] text-white">{{ sibling_products[forloop.index0].metafields.smart.shoutout.value }}</span>
          {% endif %}
        </button>
      {% endfor %}
    </div>
    <div class="sticky inset-x-0 bottom-0 shrink-0 border-t border-t-gray-200 bg-white p-4">
      <div class="font-medium text-primary">scent details</div>
      <p class="mt-1" x-html="short_description">{{ current_description }}</p>
      <button type="button"
              class="mt-4 w-full button-primary"
              @click.prevent.stop="$data.setSiblingProduct(current_handle, $el.closest('[data-quick-view-container]'));$modal.setId('');">select scent
      </button>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Sibling: Scent + Sidebar",
  "settings": [
    {
      "type": "text",
      "id": "legend_label",
      "label": "Heading",
      "default": "Models"
    },
    {
      "type": "header",
      "content": "Data Source"
    },
    {
      "type": "text",
      "id": "metafield",
      "label": "Metaobject",
      "default": "smart.sibling_products",
      "info": "List of Metaobjects with the subfields of: 'product' (type: product_reference), 'title' (type: text) and 'color' (type: color) or 'image' (type: file_reference)."
    },
    {
      "type": "paragraph",
      "content": "It is possible to setup multiple sibling sets, using the same metaobject model on altering product metafield namespace.key settings."
    },
    {
      "type": "paragraph",
      "content": "t:all.empty_char"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "inline_richtext",
      "id": "legend",
      "label": "Heading",
      "default": "[heading]: [value]",
      "info": "[Shortcodes](https://getplatter.atlassian.net/wiki/external/YTBhYmQxMzFhOWQ1NGQ4MzhlNzY1MjZiNDU1YmQ5ODk) Use [heading] as a placeholder for the title, and [value] as a placeholder for the current / hover value."
    },
    {
      "type": "text",
      "id": "legend_class",
      "label": "Heading class",
      "default": "richtext-md h5"
    },
    {
      "type": "text",
      "id": "select_class",
      "label": "Select class",
      "default": "input-select"
    },
    {
      "type": "header",
      "content": "Inline Layout"
    },
    {
      "type": "paragraph",
      "content": "t:all.empty_char"
    },
    {
      "type": "header",
      "content": "Markets"
    },
    {
      "type": "checkbox",
      "id": "dangerously_check_markets",
      "label": "Dangerously check markets",
      "info": "Market availability checks are limited to 20 products per entire page (all sections combined). [read more](https://shopify.dev/docs/api/liquid/objects/all_products)",
      "default": true
    },
    {
      "type": "header",
      "content": "Quick View Settings"
    },
    {
      "type": "select",
      "id": "quick_view_visibility",
      "label": "Quick View Visibility",
      "default": "default",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "hidden",
          "label": "hidden"
        },
        {
          "value": "mobile_header",
          "label": "Mobile Header"
        },
        {
          "value": "quick_view_only",
          "label": "Quick view only"
        }
      ]
    },
    {
      "type": "paragraph",
      "content": "You can additionally style elements using the Custom CSS, by targeting: '.quick-view & {}'"
    },
    {
      "type": "paragraph",
      "content": "t:all.empty_char"
    },
    {
      "type": "paragraph",
      "content": "t:all.empty_char"
    },
    {
      "type": "header",
      "content": "Block Globals"
    },
    {
      "type": "textarea",
      "id": "custom_css",
      "label": "Custom CSS",
      "default": "& {\n\n}\n& legend {\n  margin-bottom: 6px;\n}\n@media (max-width: 1024px) {\n  & {\n    \n  }\n}"
    }
  ],
  "presets": [
    {
      "name": "Sibling: Scent + Sidebar",
      "category": "** Product Siblings **"
    }
  ],
  "tag": null,
  "class": "shopify_block___main_product__sibling__scent_sidebar"
}
{% endschema %}
