{%- comment -%} Auto Generated Variables start {%- endcomment -%}
{%- liquid
  assign block_type = "_main_blog__article_cards"
  assign section_type = "main_blog"
  assign pagination_size = block.settings.pagination_size
  assign article_card_class = block.settings.article_card_class
  assign pagination_style = block.settings.pagination_style
  assign pagination_class = block.settings.pagination_class
  assign results_count = block.settings.results_count
  assign results_count_class = block.settings.results_count_class
  assign load_more_button_text = block.settings.load_more_button_text
  assign load_more_button_class = block.settings.load_more_button_class
  assign enable_mouse_dragging = block.settings.enable_mouse_dragging
  assign slider_scroll_snap = block.settings.slider_scroll_snap
  assign slider_overflow_container = block.settings.slider_overflow_container
  assign infinite_scroll = block.settings.infinite_scroll
  assign scrollbar_class = block.settings.scrollbar_class
  assign scroll_pagination_class = block.settings.scroll_pagination_class
  assign custom_css = block.settings.custom_css
-%}
{%- comment -%} Auto Generated Variables end {%- endcomment -%}

{% liquid
  assign container_spacing = section.settings.container_spacing
  case slider_overflow_container
    when 'all'
      assign slider_overflow = container_spacing | replace: 'px', '-mx' | append: " scroll-" | append: container_spacing | append: " " | append: container_spacing
    when 'mobile'
      assign slider_overflow = container_spacing | replace: 'px', 'max-md:-mx' | append: " max-md:scroll-" | append: container_spacing | append: " max-md:" | append: container_spacing
    when 'desktop'
      assign slider_overflow = container_spacing | replace: 'px', 'md:-mx' | append: " md:scroll-" | append: container_spacing | append: " md:" | append: container_spacing
  endcase
%}

{% assign article_section = article_card_class.schema.value %}

{% paginate blog.articles by pagination_size %}
  {% assign results_count = results_count | replace: '[total]', paginate.items %}
  {% assign current_count = paginate.page_size | at_most: paginate.items %}
  {% assign results_count_transformed = results_count | replace: '[count]', current_count %}

  {% capture selector %}[data-style-id="{{ section.id }}--{{ block.id }}"]{% endcapture %}

  <style>{{ custom_css | replace: '&', selector | strip_newlines }}</style>

  <section data-style-id="{{ section.id }}--{{ block.id }}" {{ block.shopify_attributes }}
           class="relative flex flex-col"
           x-data="{ ...utils.initContentSlider($el, $refs.scrollContainer, undefined,`{{ infinite_scroll }}`, undefined, `{{ enable_mouse_dragging }}` === 'true') }"
           x-defer="intersect">
    <div class="grid-container relative grid overflow-x-auto scrollbar-none overflow-y-hidden {{ slider_scroll_snap }} {{ slider_overflow }}"
         x-ref="scrollContainer"
         @resize.window="content_slider.handleResize"
         x-init="$nextTick(() => content_slider.handleResize())"
         @scroll="content_slider.handleScroll"
         @scrollend="content_slider.handleInfiniteScroll"
         data-next-url="{{ paginate.next.url }}">
      {% content_for 'blocks' %}
      {% for article in blog.articles %}
        {% assign order_index = forloop.index0 | plus: order_offset %}
        {% if pagination_style == 'manual' or pagination_style == 'auto' %}
          {% assign order_index = paginate.current_offset | plus: forloop.index0 | plus: order_offset %}
        {% endif %}

        <div class="shrink-0 max-w-full w-full h-full order-[--order]"
             data-render-index="{{ block.id }}--{{ forloop.index0 }}"
             data-article-handle="{{ article.handle }}"
             style="--order: {{ order_index | times: 10 }}">
          {% if article_section != blank %}
            {% assign preload_images_boolean = true %}
            {% if forloop.index0 >= preload_images %}
              {% assign preload_images_boolean = false %}
            {% endif %}

            {% render "card_article_card._static", article: article, section: article_section, preload_images: preload_images_boolean %}
          {% else %}
            <section class="card-loading article-card--{{ article_card_class }}"
                     data-article-handle="{{ article.handle }}"
                     data-article-id="{{ article.id }}"
                     data-card-handle="{{ article_card_class }}"
                     x-init="$nextTick(() => _sections.hydrateArticleCard($el))"></section>
            <script type="application/json"
                    data-article-data="{{ article.handle }}">{%- render '_json.article', article: article, meta_article: true -%}</script>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    {% case pagination_style %}
      {% when 'classic' %}
        {% if pagination_class != blank %}
          {% render '_components.pagination', class: pagination_class, paginate: paginate, pagination_container_ref: '$refs.scrollContainer' %}
        {% endif %}
      {% when 'manual' %}
        <footer x-show="!!main_blog.state.next_url"
                class="flex justify-center items-center flex-col text-center mt-14 gap-4">
          <div class="{{ results_count_class }}"
               x-html="$el.getAttribute('data-results-content').replaceAll('[count]',`${main_blog?.state?.count}`)"
               data-results-content="{% render '_input.inline_richtext', content: results_count, escape: true %}">
            {% render '_input.inline_richtext', content: results_count_transformed %}
          </div>
          <button type="button"
                  :disabled="main_blog.state.loading"
                  :class="main_blog.state.loading ? 'button-loading' : ''"
                  @click="main_blog.loadNextPage()"
                  class="{{ load_more_button_class }} max-md:w-full"
                  x-show="main_blog?.state?.count < +`{{ paginate.items }}`">
            {% render '_input.inline_richtext', content: load_more_button_text %}
          </button>
        </footer>
      {% when 'auto' %}
        <div x-show="!!main_blog.state.next_url"
             class="p-4"
             x-intersect.margin.1200px="main_blog.loadNextPage"
             x-effect="!main_blog.state.loading && ($el.getBoundingClientRect().top - window.innerHeight) < 1200 ? main_blog.loadNextPage() : null"
        >
          <div class="relative h-12 button-loading">
          </div>
        </div>
    {% endcase %}

    {% if scrollbar_class != blank %}
      {% render '_components.scrollbar', class: scrollbar_class %}
    {% endif %}

    {% if scroll_pagination_class != blank %}
      {% render '_components.scroll_pagination', class: scroll_pagination_class %}
    {% endif %}
  </section>
{% endpaginate %}

{% schema %}
{
  "name": "Article Cards",
  "settings": [
    {
      "type": "header",
      "content": "Display Settings"
    },
    {
      "type": "range",
      "id": "pagination_size",
      "label": "Pagination size",
      "default": 12,
      "min": 1,
      "max": 50,
      "step": 1
    },
    {
      "type": "text",
      "id": "article_card_class",
      "label": "Article card class",
      "default": "article-card"
    },
    {
      "type": "paragraph",
      "content": "t:all.empty_char"
    },
    {
      "type": "header",
      "content": "Pagination Settings"
    },
    {
      "type": "select",
      "id": "pagination_style",
      "label": "Pagination style",
      "default": "manual",
      "options": [
        {
          "value": "classic",
          "label": "Classic"
        },
        {
          "value": "manual",
          "label": "Manual"
        },
        {
          "value": "auto",
          "label": "Auto"
        },
        {
          "value": "disabled",
          "label": "Disabled"
        }
      ]
    },
    {
      "type": "text",
      "id": "pagination_class",
      "label": "Pagination class",
      "visible_if": "{{ block.settings.pagination_style == 'classic' }}"
    },
    {
      "type": "inline_richtext",
      "id": "results_count",
      "label": "Results count",
      "default": "showing [count] of [total] results",
      "visible_if": "{{ block.settings.pagination_style == 'manual' }}",
      "info": "Use [count] and [total] as placeholders."
    },
    {
      "type": "text",
      "id": "results_count_class",
      "label": "Results count class",
      "default": "richtext-md p",
      "visible_if": "{{ block.settings.pagination_style == 'manual' }}"
    },
    {
      "type": "inline_richtext",
      "id": "load_more_button_text",
      "label": "Load more button text",
      "default": "load more products",
      "visible_if": "{{ block.settings.pagination_style == 'manual' }}"
    },
    {
      "type": "text",
      "id": "load_more_button_class",
      "label": "Load more button class",
      "default": "button-primary",
      "visible_if": "{{ block.settings.pagination_style == 'manual' }}"
    },
    {
      "type": "paragraph",
      "content": "t:all.empty_char"
    },
    {
      "type": "header",
      "content": "Horizontal Layout Settings"
    },
    {
      "type": "checkbox",
      "id": "enable_mouse_dragging",
      "label": "Enable mouse dragging"
    },
    {
      "type": "select",
      "id": "slider_scroll_snap",
      "label": "Scroll snap to",
      "default": "snap-mandatory [&>*]:snap-start",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "snap-mandatory snap-to-slide",
          "label": "Slide"
        },
        {
          "value": "snap-mandatory [&>*]:snap-start",
          "label": "Item"
        },
        {
          "value": "snap-m md:[&>*]:snap-start [&>*]:snap-center",
          "label": "Item (mobile centered)"
        }
      ]
    },
    {
      "type": "select",
      "id": "slider_overflow_container",
      "label": "Overflow container",
      "default": "",
      "options": [
        {
          "value": "",
          "label": "Off"
        },
        {
          "value": "desktop",
          "label": "Desktop"
        },
        {
          "value": "mobile",
          "label": "Mobile"
        },
        {
          "value": "all",
          "label": "All"
        }
      ]
    },
    {
      "type": "select",
      "id": "infinite_scroll",
      "label": "Infinite scroll",
      "default": "off",
      "options": [
        {
          "value": "off",
          "label": "Off"
        },
        {
          "value": "desktop",
          "label": "Desktop"
        },
        {
          "value": "mobile",
          "label": "Mobile"
        },
        {
          "value": "all",
          "label": "All"
        }
      ]
    },
    {
      "type": "text",
      "id": "scrollbar_class",
      "label": "Scrollbar class",
      "default": "scrollbar",
      "info": "Leave empty to disable."
    },
    {
      "type": "text",
      "id": "scroll_pagination_class",
      "label": "Scroll Pagination class",
      "info": "Leave empty to disable."
    },
    {
      "type": "paragraph",
      "content": "t:all.empty_char"
    },
    {
      "type": "paragraph",
      "content": "t:all.empty_char"
    },
    {
      "type": "header",
      "content": "Block Globals"
    },
    {
      "type": "textarea",
      "id": "custom_css",
      "label": "Custom CSS",
      "default": "& {\n  margin-top: 16px;\n  --grid-cols: 4;\n  --grid-gap: 16px;\n}\n& .grid-container {\n  display: grid;\n  grid-auto-flow: column;\n  grid-auto-columns: calc((100% - (var(--grid-gap) * (var(--grid-cols) - 1))) / var(--grid-cols));\n  gap: var(--grid-gap);\n}\n\n@media (max-width: 768px) {\n  & {\n    --grid-cols: 2;\n  }\n}\n"
    }
  ],
  "presets": [
    {
      "name": "Article Cards",
      "category": "** Blog **"
    }
  ],
  "tag": null,
  "class": "shopify_block___main_blog__article_cards"
}
{% endschema %}
