{%- comment -%} Auto Generated Variables start {%- endcomment -%}
{%- liquid
  assign block_type = "cards_line_item"
  assign order_offset = block.settings.order_offset
  assign line_item_card_class = block.settings.line_item_card_class
  assign filter_keys = block.settings.filter_keys
  assign filter_keys_include = block.settings.filter_keys_include
  assign hydrate_immediately = block.settings.hydrate_immediately
  assign preload_images = block.settings.preload_images
  assign text_color = block.settings.text_color
  assign background_color = block.settings.background_color
  assign custom_css = block.settings.custom_css
  assign hide_if_empty = block.settings.hide_if_empty
-%}
{%- comment -%} Auto Generated Variables end {%- endcomment -%}

<script x-init="_cart.initDynamicLineItemCards($el, {
      line_item_card_class: `{{ line_item_card_class }}`,
      hide_if_empty: `{{ hide_if_empty }}`,
      handleResize: () => { $data?.content_slider?.handleResize() },
      order_offset: +`{{ order_offset }}`,
      section_id: `{{ section.id }}`,
      block_id: `{{ block.id }}`,
      filter_keys: `{{ filter_keys | default: '' }}`,
      filter_keys_include: `{{ filter_keys_include | default: '' }}`
    }); $nextTick(()=>{ $el.remove(); })">
  (() => {
    const script = document.currentScript;
    document.addEventListener('theme:utils:loaded', () => {
      if (!utils.isVisible(script.parentElement)) {
        const removeXDeferFlags = (parent) => {

          if (parent instanceof Element) {
            if (parent.hasAttribute('x-defer')) {
              parent.removeAttribute('x-defer');
            }
            removeXDeferFlags(parent?.parentElement);
          }
        };
        removeXDeferFlags(script.parentElement);
      }
    }, { once: true });
  })();
</script>

{% capture selector %}[data-style-id="{{ section.id }}--{{ block.id }}"]{% endcapture %}
{% if text_color != blank or text_color.alpha != 0 or background_color != blank %}
  {% capture css %}
    & {
    {% if text_color != blank and text_color.alpha != 0 %}color: {{ text_color }};{% endif %}
    {% if background_color != blank %}background-color: {{ background_color }};{% endif %}
    }
  {% endcapture %}
{% endif %}

<style>
  {{ css | append: custom_css | replace: '&', selector | strip_newlines }}
</style>

{% assign line_item_section = line_item_card_class.schema.value %}

{% assign index = 0 %}
{% for line_item in cart.items %}
  {% liquid
    if filter_keys != blank
      assign continue = false
      assign filter_keys_arr = filter_keys | split: ','
      for key in filter_keys_arr
        assign _key = key | strip
        if line_item.properties[key] != blank or line_item.properties[_key] != blank
          assign continue = true
          break
        endif
      endfor
      if continue
        continue
      endif
    endif

    if filter_keys_include != blank
      assign continue = true
      assign filter_keys_arr = filter_keys_include | split: ','
      for key in filter_keys_arr
        assign _key = key | strip
        if line_item.properties[key] != blank or line_item.properties[_key] != blank
          assign continue = false
          break
        endif
      endfor
      if continue
        continue
      endif
    endif

    if line_item.properties._p_id_link or line_item.properties._p_hidden or line_item.quantity <= 0
      continue
    endif
  %}
  <div data-style-id="{{ section.id }}--{{ block.id }}" {{ block.shopify_attributes }}
       class="shrink-0 max-w-full w-full order-[--order]" {{ hide_attribute }}
       data-render-index="{{ block.id }}--{{ index }}"
       data-hide-if-empty="{{ hide_if_empty }}"
       data-line-item-id="{{ line_item.key }}"
       style="--order: {{ index | plus: order_offset | times: 10 }}">
    {% if line_item_section != blank %}
      {% liquid
        assign has_addon_products = false
        if line_item.properties._p_id != blank
          assign child_line_items = '' | split: '' | uniq
          for child_line_item in cart.items
            if child_line_item.properties._p_id_link == line_item.properties._p_id
              assign has_addon_products = true
              assign _child_line_item = child_line_item | uniq
              assign child_line_items = child_line_items | concat: _child_line_item
            endif
          endfor
        endif
      %}

      {% assign preload_images_boolean = true %}
      {% if index >= preload_images %}
        {% assign preload_images_boolean = false %}
      {% endif %}

      {% render "card_line_item_card._static",
          line_item: line_item,
          section: line_item_section,
          has_addon_products: has_addon_products,
          child_line_items: child_line_items,
          preload_images: preload_images_boolean
      %}
    {% else %}
      <section class="card-loading line-item-card--{{ line_item_card_class }}"
               data-card-handle="{{ line_item_card_class }}"
               data-line-item-id="{{ line_item.key }}"
               {% if request.visual_preview_mode or hydrate_immediately %}data-intersected{% endif %}
               x-init="$nextTick(() => _sections.hydrateLineItemCard($el))"></section>
    {% endif %}
  </div>
  {% assign index = index | plus: 1 %}
{% endfor %}

{% schema %}
{
  "name": "Line Item Cards",
  "settings": [
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "number",
      "id": "order_offset",
      "label": "Order index offset",
      "default": 1,
      "info": "Use this when mixing multiple sources and order items. Defaults to 1."
    },
    {
      "type": "paragraph",
      "content": "t:all.empty_char"
    },
    {
      "type": "header",
      "content": "Display Settings"
    },
    {
      "type": "metaobject",
      "id": "line_item_card_class",
      "label": "Line Item Card",
      "metaobject_type": "line_item_cards"
    },
    {
      "type": "paragraph",
      "content": "t:all.empty_char"
    },
    {
      "type": "header",
      "content": "Filter Line Items"
    },
    {
      "type": "textarea",
      "id": "filter_keys",
      "label": "Filter: Exclude by property keys",
      "info": "Comma separated list of property keys to filter out line items with a set key. Leave Blank to show all line items. (case sensitive)."
    },
    {
      "type": "textarea",
      "id": "filter_keys_include",
      "label": "Filter: Include by property keys",
      "info": "Comma separated list of property keys to filter line items with a set key. Leave Blank to show all line items. (case sensitive)."
    },
    {
      "type": "header",
      "content": "Performance"
    },
    {
      "type": "checkbox",
      "id": "hydrate_immediately",
      "label": "Hydrate immediately"
    },
    {
      "type": "range",
      "id": "preload_images",
      "label": "Preload first images",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 1
    },
    {
      "type": "paragraph",
      "content": "t:all.empty_char"
    },
    {
      "type": "paragraph",
      "content": "t:all.empty_char"
    },
    {
      "type": "header",
      "content": "Block Globals"
    },
    {
      "type": "color",
      "alpha": true,
      "id": "text_color",
      "label": "Text color"
    },
    {
      "type": "color",
      "alpha": true,
      "id": "background_color",
      "label": "Background color"
    },
    {
      "type": "textarea",
      "id": "custom_css",
      "label": "Custom CSS",
      "default": "& {\n}\n"
    },
    {
      "type": "select",
      "id": "hide_if_empty",
      "label": "If empty, hide:",
      "default": "none",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "section",
          "label": "Section"
        },
        {
          "value": "container",
          "label": "Container"
        },
        {
          "value": "block",
          "label": "Block"
        }
      ],
      "info": "Always shows in the Theme Editor."
    }
  ],
  "presets": [
    {
      "name": "Line Item Cards",
      "category": "Cards"
    },
    {
      "name": "Line Items",
      "settings": {
        "order_offset": 1,
        "line_item_card_class": "line-item-card",
        "filter_keys": "",
        "filter_keys_include": "",
        "hydrate_immediately": false,
        "preload_images": 0,
        "text_color": "",
        "background_color": "",
        "custom_css": "& {\n  margin-bottom: 16px;\n  padding-bottom: 16px;\n  border-bottom: 1px solid #E6E6E6;\n}",
        "hide_if_empty": "none"
      },
      "blocks": [],
      "category": "Cards"
    }
  ],
  "tag": null,
  "class": "shopify_block__cards_line_item"
}
{% endschema %}
