{%- if current_page != 420420 and current_page != 133737 and request.design_mode != true or settings.development__block_card_sections -%}
  {%- if section.settings.article_card != blank -%}
    {%- render 'card_article_card._styles', section: metaobjects.article_cards[section.settings.article_card].schema.value -%}
  {%- endif -%}
  {%- break -%}
{%- endif -%}

{%- if settings.development__block_card_sections != true and request.design_mode == true or current_page != 420420 or current_page != 133737 -%}
  {%- comment -%} Auto Generated Variables start {%- endcomment -%}
{%- liquid
  assign section_type = "card_article_card"
  assign _handle = section.settings.handle
  assign article_card = section.settings.article_card
  assign preview_article = section.settings.preview_article
  assign link_to_object = section.settings.link_to_object
  assign dynamic_text_color = section.settings.dynamic_text_color
  assign dynamic_background_color = section.settings.dynamic_background_color
  assign dynamic_border_color = section.settings.dynamic_border_color
  assign container_spacing = section.settings.container_spacing
  assign text_color = section.settings.text_color
  assign background_color = section.settings.background_color
  assign custom_css = section.settings.custom_css
  assign section_id = section.settings.section_id
  assign override_preview_background = section.settings.override_preview_background
-%}
{%- comment -%} Auto Generated Variables end {%- endcomment -%}

{% liquid
    if request.design_mode or request.visual_preview_mode
      assign _article = preview_article | default: article

      if _article == blank and request.design_mode
        assign _article = linklists | map: 'links' | map: "object" | map: "articles" | sort_natural | first
        assign blog_handle = _article.handle | split: "/" | first
        assign blog = blogs[blog_handle]
      endif
    endif

    if article_card != blank
      assign _handle = article_card | json | handleize
    endif

    assign card_class = _handle | handleize | prepend: "article-card--"
  %}

  {% if request.design_mode or metaobjects.article_cards[article_card] == blank %}
    {% capture selector %}.article-card--{{ _handle | handleize }}{% endcapture %}

    {% if text_color != blank or text_color.alpha != 0 or background_color != blank %}
      {% capture css %}
        & {
        {% if text_color != blank and text_color.alpha != 0 %}color: {{ text_color }};{% endif %}
        {% if background_color != blank %}background-color: {{ background_color }};{% endif %}
        }
      {% endcapture %}
    {% endif %}

    <style>
      {{ css | append: custom_css | replace: '&', selector | strip_newlines }}
      {% if request.design_mode %}
      {% assign query_selector = '[data-section-id="'|append: section.id | append: '"][data-preview-container] ' | append: selector %}
      {{- custom_css | replace: '&', query_selector  | strip_newlines | replace: '@media screen and', '@container'| replace: '@media', '@container' -}}
      {% endif %}
    </style>
  {% endif %}

  {% capture render_card %}
    <article
        data-article-card="{{ _handle }}"
        data-article-handle="{{ _article.handle }}"
        x-data="{ ...(!!$el.getAttribute('data-article-handle') ? _sections.initArticleCard($el, $refs, $el.getAttribute('data-article-handle')) : {}) }"
        x-defer="intersect"
        {% if request.design_mode != true or _article.handle == blank %}
          x-ignore
        {% endif %}
        {% if link_to_object %}
          :href="card?.url"
          href="{{ _article.url }}"
          {% if open_in_new_tab %}
            target="_blank"
          {% endif %}
        {% endif %}
        class="block {{ card_class }} card-loading {{ container_spacing }}"
        x-effect="() => { if (card?.hydrated && $el.classList.contains('card-loading')) $el.classList.remove('card-loading') }"
        x-init="utils.barbaPrefetchTargetPage($el, card?.url)"
        :style="`color: ${getDynamicValue(`{{ dynamic_text_color }}`) ?? ''}; background: ${getDynamicValue(`{{ dynamic_background_color }}`) ?? ''}; border-color: ${getDynamicValue(`{{ dynamic_border_color }}`) ?? ''};`">
      {% content_for "blocks" %}
    </article>
  {% endcapture %}

  {% if link_to_object %}
    {% assign render_card = render_card | replace: '<article', '<a' | replace: '</article', '</a' %}
  {% else %}
    {% assign render_card = render_card | replace: '<article', '<div' | replace: '</article', '</div' %}
  {% endif %}

  {% if request.design_mode or request.visual_preview_mode %}
    <script type="application/json"
            data-article-data="{{ _article.handle }}">{%- render '_json.article', article: _article -%}</script>
  {% endif %}

  {% render '_components.card_preview', render_card: render_card %}

  {% if request.design_mode or metaobjects.product_cards[product_card] == blank %}
    <script>
      document.querySelectorAll(`[data-article-card="{{ _handle }}"] style`).forEach(styleEl => document.querySelector('[data-cards-styles-section]')?.appendChild(styleEl));
      document.currentScript?.remove();
    </script>
  {% endif %}
{% endif %}

{% schema %}
{
  "name": "Article Card",
  "blocks": [
    {
      "type": "_card__container"
    },
    {
      "type": "_card__image"
    },
    {
      "type": "_card__button"
    },
    {
      "type": "_card__text"
    },
    {
      "type": "_card__labels"
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "handle",
      "label": "Handle",
      "default": "article-card",
      "info": "hyphens / lowercase / no-spaces [kebab-case](https://developer.mozilla.org/en-US/docs/Glossary/Kebab_case)"
    },
    {
      "type": "metaobject",
      "id": "article_card",
      "label": "Article card",
      "metaobject_type": "article_cards"
    },
    {
      "type": "article",
      "id": "preview_article",
      "label": "Preview Article",
      "info": "Fallbacks to the first available article"
    },
    {
      "type": "checkbox",
      "id": "link_to_object",
      "label": "Link to article",
      "default": false
    },
    {
      "type": "paragraph",
      "content": "t:all.empty_char"
    },
    {
      "type": "header",
      "content": "Dynamic Colors"
    },
    {
      "type": "paragraph",
      "content": "Use bracket notation for data access: i.e.[selected_variant.metafields.smart.color] or [product.metafields.smart.color]"
    },
    {
      "type": "text",
      "id": "dynamic_text_color",
      "label": "Dynamic text color"
    },
    {
      "type": "text",
      "id": "dynamic_background_color",
      "label": "Dynamic background color"
    },
    {
      "type": "text",
      "id": "dynamic_border_color",
      "label": "Dynamic border color"
    },
    {
      "type": "paragraph",
      "content": "t:all.empty_char"
    },
    {
      "type": "paragraph",
      "content": "t:all.empty_char"
    },
    {
      "type": "header",
      "content": "Section Globals"
    },
    {
      "type": "select",
      "id": "container_spacing",
      "default": "px-container-md",
      "options": [
        {
          "value": "px-container-xs",
          "label": "Extra Small"
        },
        {
          "value": "px-container-sm",
          "label": "Small"
        },
        {
          "value": "px-container-md",
          "label": "Medium"
        },
        {
          "value": "px-container-lg",
          "label": "Large"
        },
        {
          "value": "px-container-gutter",
          "label": "Gutter Only"
        },
        {
          "value": "px-container-fullwidth",
          "label": "Fullwidth"
        }
      ],
      "label": "Container Spacing"
    },
    {
      "type": "color",
      "alpha": true,
      "id": "text_color",
      "label": "Text color"
    },
    {
      "type": "color",
      "alpha": true,
      "id": "background_color",
      "label": "Background color"
    },
    {
      "type": "textarea",
      "id": "custom_css",
      "label": "Custom CSS",
      "default": "& {\n  padding-top: 42px;\n  padding-bottom: 60px;\n}\n@media (max-width: 768px) {\n  & {\n    padding-top: 32px;\n    padding-bottom: 48px;\n  }\n}"
    },
    {
      "type": "text",
      "id": "section_id",
      "label": "Section Id"
    },
    {
      "type": "paragraph",
      "content": "t:all.empty_char",
      "visible_if": "{{ settings.development__dev_mode == true }}"
    },
    {
      "type": "header",
      "content": "Development Integration",
      "visible_if": "{{ settings.development__dev_mode == true }}"
    },
    {
      "type": "select",
      "id": "generate_presets",
      "label": "Presets Codegen",
      "default": "never",
      "options": [
        {
          "value": "never",
          "label": "Off"
        },
        {
          "value": "always",
          "label": "On"
        },
        {
          "value": "manual_override",
          "label": "Override"
        }
      ],
      "visible_if": "{{ settings.development__dev_mode == true }}"
    },
    {
      "type": "text",
      "id": "category_name",
      "label": "Category",
      "visible_if": "{{ settings.development__dev_mode == true }}"
    },
    {
      "type": "text",
      "id": "hidden_name_backup",
      "label": " Hidden Name Backup",
      "visible_if": "{{ settings.development__dev_mode == 'show_never' }}"
    },
    {
      "type": "paragraph",
      "content": "Setting the preset to 'Override' and running the dev tools will override the existing manual preset if the names match. NB: This should be switched off right after updated a Preset!",
      "visible_if": "{{ settings.development__dev_mode == true }}"
    },
    {
      "type": "paragraph",
      "content": "t:all.empty_char"
    },
    {
      "type": "paragraph",
      "content": "t:all.empty_char"
    },
    {
      "type": "color",
      "alpha": true,
      "id": "override_preview_background",
      "label": "Override preview background"
    }
  ],
  "presets": [
    {
      "name": "article-card",
      "settings": {
        "handle": "article-card",
        "link_to_object": false,
        "dynamic_text_color": "",
        "dynamic_background_color": "",
        "dynamic_border_color": "",
        "container_spacing": "px-container-fullwidth",
        "text_color": "#020202",
        "background_color": "",
        "custom_css": "& {\n  display: flex;\n  flex-direction: column;\n  align-items: stretch;\n  justify-content: start;\n}\n&.card-loading {\n  width: 100%;\n  height: auto;\n  aspect-ratio: 1.238;\n  background: rgba(185,185,185, 0.2);\n}\n\n@media (max-width: 768px) {\n  &.card-loading {\n  aspect-ratio: 1.244;\n}\n}",
        "section_id": "",
        "category_name": "",
        "hidden_name_backup": "article-card",
        "override_preview_background": ""
      },
      "blocks": [
        {
          "type": "_card__container",
          "settings": {
            "text_color": "",
            "background_color": "",
            "custom_css": "& {\n  display: flex;\n  align-items: center;\n  justify-content: center;\n  position: relative;\n  background: white;\n  padding: 0; \n  margin: 0 0 16px 0;  \n  \n}"
          },
          "blocks": [
            {
              "type": "_card__image",
              "settings": {
                "primary_image": "[image]",
                "show_secondary_image": true,
                "secondary_image": "[metafields.smart.secondary_image]",
                "link_to_object": false,
                "show_overlay": false,
                "overlay_color": "linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.25) 100%)",
                "sizes": "(max-width: 768px) 50vw, (max-width: 1024px) 33vw, 25vw",
                "max_width": 540,
                "custom_css": "& {\ndisplay: block;\nwidth: 100%;\nheight: auto;\naspect-ratio: 3/2;\nborder: unset;\nbackground: unset;\nobject-fit: cover;\npadding: 0;\n}"
              },
              "blocks": []
            },
            {
              "type": "_card__container",
              "settings": {
                "text_color": "",
                "background_color": "",
                "custom_css": "& {\n  display: flex;\n  align-items: start;\n  justify-content: end;\n  position: relative;\n  background: transparent;\nposition: absolute;\ninset: 0;\npadding: 8px;\n    \n  \n}\n@media (max-width: 768px) {\n  & {}\n}"
              },
              "blocks": [
                {
                  "type": "_card__labels",
                  "settings": {
                    "content_source": "metafields.smart.labels",
                    "label_class__content": "label-primary",
                    "custom_css": "& {\n  display: flex;\n  flex-wrap: wrap;\n  gap: 4px;\n  margin: 0;\n  padding: 0;\n  \n}\n@media (max-width: 768px) {\n  & {}\n}"
                  },
                  "blocks": []
                }
              ]
            }
          ]
        },
        {
          "type": "_card__container",
          "settings": {
            "text_color": "",
            "background_color": "",
            "custom_css": "& {\n  display: flex;\n  flex-direction: column;\n  align-items: center;\n  text-align: center;\n  gap: 12px;\n  justify-content: center;\n  position: relative;\n  padding: 0; \n    \n  \n}\n@media (max-width: 768px) {\n  & {}\n}"
          },
          "blocks": [
            {
              "type": "_card__text",
              "settings": {
                "content": "<h5><strong>[title]</strong></h5>",
                "text_alignment": "inherit",
                "css_class": "richtext-md",
                "link_to_object": false,
                "text_color": "",
                "custom_css": "& {\n  margin: 0;\n  padding: 0;\n  \n}\n@media (max-width: 768px) {\n  & {}\n}"
              },
              "blocks": []
            },
            {
              "type": "_card__text",
              "settings": {
                "content": "<h6>[excerpt]</h6>",
                "text_alignment": "inherit",
                "css_class": "richtext-md",
                "link_to_object": false,
                "text_color": "",
                "custom_css": "& {\n  margin: 0;\n  padding: 0;\n  \n}\n@media (max-width: 768px) {\n  & {}\n}"
              },
              "blocks": []
            },
            {
              "type": "_card__button",
              "settings": {
                "label": "Read More",
                "url": "[url]",
                "button_class": "underline",
                "accessibility_label": "Read more about [title]",
                "custom_css": "& {\n  margin: 0;\n  padding: 0;\n}\n@media (max-width: 768px) {\n  & {\n    \n  }\n}"
              },
              "blocks": []
            }
          ]
        }
      ],
      "category": "Cards"
    },
    {
      "name": "article-card-flat",
      "settings": {
        "handle": "article-card-flat",
        "link_to_object": false,
        "dynamic_text_color": "",
        "dynamic_background_color": "",
        "dynamic_border_color": "",
        "container_spacing": "px-container-fullwidth",
        "text_color": "#020202",
        "background_color": "rgba(0,0,0,0)",
        "custom_css": "& {\n  display: flex;\n  align-items: center;\n  height: 100%;\n  gap: 12px;\n}\n&.card-loading {\n  width: 100%;\n  height: auto;\n  aspect-ratio: 1;\n  background: rgba(185,185,185, 0.2);\n}",
        "section_id": "",
        "category_name": "",
        "hidden_name_backup": "article-card-flat",
        "override_preview_background": ""
      },
      "blocks": [
        {
          "type": "_card__image",
          "settings": {
            "primary_image": "[image]",
            "show_secondary_image": true,
            "secondary_image": "[metafields.smart.secondary_image]",
            "link_to_object": true,
            "show_overlay": false,
            "overlay_color": "linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.25) 100%)",
            "sizes": "(max-width: 768px) 50vw, (max-width: 1024px) 33vw, 25vw",
            "max_width": 540,
            "custom_css": "& {\n width: 100px;\n height: 100px;\n object-fit: cover;\n flex-shrink: 0;\n}"
          },
          "blocks": []
        },
        {
          "type": "_card__container",
          "settings": {
            "text_color": "",
            "background_color": "",
            "custom_css": "& {\n  display: flex;\n  flex-direction: column;\n  gap: 6px;\n  position: relative;\n  padding: 0; \n    \n  \n}\n@media (max-width: 768px) {\n  & {}\n}"
          },
          "blocks": [
            {
              "type": "_card__text",
              "settings": {
                "content": "<p><strong>[title]</strong></p>",
                "text_alignment": "inherit",
                "css_class": "richtext-md",
                "link_to_object": false,
                "text_color": "",
                "custom_css": "& {\n  margin: 0;\n  padding: 0;\n  \n}\n@media (max-width: 768px) {\n  & {}\n}"
              },
              "blocks": []
            },
            {
              "type": "_card__text",
              "settings": {
                "content": "<h6>[excerpt]</h6>",
                "text_alignment": "inherit",
                "css_class": "richtext-md",
                "link_to_object": false,
                "text_color": "",
                "custom_css": "& {\n  margin: 0;\n  padding: 0;\n  \n}\n@media (max-width: 768px) {\n  & {}\n}"
              },
              "blocks": []
            },
            {
              "type": "_card__button",
              "settings": {
                "label": "Read More [icon.arrow-right.16]",
                "url": "[url]",
                "button_class": "underline",
                "accessibility_label": "Read more about [title]",
                "custom_css": "& {\n  width: max-content;\n}\n@media (max-width: 768px) {\n  & {\n    \n  }\n}"
              },
              "blocks": []
            }
          ]
        }
      ],
      "category": "Cards"
    },
    {
      "name": "article-card-featured",
      "settings": {
        "handle": "article-card-featured",
        "link_to_object": true,
        "dynamic_text_color": "",
        "dynamic_background_color": "",
        "dynamic_border_color": "",
        "container_spacing": "px-container-fullwidth",
        "text_color": "#000000",
        "background_color": "",
        "custom_css": "& {\n  position: relative;\n  display: flex;\n  flex-direction: column;\n  align-items: stretch;\n  justify-content: start;\n  height: 100%;\n}\n&.card-loading {\n  width: 100%;\n  height: auto;\n  aspect-ratio: 1.238;\n  background: rgba(185,185,185, 0.2);\n}\n\n@media (max-width: 768px) {\n  &.card-loading {\n  aspect-ratio: 1.244;\n}\n}",
        "section_id": "",
        "category_name": "",
        "hidden_name_backup": "",
        "override_preview_background": ""
      },
      "blocks": [
        {
          "type": "_card__image",
          "settings": {
            "primary_image": "[image]",
            "show_secondary_image": false,
            "secondary_image": "[metafields.smart.secondary_image]",
            "link_to_object": false,
            "show_overlay": true,
            "overlay_color": "linear-gradient(180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.25) 100%)",
            "sizes": "(max-width: 768px) 50vw, (max-width: 1024px) 33vw, 25vw",
            "max_width": 540,
            "custom_css": "& {\n  object-fit: cover;\n  aspect-ratio: 1.3;\n}"
          },
          "blocks": []
        },
        {
          "type": "_card__container",
          "settings": {
            "text_color": "#ffffff",
            "background_color": "",
            "custom_css": "& {\n  display: flex;\n  flex-direction: column;\n  align-items: start;\n  text-align: left;\n  justify-content: stretch;\n  position: absolute;\n  height: 100%;\n  padding: 48px 24px;\n  gap: 16px;\n  \n}\n@media (max-width: 768px) {\n  & {\n    padding: 16px;\n  }\n}"
          },
          "blocks": [
            {
              "type": "_card__text",
              "settings": {
                "content": "<h4><strong>[title]</strong></h4>",
                "text_alignment": "inherit",
                "css_class": "richtext-md",
                "link_to_object": false,
                "text_color": "",
                "custom_css": "& {\n  margin: 0;\n  padding: 0;\n  \n}\n@media (max-width: 768px) {\n  & {}\n}"
              },
              "blocks": []
            },
            {
              "type": "_card__text",
              "settings": {
                "content": "<h6>[published_at.MMMM D, YYYY]</h6>",
                "text_alignment": "inherit",
                "css_class": "richtext-md",
                "link_to_object": false,
                "text_color": "#ffffff",
                "custom_css": "& {\n}"
              },
              "blocks": []
            },
            {
              "type": "_card__text",
              "settings": {
                "content": "<p>[excerpt_or_content]</p>",
                "text_alignment": "inherit",
                "css_class": "richtext-md",
                "link_to_object": false,
                "text_color": "",
                "custom_css": "& {\n  margin-top: 16px;\n  padding: 0;\n  overflow: hidden;\n  display: -webkit-box;\n  -webkit-box-orient: vertical;\n  -webkit-line-clamp: 3;\n  \n}\n@media (max-width: 768px) {\n  & {\n    -webkit-line-clamp: 4;\n  }\n}"
              },
              "blocks": []
            },
            {
              "type": "_card__button",
              "settings": {
                "label": "<span style=\"text-decoration:underline\">Read More[icon.arrow-right]</span>",
                "url": "[url]",
                "button_class": "button-text",
                "accessibility_label": "Read more about [title]",
                "custom_css": "& {\n  padding-top: 24px;\n  margin-top: auto;  \n}\n\n&:hover {\n  color: #F2F2F2;\n}\n@media (max-width: 768px) {\n  & {\n    \n  }\n}"
              },
              "blocks": []
            }
          ]
        }
      ],
      "category": "Cards"
    },
    {
      "name": "article-card-flat-lg",
      "settings": {
        "handle": "article-card-flat-lg",
        "link_to_object": true,
        "dynamic_text_color": "",
        "dynamic_background_color": "",
        "dynamic_border_color": "",
        "container_spacing": "px-container-fullwidth",
        "text_color": "#020202",
        "background_color": "rgba(0,0,0,0)",
        "custom_css": "& {\n  display: grid;\n  grid-template-columns: 1fr 1fr;\n  align-items: center;\n  height: 100%;\n  flex: unset;\n}\n&.card-loading {\n  width: 100%;\n  height: auto;\n  aspect-ratio: 1;\n  background: rgba(185,185,185, 0.2);\n}\n\n@media (max-width: 768px) {\n  & {\n    display: flex;\n  }\n}",
        "section_id": "",
        "category_name": "",
        "hidden_name_backup": "",
        "override_preview_background": ""
      },
      "blocks": [
        {
          "type": "_card__image",
          "settings": {
            "primary_image": "[image]",
            "show_secondary_image": false,
            "secondary_image": "[metafields.smart.secondary_image]",
            "link_to_object": true,
            "show_overlay": false,
            "overlay_color": "linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.25) 100%)",
            "sizes": "(max-width: 768px) 50vw, (max-width: 1024px) 33vw, 25vw",
            "max_width": 540,
            "custom_css": "& {\n width: auto;\n height: 100%;\n object-fit: cover;\n aspect-ratio: 4/3;\n overflow: hidden;\n max-width: 100%;\n}\n\n@media (max-width: 768px) {\n  & {\n    aspect-ratio: 1;\n    width: 120px;\n    height: 120px;\n  }\n}"
          },
          "blocks": []
        },
        {
          "type": "_card__container",
          "settings": {
            "text_color": "",
            "background_color": "",
            "custom_css": "& {\n  display: flex;\n  flex-direction: column;\n  position: relative;\n  padding: 0;\n  padding-left: 24px;\n  gap: 16px;\n  flex-shrink: 1;\n}\n@media (max-width: 768px) {\n  & {\n    gap: 8px;\n  }\n}"
          },
          "blocks": [
            {
              "type": "_card__text",
              "settings": {
                "content": "<p><strong>[title]</strong></p>",
                "text_alignment": "inherit",
                "css_class": "richtext-md",
                "link_to_object": false,
                "text_color": "",
                "custom_css": "& {\n  margin: 0;\n  padding: 0;\n  overflow: hidden;\n  display: -webkit-box;\n  -webkit-box-orient: vertical;\n  -webkit-line-clamp: 3;\n}\n@media (max-width: 768px) {\n  & {}\n}"
              },
              "blocks": []
            },
            {
              "type": "_card__text",
              "settings": {
                "content": "<h5>[excerpt]</h5>",
                "text_alignment": "inherit",
                "css_class": "richtext-md",
                "link_to_object": false,
                "text_color": "",
                "custom_css": "& {\n  margin: 0;\n  padding: 0;\n  overflow: hidden;\n  display: -webkit-box;\n  -webkit-box-orient: vertical;\n  -webkit-line-clamp: 2;\n  \n}\n@media (max-width: 768px) {\n  & {}\n}"
              },
              "blocks": []
            },
            {
              "type": "_card__text",
              "settings": {
                "content": "<h6>[published_at.MMM D, YYYY]</h6>",
                "text_alignment": "inherit",
                "css_class": "richtext-md",
                "link_to_object": false,
                "text_color": "#888888",
                "custom_css": "& {\n}"
              },
              "blocks": []
            }
          ]
        }
      ],
      "category": "Cards"
    }
  ],
  "enabled_on": {
    "groups": [
      "custom.card"
    ]
  },
  "class": "shopify_section__card_article_card"
}
{% endschema %}
