{%- comment -%} Auto Generated Variables start {%- endcomment -%}
{%- liquid
  assign section_type = "global_swatches"
  assign preview_options = section.settings.preview_options
-%}
{%- comment -%} Auto Generated Variables end {%- endcomment -%}

{% capture swatches %}
  {% for block in section.blocks %}
    {% assign titles = block.settings.title | strip | strip_newlines | split: "," %}
    {% if block.type == 'image_swatch' %}
      {% for title in titles %}
        --swatch-{{ title | handleize }}: url({{ block.settings.image | image_url: width: 180, height: 180, crop: 'center' | escape }}) center center/cover no-repeat;
      {% endfor %}
    {% else %}
      {% for title in titles %}
        --swatch-{{ title | handleize }}: {{ block.settings.swatch }} center center/cover no-repeat;
      {% endfor %}
    {% endif %}
  {% endfor %}
  {% for global_swatch in shop.metaobjects['shopify--color-pattern'].values %}
    --swatch-{{ global_swatch.label | handleize }}--image: url({{ global_swatch.image | image_url: width: 180, height: 180, crop: 'center' | escape }}) center center/cover no-repeat;
    --swatch-{{ global_swatch.label | handleize }}: {{ global_swatch.color }} center center/cover no-repeat;
  {% endfor %}
{% endcapture %}

<style>
  :root {
  {{ swatches }}
  }
</style>

{% if request.design_mode %}

  {% liquid

    if preview_options != blank
      assign options = preview_options | strip | strip_newlines | split: ","
    endif

    assign _collection = collections['all']
    assign all_product_options = "" | split: "" | uniq
    assign all_titles = "" | split: "" | uniq

    paginate _collection.products by 1000
      for product in _collection.products
        assign product_options = product.options_with_values
        for option in options
          if option contains 'variant.metafields'
            assign v_namespace = option | replace: 'variant.metafields.', '' | split: '.' | first
            assign v_key = option | replace: 'variant.metafields.', '' | split: '.' | last
            for v in product.variants
              assign val = v.metafields[v_namespace][v_key].value | handleize | uniq
              assign all_product_options = all_product_options | concat: val | uniq
            endfor
            continue
          endif
          assign _option = option | handleize
          for product_option in product_options
            assign _product_option = product_option.name | handleize
            if _product_option contains _option
              assign values = product_option.values | join: "-qq-qq-qq-" | handleize | split: "-qq-qq-qq-"
              assign all_product_options = all_product_options | concat: values | uniq
            endif
          endfor
        endfor
      endfor
    endpaginate
  %}
  <div class="fixed inset-0 z-50 flex flex-col items-center gap-6 overflow-y-auto bg-gray-100 py-16 text-black px-container-sm md:pb-52 @container"
       x-show="$editor?.select_section_id === `{{ section.id }}`"
       x-cloak>
    <div class="flex min-w-64 flex-col flex-wrap gap-2 my-auto">
      {% for block in section.blocks %}
        {% assign titles = block.settings.title | strip | strip_newlines | split: "," %}

        <div class="flex min-w-64 flex-col gap-2" {{ block.shopify_attributes }}>
          {% for title in titles %}
            {% assign _title = title | handleize %}
            {% assign arrayTitle = _title | split: "-qq-qq-qq-" %}
            {% assign all_titles = all_titles | concat: arrayTitle %}
            <div class="flex w-full items-center justify-between gap-3">
              <div class="text-sm font-semibold text-gray-600">{{ _title }}</div>
              <div class="size-10 border border-gray-300 rounded bg-cover bg-center"
                   style="background: var(--swatch-{{ _title }}, {{ _title }})"></div>
            </div>
          {% endfor %}
        </div>
      {% endfor %}

      {% for global_swatch in shop.metaobjects['shopify--color-pattern'].values %}
        {% assign _title = global_swatch.label | handleize %}

        <div class="flex min-w-64 flex-col gap-2">
          {% if global_swatch.color != blank %}
            {% assign arrayTitle = _title | handleize | split: "-qq-qq-qq-" %}
            {% assign all_titles = all_titles | concat: arrayTitle %}
            <div class="flex w-full items-center justify-between gap-3">
              <div class="text-sm font-semibold text-gray-600">{{ _title | handleize }}</div>
              <div class="size-10 border border-gray-300 rounded bg-cover bg-center"
                   style="background: var(--swatch-{{ _title | handleize }}, {{ _title | handleize }})"></div>
            </div>
          {% endif %}

          {% if global_swatch.image != blank %}
            {% assign arrayTitle = _title | handleize | split: "-qq-qq-qq-" %}
            {% assign all_titles = all_titles | concat: arrayTitle %}
            <div class="flex w-full items-center justify-between gap-3">
              <div class="text-sm font-semibold text-gray-600">{{ _title | handleize }}--image</div>
              <div class="size-10 border border-gray-300 rounded bg-cover bg-center"
                   style="background: var(--swatch-{{ _title | handleize }}--image, {{ _title | handleize }})"></div>
            </div>
          {% endif %}
        </div>

      {% endfor %}
      <section class="mt-8">
        <h3 class="text-xl font-bold mb-3">Option Titles without Swatches or default CSS colors</h3>
        <div class="flex min-w-64 flex-col gap-2">
          {% for option in all_product_options %}
            {% if all_titles contains option %}
              {% continue %}
            {% endif %}
            <div class="flex w-full items-center justify-between gap-3">
              <div class="text-sm font-semibold text-gray-600">{{ option }}</div>
              <div class="size-10 border border-gray-300 rounded bg-cover bg-center"
                   style="background: var(--swatch-{{ option }}, {{ option }})"></div>
            </div>
          {% endfor %}

        </div>
      </section>
    </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "Color / Image swatches",
  "settings": [
    {
      "type": "text",
      "id": "preview_options",
      "label": "Preview options",
      "default": "color, colour, model, style",
      "info": "Comma separated list of items to preview. This helps to verify if all products have color swatches setup properly."
    }
  ],
  "blocks": [
    {
      "name": "Color Swatch",
      "type": "color_swatch",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Titles",
          "info": "Comma separated list of variant titles. Case in-sensitive."
        },
        {
          "type": "color",
          "alpha": true,
          "id": "swatch",
          "label": "Color"
        }
      ]
    },
    {
      "name": "Color Gradient Swatch",
      "type": "color_gradient_swatch",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Titles",
          "info": "Comma separated list of variant titles. Case in-sensitive."
        },
        {
          "type": "color_background",
          "id": "swatch",
          "label": "Gradient color"
        }
      ]
    },
    {
      "name": "Image Swatch",
      "type": "image_swatch",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Titles",
          "info": "Comma separated list of variant titles. Case in-sensitive."
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "enabled_on": {
    "groups": [
      "custom.global"
    ]
  },
  "presets": [
    {
      "name": "Color / Image swatches",
      "settings": {
        "preview_options": "color, colour"
      },
      "category": "Design System"
    }
  ],
  "class": "shopify_section__global_swatches"
}
{% endschema %}
