{%- comment -%} Auto Generated Variables start {%- endcomment -%}
{%- liquid
  assign section_type = "main_product"
  assign _product = section.settings.product
  assign supports_addon_products = section.settings.supports_addon_products
  assign default_select_selling_plan = section.settings.default_select_selling_plan
  assign default_variant_metafield = section.settings.default_variant_metafield
  assign container_spacing = section.settings.container_spacing
  assign text_color = section.settings.text_color
  assign background_color = section.settings.background_color
  assign custom_css = section.settings.custom_css
  assign section_id = section.settings.section_id
-%}
{%- comment -%} Auto Generated Variables end {%- endcomment -%}

{% liquid
  assign product = section.settings.product | default: product
  assign product_form_id = 'product-details-form-' | append: section.id

  if request.visual_preview_mode and product == blank
    assign product = collections.all.products[0]
  endif

  if section.settings.default_variant_metafield != blank
    assign variant_namespace = section.settings.default_variant_metafield | strip | split: "." | first
    assign variant_key = section.settings.default_variant_metafield | strip | split: "." | last
    assign variant = product.metafields[variant_namespace][variant_key].value | default: variant
  endif

  assign variant = variant | default: product.selected_or_first_available_variant | default: product.variants.first

  assign splitter = '|~|SPLIT|~|'
  assign maxOptions = product.options_with_values.size | minus: 1

  capture blocks_content
    content_for "blocks"
  endcapture

  assign final_content = blocks_content

  for i in (0..maxOptions)
    assign match_by_name = '<product-option ' | append: i | append: ' by_name>'
    assign match_by_index = '<product-option ' | append: i | append: ' by_index>'
    assign match_fallback_option = '<product-option ' | append: i | append: ' fallback_options>'
    if blocks_content contains match_by_name
      assign blocks_content_array = final_content | replace_first: match_by_name, splitter | split: splitter
      assign pre_content = blocks_content_array | first
      assign option_content_array = blocks_content_array | last | replace_first: '</product-option>', splitter | split: splitter
      assign option_content = option_content_array | first
      assign post_content = option_content_array | last
      assign final_content = pre_content | append: option_content | append: post_content

      continue
    endif
    if blocks_content contains match_by_index
      assign blocks_content_array = final_content | replace_first: match_by_index, splitter | split: splitter
      assign pre_content = blocks_content_array | first
      assign option_content_array = blocks_content_array | last | replace_first: '</product-option>', splitter | split: splitter
      assign option_content = option_content_array | first
      assign post_content = option_content_array | last
      assign final_content = pre_content | append: option_content | append: post_content
      continue
    endif
    if blocks_content contains match_fallback_option
      assign blocks_content_array = final_content | replace_first: match_fallback_option, splitter | split: splitter
      assign pre_content = blocks_content_array | first
      assign option_content_array = blocks_content_array | last | replace_first: '</product-option>', splitter | split: splitter
      assign option_content = option_content_array | first
      assign post_content = option_content_array | last
      assign final_content = pre_content | append: option_content | append: post_content
      continue
    endif
  endfor

  assign blocks_content_array = final_content | split: '</product-option>'
  assign cleaned_final_content = ''
  for part in blocks_content_array
    assign pre_option = part | split: '<product-option' | first
    assign cleaned_final_content = cleaned_final_content | append: pre_option
  endfor
%}

{% capture selector %}[data-style-id="{{ section.id }}--{{ block.id }}"]{% endcapture %}
{% if text_color != blank or text_color.alpha != 0 or background_color != blank %}
  {% capture css %}
    & {
    {% if text_color != blank and text_color.alpha != 0 %}color: {{ text_color }};{% endif %}
    {% if background_color != blank %}background-color: {{ background_color }};{% endif %}
    }
  {% endcapture %}
{% endif %}

{% capture section_content %}
  <style>
    {{ css | append: custom_css | replace: '&', selector | strip_newlines }}
  </style>

  <form
      method="post"
      action="/cart/add"
      accept-charset="UTF-8"
      enctype="multipart/form-data"
      novalidate="novalidate"
      id="{{ product_form_id }}"
      data-section-type="main_product"
      data-style-id="{{ section.id }}--{{ block.id }}" {% if section_id != blank %}id="{{ section_id }}"{% endif %}
      x-data="{ ..._sections.initMainProduct($el, $refs, $el.getAttribute('data-product-handle'), +$el.getAttribute('data-product-id'), +$el.getAttribute('data-variant-id'), $el.hasAttribute('data-default-subscription')) }"
      {% if request.design_mode != true %}
        x-defer="intersect"
      {% endif %}
      data-product-handle="{{ product.handle }}"
      data-product-id="{{ product.id }}"
      data-variant-id="{{ variant.id }}"
      {% if default_select_selling_plan %}
        data-default-subscription="true"
      {% endif %}
      class="shopify-product-form relative {{ container_spacing }}">
    <input type="hidden" name="form_type" value="product">
    <input type="hidden" name="utf8" value="✓">
    <input type="hidden"
           x-ignore
           name="id"
           value="{{ variant.id }}"
           x-init="$el.closest('form')?.addEventListener('submit',(e)=> { e.preventDefault(); e.stopPropagation(); })"
           :value="pdp.selected_variant?.id">
    <input
        type="hidden"
        x-ignore
        name="selling_plan"
        {% if default_select_selling_plan %}
          value="{{ product.selected_selling_plan.id }}"
        {% else %}
          value=""
        {% endif %}
        value="{{ product.selected_selling_plan.id }}"
        :value="pdp.selected_selling_plan?.id || ''" />
    {{ cleaned_final_content }}
  </form>

  {% if request.design_mode %}
    <script type="application/json"
            data-product-data="{{ product.handle }}"
            data-primary-product-data="{{ product.handle }}">{%- render '_json.product', product: product -%}</script>
  {% endif %}
{% endcapture %}

{% if section_content contains '/break"></script>' %}
  {% break %}
{% endif %}

{{ section_content }}



{% schema %}
{
  "name": "Main Product",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    },
    {
      "type": "range",
      "id": "supports_addon_products",
      "label": "This never shows on purpose",
      "default": 1,
      "min": 1,
      "max": 3,
      "step": 1,
      "visible_if": "{{ settings.always_hide_this_setting }}"
    },
    {
      "type": "checkbox",
      "id": "default_select_selling_plan",
      "label": "Set Subscription as default",
      "default": false
    },
    {
      "type": "text",
      "id": "default_variant_metafield",
      "label": "Default variant metafield",
      "default": "smart.default_variant",
      "info": "Metafield 'namespace.key'. The metafield needs to be of type 'variant_reference' and added to the Product."
    },
    {
      "type": "paragraph",
      "content": "t:all.empty_char"
    },
    {
      "type": "paragraph",
      "content": "t:all.empty_char"
    },
    {
      "type": "header",
      "content": "Section Globals"
    },
    {
      "type": "select",
      "id": "container_spacing",
      "default": "px-container-md",
      "options": [
        {
          "value": "px-container-xs",
          "label": "Extra Small"
        },
        {
          "value": "px-container-sm",
          "label": "Small"
        },
        {
          "value": "px-container-md",
          "label": "Medium"
        },
        {
          "value": "px-container-lg",
          "label": "Large"
        },
        {
          "value": "px-container-gutter",
          "label": "Gutter Only"
        },
        {
          "value": "px-container-fullwidth",
          "label": "Fullwidth"
        }
      ],
      "label": "Container Spacing"
    },
    {
      "type": "color",
      "alpha": true,
      "id": "text_color",
      "label": "Text color"
    },
    {
      "type": "color",
      "alpha": true,
      "id": "background_color",
      "label": "Background color"
    },
    {
      "type": "textarea",
      "id": "custom_css",
      "label": "Custom CSS",
      "default": "& {\n  padding-top: 42px;\n  padding-bottom: 60px;\n}\n@media (max-width: 768px) {\n  & {\n    padding-top: 32px;\n    padding-bottom: 48px;\n  }\n}"
    },
    {
      "type": "text",
      "id": "section_id",
      "label": "Section Id"
    },
    {
      "type": "paragraph",
      "content": "t:all.empty_char",
      "visible_if": "{{ settings.development__dev_mode == true }}"
    },
    {
      "type": "header",
      "content": "Development Integration",
      "visible_if": "{{ settings.development__dev_mode == true }}"
    },
    {
      "type": "select",
      "id": "generate_presets",
      "label": "Presets Codegen",
      "default": "never",
      "options": [
        {
          "value": "never",
          "label": "Off"
        },
        {
          "value": "always",
          "label": "On"
        },
        {
          "value": "manual_override",
          "label": "Override"
        }
      ],
      "visible_if": "{{ settings.development__dev_mode == true }}"
    },
    {
      "type": "text",
      "id": "category_name",
      "label": "Category",
      "visible_if": "{{ settings.development__dev_mode == true }}"
    },
    {
      "type": "text",
      "id": "hidden_name_backup",
      "label": " Hidden Name Backup",
      "visible_if": "{{ settings.development__dev_mode == 'show_never' }}"
    },
    {
      "type": "paragraph",
      "content": "Setting the preset to 'Override' and running the dev tools will override the existing manual preset if the names match. NB: This should be switched off right after updated a Preset!",
      "visible_if": "{{ settings.development__dev_mode == true }}"
    }
  ],
  "blocks": [
    {
      "type": "slider"
    },
    {
      "type": "richtext"
    },
    {
      "type": "_main_product__container"
    },
    {
      "type": "_main_product__collapsible_container"
    },
    {
      "type": "_main_product__availability"
    },
    {
      "type": "_main_product__selected_plan_duration"
    },
    {
      "type": "_main_product__gallery"
    },
    {
      "type": "_main_product__thumbnails"
    },
    {
      "type": "_main_product__price"
    },
    {
      "type": "_main_product__rating"
    },
    {
      "type": "_main_product__quantity_selector"
    },
    {
      "type": "_main_product__custom_quantity_selector"
    },
    {
      "type": "_main_product__add_to_cart_button"
    },
    {
      "type": "_main_product__cta_button"
    },
    {
      "type": "_main_product__description"
    },
    {
      "type": "_main_product__option__color"
    },
    {
      "type": "_main_product__option__color_w_caption"
    },
    {
      "type": "_main_product__option__radio"
    },
    {
      "type": "_main_product__option__radio_detailed"
    },
    {
      "type": "_main_product__option__select"
    },
    {
      "type": "_main_product__variant_selector__color"
    },
    {
      "type": "_main_product__variant_selector__radio"
    },
    {
      "type": "_main_product__variant_selector__select"
    },
    {
      "type": "_main_product__sibling__color"
    },
    {
      "type": "_main_product__sibling__radio"
    },
    {
      "type": "_main_product__sibling__select"
    },
    {
      "type": "_main_product__sibling__color_select"
    },
    {
      "type": "_main_product__sibling__scent_sidebar"
    },
    {
      "type": "_main_product__subscribe__button_select"
    },
    {
      "type": "_main_product__subscribe__button_card"
    },
    {
      "type": "_main_product__subscribe__button_switch"
    },
    {
      "type": "_main_product__subscribe__toggle_card"
    },
    {
      "type": "_main_product__payment_terms"
    },
    {
      "type": "_main_product__dynamic_buy_button"
    },
    {
      "type": "_main_product__dynamic_text"
    },
    {
      "type": "_main_product__image"
    },
    {
      "type": "_main_product__labels"
    },
    {
      "type": "_main_product__waterdrop_list"
    },
    {
      "type": "_main_product__gift_card_recipient"
    },
    {
      "type": "_main_product__bundle_variants"
    },
    {
      "type": "_main_product__choose_supply"
    },
    {
      "type": "_main_product__free_from"
    },
    {
      "type": "_main_product__also_reported"
    },
    {
      "type": "_main_product__faq"
    },
    {
      "type": "_main_product__stat_strip"
    },
    {
      "type": "_main_product__choose_plan"
    },
    {
      "type": "_main_product__buy_once"
    },
    {
      "type": "_main_product__benefits"
    },
    {
      "type": "_main_product__clinical_results"
    },
    {
      "type": "_main_product__gallery_button"
    },
    {
      "type": "_main_product__rebuy_popup"
    },
    {
      "type": "@app"
    },
    {
      "type": "@theme"
    },
    {
      "type": "_main_product__addons_atc_button"
    }
  ],
  "presets": [
    {
      "name": "Main Product",
      "settings": {
        "product": "{{ closest.product }}",
        "container_spacing": "px-container-md",
        "text_color": "",
        "background_color": "",
        "custom_css": "& {\n  padding-top: 0px;\n  padding-bottom: 24px;\n}\n\n@media (min-width: 1024px) {\n  & {\n    padding-top: 32px;\n    padding-bottom: 64px;\n    display: grid;\n    grid-template-columns: 7fr 5fr;\n    gap: 0 24px;\n  }\n}\n\n@media (max-width: 1024px) {\n  & {}\n}",
        "section_id": ""
      },
      "blocks": [
        {
          "type": "_main_product__container",
          "settings": {
            "text_color": "",
            "background_color": "",
            "custom_css": "& {\n  margin: 0;\n  padding: 0;\n}\n@media (min-width: 1024px) {\n  & {\n    width: 100%;\n    max-width: 720px;\n  }\n}\n\n@media (max-width: 1024px) {\n  & {\n    margin-left: calc(-1 * var(--gutter));\n    margin-right: calc(-1 * var(--gutter));\n    margin-bottom: 30px;\n  }\n}"
          },
          "blocks": [
            {
              "type": "_main_product__container",
              "settings": {
                "text_color": "",
                "background_color": "",
                "custom_css": "& {\n  margin: 0;\n  padding: 0;\n  display: flex;\n  gap: 24px;\n}\n@media (min-width: 1024px) {\n  & {\n    aspect-ratio: 720 / 606;\n    overflow: hidden;\n  }\n}"
              },
              "blocks": [
                {
                  "type": "_main_product__thumbnails",
                  "settings": {
                    "thumbnail_filter_images": "show_all",
                    "hide_image_alt": "hide-image",
                    "select_variant_on_click": false,
                    "custom_css": "& {\n  margin: 0;\n  padding: 0;\n  max-width: 100px;\n  margin-right: auto;\n  display: flex;\n  flex-direction: column;\n  gap: 16px;\n  flex: 1;\n  height: 100%;\n  overflow-y: auto;\n}\n\n& button {\n  width: 100%;\n  aspect-ratio: 1;\n  object-fit: cover;\n}\n\n\n& button.active {\n  border: 1px solid currentColor;\n  border-bottom-width: 6px;\n}\n\n\n@media (max-width: 1024px) {\n  & {\n    display: none !important;\n  }\n}"
                  }
                },
                {
                  "type": "_main_product__gallery",
                  "settings": {
                    "filter_images": "show_all",
                    "hide_image_alt": "hide-image",
                    "scroll_to_selected_variant_image": true,
                    "additional_view": "media_gallery",
                    "infinite_scroll": "off",
                    "scrollbar_class": "",
                    "scroll_pagination_class": "scroll-pagination",
                    "custom_css": "& {\n  margin: 0;\n  padding: 0;\n  flex: 6;\n}\n& .image-wrapper {\n  aspect-ratio: 1;\n}\n@media (min-width: 1024px) {\n  & {\n    max-width: 576px;\n  }\n  & .scroll-pagination {\n    display: none;\n  }\n}"
                  }
                }
              ]
            }
          ]
        },
        {
          "type": "_main_product__container",
          "settings": {
            "text_color": "",
            "background_color": "",
            "custom_css": "& {\n  margin: 0;\n  padding: 0;\n  display: flex;\n  flex-direction: column;\n  justify-content: start;\n}\n@media (min-width: 1024px) {\n  & {\n    width: 100%;\n    max-width: min(100%, 578px);\n    margin-left: auto;\n    grid-row: span 4\n  }\n}"
          },
          "blocks": [
            {
              "type": "_main_product__container",
              "settings": {
                "text_color": "",
                "background_color": "",
                "custom_css": "& {\n  margin: 0;\n  padding: 0;\n  display: flex;\n  align-items: center;\n  justify-content: start;\n  margin-bottom: 15px;\n  gap: 4px;\n  white-space: nowrap;\n  margin-right: auto;\n  width: auto;\n}\n@media (max-width: 1024px) {\n  & {\n    \n  }\n}"
              }
            },
            {
              "type": "richtext",
              "settings": {
                "title": "",
                "text_alignment": "left",
                "content_class": "richtext-md",
                "custom_css": "& {\n  margin: 0;\n  padding: 0;\n}\n@media (max-width: 1024px) {\n  & {\n    \n  }\n}",
                "hide_if_empty": "none"
              }
            },
            {
              "type": "_main_product__container",
              "settings": {
                "text_color": "",
                "background_color": "",
                "custom_css": "& {\n  margin-top: 28px;\n  padding: 0;\n  display: flex;\n  justify-content: space-between;\n  align-items: center;\n  gap: 12px;\n  height: 42px;\n\n}\n@media (max-width: 1024px) {\n  & {\n    gap: 24px;\n  }\n}"
              },
              "blocks": [
                {
                  "type": "_main_product__container",
                  "settings": {
                    "text_color": "",
                    "background_color": "",
                    "custom_css": "& {\n  margin: 0;\n  padding: 0;\n  flex: 1;\n}\n@media (max-width: 1024px) {\n  & {\n    flex: 2;\n    max-width: max-content;\n  }\n}"
                  },
                  "blocks": [
                    {
                      "type": "_main_product__price",
                      "settings": {
                        "css_class": "richtext-md h4",
                        "show_compare_as_price": true,
                        "discount_css_class": "richtext-md h4",
                        "price_calculation": "normal",
                        "currency_display": "amount",
                        "custom_css": "& {\n  margin: 0;\n  padding: 0;\n  white-space: nowrap;\n  flex: 1;\n}\n@media (max-width: 1024px) {\n  & {\n    \n  }\n}\n\n& .line-through {\n  color: #A6192E;\n}"
                      }
                    }
                  ]
                }
              ]
            },
            {
              "type": "_main_product__container",
              "settings": {
                "text_color": "",
                "background_color": "",
                "custom_css": "& {\n  margin-top: 28px;\n  padding: 0;\n  display: flex;\n  justify-content: space-between;\n  gap: 12px;\n  height: 42px;\n  padding-bottom: 16px;\n  border-bottom: 1px solid #D3D3D3;\n\n}\n@media (max-width: 1024px) {\n  & {\n   \n  }\n}"
              },
              "blocks": [
                {
                  "type": "_main_product__container",
                  "settings": {
                    "text_color": "",
                    "background_color": "",
                    "custom_css": "& {\n  margin: 0;\n  padding: 0;\n  flex: 1;\n  display: flex;\n  flex-direction: column;\n  align-items: start;\n  gap: 8px;\n  \n}\n@media (max-width: 1024px) {\n  & {\n    \n  }\n}"
                  },
                  "blocks": [
                    {
                      "type": "_main_product__rating",
                      "settings": {
                        "reviews_heading": "[rating] ([count])",
                        "css_class": "richtext-md h6",
                        "icon": "star",
                        "icon_active_color": "",
                        "icon_base_color": "",
                        "custom_css": "& {\n  --star-size: 20px;\n  --star-gap: 0px;\n  display: flex;\n  align-items: center;\n  gap: 8px;\n  width: 100%;\n  height: auto;\n  aspect-ratio: unset;\n  border: unset;\n  background: unset;\n  padding: 0;\n  white-space: nowrap;\n}\n\n@media (max-width: 1024px) {\n  & {\n    --star-size: 16px;\n  }\n}"
                      }
                    }
                  ]
                }
              ]
            },
            {
              "type": "_main_product__subscribe__button_card",
              "settings": {
                "legend_label": "Purchase Options",
                "legend_class": "richtext-md h5",
                "price_calculation": "normal",
                "currency_display": "amount",
                "subscription_content": "Subscribe and [value]",
                "subscription_highlights": "<p>Adjust or cancel anytime. Pay when your order ships. <a href=\"/faq/\" title=\"learn more about subscriptions\">Learn more</a>.</p>",
                "select_class": "input-select",
                "discount_percentage_override": 0,
                "one_time_content": "One-time purchase",
                "default_selection": "subscription",
                "label_class": "small-bold",
                "price_class": "large-bold",
                "custom_css": "& {\n  margin-top: 24px;\n  padding: 30px 16px;\n  border: 1px solid #3F2021;\n  border-top-width: 10px;\n  border-bottom-width: 10px;\n  border-radius: 5px;\n}\n& .input-select {\n  min-width: 200px;\n}\n& a {\n  text-decoration: underline;\n}\n@media (max-width: 768px) {\n  & .input-select {\n    min-width: 100%;\n  }\n}"
              }
            },
            {
              "type": "_main_product__container",
              "settings": {
                "text_color": "",
                "background_color": "",
                "custom_css": "& {\n  padding-top: 24px;\n  display: flex;\n  \n}\n@media (max-width: 1024px) {\n  & {\n    padding-top: 30px;\n    flex-direction: column;\n    gap: 24px;\n  }\n}"
              },
              "blocks": [
                {
                  "type": "_main_product__quantity_selector",
                  "settings": {
                    "label": "",
                    "label_class": "richtext-md h5",
                    "quantity_class": "quantity-stepper",
                    "custom_css": "& {\n  margin: 0;\n  padding: 0;\n  display: flex;\n  flex-direction: column;\n  align-items: start;\n  flex: 1;\n}\n\n& legend {\n  margin-bottom: 11px;\n}\n\n\n@media (max-width: 1024px) {\n  & {\n    \n  }\n}"
                  }
                }
              ]
            },
            {
              "type": "_main_product__add_to_cart_button",
              "settings": {
                "add_to_cart_content": "Add to Cart",
                "quantity_price": true,
                "add_to_cart_class": "button-primary",
                "out_of_stock_content": "Out of Stock",
                "out_of_stock_class": "button-primary",
                "enable_back_in_stock_notifications": true,
                "custom_css": "& {\n  margin: 0;\n  margin-top: 24px;\n}\n@media (max-width: 1024px) {\n  & {\n    \n  }\n}"
              }
            },
            {
              "type": "_main_product__description",
              "settings": {
                "style": "plain",
                "content_class": "richtext-md",
                "accordion_class": "",
                "label": "Description",
                "open_accordions": "",
                "custom_css": "& {\n  margin: 0;\n  padding: 0 12px;\n  margin-top: 10px;\n}\n& li {\n  margin-top: 4px;\n}\n@media (max-width: 1024px) {\n  & {\n    \n  }\n}"
              }
            }
          ]
        }
      ],
      "category": "Product"
    },
    {
      "name": "undefined",
      "settings": {
        "product": "{{ closest.product }}",
        "container_spacing": "px-container-md",
        "text_color": "",
        "background_color": "",
        "custom_css": "& {\n  padding-top: 0px;\n  padding-bottom: 24px;\n}\n\n@media (min-width: 1024px) {\n  & {\n    padding-top: 32px;\n    padding-bottom: 64px;\n    display: grid;\n    grid-template-columns: 7fr 5fr;\n    gap: 0 24px;\n  }\n}\n\n@media (max-width: 1024px) {\n  & {}\n}",
        "section_id": "",
        "category_name": "",
        "hidden_name_backup": ""
      },
      "blocks": [
        {
          "type": "_main_product__container",
          "name": "Gallery Container",
          "settings": {
            "quick_view_visibility": "default",
            "element_id": "",
            "custom_effect": "off",
            "url": "",
            "accessibility_label": "",
            "open_in_new_tab": false,
            "scroll_reveal": "children",
            "collapsible_handle": "",
            "show": false,
            "text_color": "",
            "background_color": "",
            "custom_css": "& {\n  margin: 0;\n  padding: 0;\n\n}\n@media (min-width: 1024px) {\n  & {\n    width: 100%;\n    max-width: 720px;\n    height: max-content;\n    position: sticky;\n    top: calc(var(--header-height-offset) + 40px);\n  transition: top 200ms ease-in-out;\n  }\n}\n\n@media (max-width: 1024px) {\n  & {\n    margin-bottom: 30px;\n  }\n}",
            "generate_block_presets": "never",
            "category_name": "",
            "hidden_name_backup": "Gallery Container"
          },
          "blocks": [
            {
              "type": "_main_product__gallery",
              "settings": {
                "filter_images": "show_all",
                "hide_image_alt": "hide-image",
                "scroll_to_selected_variant_image": true,
                "additional_view": "media_gallery",
                "infinite_scroll": "off",
                "slider_scroll_snap": "snap-mandatory [&>*]:snap-start",
                "slider_overflow_container": "mobile",
                "scrollbar_class": "scrollbar-no-buttons",
                "scroll_pagination_class": "",
                "quick_view_visibility": "default",
                "custom_css": "& .image-wrapper {\n  aspect-ratio: 1;\n}\n@media (min-width: 1024px) {\n  & .scroll-pagination {\n    display: none;\n  }\n}",
                "generate_block_presets": "never",
                "category_name": "",
                "hidden_name_backup": ""
              },
              "blocks": []
            },
            {
              "type": "_main_product__thumbnails",
              "name": "Thumbnails",
              "settings": {
                "thumbnail_filter_images": "show_all",
                "hide_image_alt": "hide-image",
                "select_variant_on_click": true,
                "scrollbar_class": "scrollbar",
                "quick_view_visibility": "default",
                "custom_css": "& {\n  margin-top: 20px;\n  display: grid;\n  grid-auto-columns: 80px;\n  grid-auto-flow: column;\n  gap: 12px;\n  overflow-x: auto;\n}\n\n& button {\n  aspect-ratio: 1;\n  border: 1px solid transparent;\n}\n& button.active {\n  border: 1px solid #3e3e3e;\n}\n& img {\n  object-fit: cover;\n}\n\n@media (max-width: 768px) {\n  & {\n    display: none;\n  }\n}",
                "generate_block_presets": "never",
                "category_name": "",
                "hidden_name_backup": "Thumbnails"
              },
              "blocks": []
            }
          ]
        },
        {
          "type": "_main_product__container",
          "name": "Product Content",
          "settings": {
            "quick_view_visibility": "default",
            "element_id": "",
            "custom_effect": "off",
            "url": "",
            "accessibility_label": "",
            "open_in_new_tab": false,
            "scroll_reveal": "children",
            "collapsible_handle": "",
            "show": false,
            "text_color": "",
            "background_color": "",
            "custom_css": "& {\n  margin: 0;\n  padding: 0;\n  display: flex;\n  flex-direction: column;\n  justify-content: start;\n\n}\n@media (min-width: 1024px) {\n  & {\n    width: 100%;\n    max-width: min(100%, 578px);\n    margin-left: auto;\n    height: max-content;\n    position: sticky;\n    top: calc(var(--header-height-offset) + 40px);\n  transition: top 200ms ease-in-out;\n  }\n}",
            "generate_block_presets": "never",
            "category_name": "",
            "hidden_name_backup": "Product Content"
          },
          "blocks": [
            {
              "type": "_main_product__rating",
              "name": "Rating",
              "settings": {
                "reviews_heading": "<a href=\"#reviews\" title=\"#reviews\">[rating] - [count] reviews</a>",
                "css_class": "richtext-md h6",
                "url": "",
                "icon": "star",
                "icon_active_color": "rgba(0,0,0,0)",
                "icon_base_color": "",
                "quick_view_visibility": "default",
                "custom_css": "& {\n  --star-size: 20px;\n  --star-gap: 2px;\n  display: flex;\n gap: 8px;\n}"
              },
              "blocks": []
            },
            {
              "type": "_main_product__dynamic_text",
              "name": "Dynamic Text",
              "settings": {
                "title": "<h1><strong>{{ closest.product.title }}</strong></h1>",
                "type_richtext_metafield": "",
                "css_class": "richtext-md h3",
                "link_to_product": false,
                "quick_view_visibility": "default",
                "text_color": "",
                "custom_css": "& {\n  margin-top: 12px;\n}"
              },
              "blocks": []
            },
            {
              "type": "_main_product__price",
              "name": "Price",
              "settings": {
                "css_class": "richtext-md h5 !font-semibold",
                "show_compare_as_price": true,
                "discount_css_class": "richtext-md h5 grayscale-1",
                "price_calculation": "normal",
                "currency_display": "store_default",
                "show_total_price": false,
                "quick_view_visibility": "default",
                "text_color": "#0098dc",
                "custom_css": "& {\n  margin-top: 8px;\n}"
              },
              "blocks": []
            },
            {
              "type": "_main_product__option__color",
              "name": "t:blocks.option_color_image_swatch.presets.option_color_image_swatch.name",
              "settings": {
                "legend": "<strong>[heading]</strong>: [value]",
                "legend_class": "richtext-md h6",
                "primary_source": "image",
                "fallback_source": "image",
                "show_tooltip": true,
                "content_flow": "show_all",
                "scrollbar_class": "scrollbar",
                "scroll_pagination_class": "",
                "sold_out_variants": "",
                "quick_view_visibility": "default",
                "option_type": "by_name",
                "match_option_titles": "choose colour, choose color,color,colour,style,design,fabric",
                "match_option_index": 1,
                "match_exact_word": false,
                "custom_css": "& {\n  margin-top: 16px;\n}\n& legend {\n  margin-bottom: 6px;\n}\n& fieldset {\n  gap: 4px;\n  display: grid;\n  grid-template-columns: repeat(8, 1fr);\n}\n& label {\n  aspect-ratio: 1;\n  border-width: 1px;\n  border-style: solid;\n  border-radius: 6px;\n  outline-width: 2px;\n  outline-offset: 2px;\n}\n& label.active {\n  border-color: #3e3e3e;\n}\n\n@media (max-width: 768px) {\n  & fieldset {\n    grid-template-columns: repeat(7, 1fr);\n  }\n}"
              },
              "blocks": []
            },
            {
              "type": "_main_product__option__radio",
              "name": "Option: Radio Buttons",
              "settings": {
                "legend": "<strong>[heading]</strong>: [value]",
                "legend_class": "richtext-md h6",
                "radio_button_content": "[value]",
                "radio_button_class": "button-primary-sm",
                "content_flow": "show_all",
                "scrollbar_class": "scrollbar",
                "scroll_pagination_class": "",
                "sold_out_variants": "",
                "quick_view_visibility": "default",
                "option_type": "fallback_options",
                "match_option_titles": "",
                "match_option_index": 1,
                "match_exact_word": false,
                "custom_css": "& {\n  margin-top: 16px;\n}\n& legend {\n  margin-bottom: 6px;\n}\n& fieldset {\n  gap: 6px;\n}\n@media (max-width: 1024px) {\n  & {\n    \n  }\n}"
              },
              "blocks": []
            },
            {
              "type": "_main_product__container",
              "name": "Container",
              "settings": {
                "quick_view_visibility": "default",
                "element_id": "",
                "custom_effect": "off",
                "url": "",
                "accessibility_label": "",
                "open_in_new_tab": false,
                "scroll_reveal": "children",
                "collapsible_handle": "",
                "show": false,
                "text_color": "",
                "background_color": "rgba(0,0,0,0)",
                "custom_css": "",
                "generate_block_presets": "never",
                "category_name": "",
                "hidden_name_backup": ""
              },
              "blocks": [
                {
                  "type": "_main_product__subscribe__toggle_card",
                  "name": "Subscription Toggle Card",
                  "settings": {
                    "label": "Subscribe & Save [value]",
                    "label_class": "richtext-md",
                    "price_class": "richtext-md font-bold",
                    "compare_at_price_class": "richtext-md h6",
                    "price_calculation": "normal",
                    "currency_display": "store_default",
                    "select_class": "input-select",
                    "highlights": "<p>[icon.check-active.image] <strong>Free Shipping US & CA</strong></p><p>[icon.check-active.image] <strong>20% Off Future Orders</strong></p><p>[icon.check-active.image] <strong>Easily Swap Flavors</strong></p><p>[icon.check-active.image] <strong>Pause, Update, or Cancel Anytime</strong></p>",
                    "no_subscription_highlights": "<p>[icon.x-active.image] <strong>Free Shipping US & CA</strong></p><p>[icon.x-active.image] <strong>20% Off Future Orders</strong></p><p>[icon.x-active.image] <strong>Easily Swap Flavors</strong></p><p>[icon.x-active.image] <strong>Pause, Update, or Cancel Anytime</strong></p>",
                    "highlights_class": "richtext-md",
                    "default_selection": "subscription",
                    "quick_view_visibility": "default",
                    "text_color": "",
                    "background_color": "#f4f4f4",
                    "custom_css": "& {\n  margin-top: 16px;\n  padding: 12px;\n  border: 1px solid #e3e3e3;\n  border-radius: 8px;\n}"
                  },
                  "blocks": []
                },
                {
                  "type": "_main_product__subscribe__button_card",
                  "name": "Subscription Button Card",
                  "settings": {
                    "legend_label": "<strong>Frequency</strong>",
                    "legend_class": "richtext-md h5",
                    "price_calculation": "normal",
                    "currency_display": "store_default",
                    "subscription_content": "Subscribe & Save [value]",
                    "subscription_highlights": "<ul><li>Free Shipping US & CA</li><li>20% Off Future Orders</li><li>Easily Swap Flavors</li><li>Pause, Update, or Cancel Anytime</li></ul>",
                    "select_class": "input-select",
                    "discount_percentage_override": 0,
                    "one_time_content": "One-time Purchase",
                    "default_selection": "subscription",
                    "label_class": "small-bold",
                    "price_class": "large-bold",
                    "quick_view_visibility": "default",
                    "text_color": "",
                    "background_color": "#f4f4f4",
                    "custom_css": "& {\n  margin-top: 16px;\n  padding: 12px 20px;\n  border: 1px solid #e3e3e3;\n  border-radius: 8px;\n}\n&  button {\n  width: 100%;\n}"
                  },
                  "blocks": []
                },
                {
                  "type": "_main_product__subscribe__button_select",
                  "name": "Subscription Button Selector",
                  "settings": {
                    "legend_label": "<strong>Frequency</strong>",
                    "legend_class": "richtext-md h5",
                    "one_time_content": "One-time Purchase",
                    "subscription_content": "Subscribe & Save [value]",
                    "button_class": "button-primary",
                    "select_class": "input-select",
                    "default_selection": "subscription",
                    "layout_order": "order-1",
                    "quick_view_visibility": "default",
                    "text_color": "",
                    "background_color": "#f4f4f4",
                    "custom_css": "& {\n  margin-top: 16px;\n  padding: 16px;\n  border: 1px solid #e3e3e3;\n  border-radius: 8px;\n  display: grid;\n  gap: 10px;\n}"
                  },
                  "blocks": []
                },
                {
                  "type": "_main_product__subscribe__button_switch",
                  "name": "Subscription Button Switch Card",
                  "settings": {
                    "legend_label": "Frequency",
                    "legend_class": "richtext-md h5",
                    "price_calculation": "normal",
                    "currency_display": "store_default",
                    "subscription_content": "Subscribe & Save [value]",
                    "subscription_highlights": "<ul><li>Free Shipping US & CA</li><li>20% Off Future Orders</li><li>Easily Swap Flavors</li><li>Pause, Update, or Cancel Anytime</li></ul>",
                    "savings_highlight_class": "label-primary-sm",
                    "select_class": "input-select",
                    "discount_percentage_override": 0,
                    "one_time_content": "One-time Purchase",
                    "one_time_highlights": "<ul><li>Free Shipping US & CA</li><li>20% Off Future Orders</li><li>Easily Swap Flavors</li><li>Pause, Update, or Cancel Anytime</li></ul>",
                    "default_selection": "subscription",
                    "layout_order": "-order-1",
                    "label_class": "small-bold",
                    "price_class": "large-bold",
                    "quick_view_visibility": "default",
                    "text_color": "",
                    "background_color": "#f4f4f4",
                    "custom_css": "& {\n  margin-top: 16px;\n  padding: 16px;\n  border: 1px solid #e3e3e3;\n  border-radius: 8px;\n}"
                  },
                  "blocks": []
                }
              ]
            },
            {
              "type": "_main_product__container",
              "name": "Addons",
              "settings": {
                "quick_view_visibility": "default",
                "element_id": "",
                "custom_effect": "off",
                "url": "",
                "accessibility_label": "",
                "open_in_new_tab": false,
                "scroll_reveal": "children",
                "collapsible_handle": "",
                "show": false,
                "text_color": "",
                "background_color": "#f9f9f9",
                "custom_css": "& {\n  margin-top: 24px;\n  padding: 20px;\n  border-radius: 12px;\n}",
                "generate_block_presets": "never",
                "category_name": "",
                "hidden_name_backup": "Complementary Products"
              },
              "blocks": [
                {
                  "type": "richtext",
                  "name": "Richtext",
                  "settings": {
                    "title": "<h5><strong>Addons</strong></h5>",
                    "text_alignment": "inherit",
                    "content_class": "richtext-md",
                    "text_color": "",
                    "custom_css": "& {\n\n\n}",
                    "hide_if_empty": "none"
                  },
                  "blocks": []
                },
                {
                  "type": "slider",
                  "name": "Slider",
                  "settings": {
                    "slider_scroll_snap": "snap-mandatory [&>*]:snap-start",
                    "slider_overflow_container": "",
                    "auto_rotate": 0,
                    "pause_on_hover": false,
                    "scrollbar_class": "scrollbar-no-buttons",
                    "scroll_pagination_class": "",
                    "enable_show_more_button": false,
                    "show_more_button_content": "See more",
                    "show_less_button_content": "See less",
                    "button_class": "button-primary",
                    "display_limit": "12 / 4",
                    "infinite_scroll": "off",
                    "text_color": "",
                    "background_color": "",
                    "custom_css": "& {\n  margin-top: 16px;\n}\n& .grid-container {\n  display: grid;\n  gap: 24px;\n}",
                    "hide_if_empty": "container",
                    "generate_block_presets": "never",
                    "category_name": "",
                    "hidden_name_backup": "Slider"
                  },
                  "blocks": [
                    {
                      "type": "cards_product",
                      "name": "Product Cards",
                      "settings": {
                        "primary_source": "manual",
                        "fallback_source": "manual",
                        "fallback_products": [
                          "amazing-aluminum-bag-collection12"
                        ],
                        "fallback_collection": "",
                        "order_offset": 0,
                        "targeting_type": "product",
                        "target_product": "",
                        "display_limit": "999",
                        "hide_out_of_stock": true,
                        "addon_products": true,
                        "addon_auto_add": true,
                        "addon_bundle_in_cart": true,
                        "text_color": "",
                        "background_color": "",
                        "custom_css": "& {\n}",
                        "hide_if_empty": "container"
                      },
                      "blocks": []
                    },
                    {
                      "type": "cards_product",
                      "name": "Product Cards",
                      "settings": {
                        "primary_source": "complementary",
                        "fallback_source": "complementary",
                        "fallback_products": [
                          "amazing-aluminum-bag-collection11",
                          "amazing-aluminum-bag-collection13",
                          "amazing-aluminum-bag-collection15"
                        ],
                        "fallback_collection": "",
                        "order_offset": 1,
                        "targeting_type": "product",
                        "target_product": "",
                        "display_limit": "999",
                        "hide_out_of_stock": true,
                        "addon_products": true,
                        "addon_auto_add": false,
                        "addon_bundle_in_cart": true,
                        "text_color": "",
                        "background_color": "",
                        "custom_css": "& {\n}",
                        "hide_if_empty": "container"
                      },
                      "blocks": []
                    }
                  ]
                }
              ]
            },
            {
              "type": "_main_product__custom_quantity_selector",
              "name": "Custom Quantity Selector",
              "settings": {
                "legend": "Quantity",
                "legend_class": "richtext-md h5",
                "quick_view_visibility": "default",
                "custom_css": "& {\n\n}\n& legend {\n  margin-bottom: 6px;\n}\n& fieldset {\n  gap: 6px;\n}\n@media (max-width: 1024px) {\n  & {\n    \n  }\n}"
              },
              "blocks": [
                {
                  "type": "_main_product__custom_quantity",
                  "name": "Quantity Test",
                  "settings": {
                    "quantity": 1,
                    "discount": 0,
                    "icon": "",
                    "title": "Test!",
                    "radio_button_class": "button-primary-sm",
                    "label_content": "",
                    "label_class": "",
                    "custom_css": "& {\n}"
                  },
                  "blocks": []
                }
              ]
            },
            {
              "type": "_main_product__quantity_selector",
              "name": "Quantity selector",
              "settings": {
                "label": "",
                "label_class": "richtext-md h5",
                "quantity_class": "quantity-stepper",
                "quick_view_visibility": "default",
                "custom_css": "& {\n  margin-top: 16px;\n}"
              },
              "blocks": []
            },
            {
              "type": "_main_product__add_to_cart_button",
              "name": "Add to Cart Button",
              "settings": {
                "add_to_cart_content": "[icon.lock] Add To Cart • [total]  [compare_at_total]",
                "quantity_price": true,
                "add_to_cart_class": "button-primary",
                "preorder_content": "[icon.timer] Preorder• [price]",
                "preorder_class": "button-primary",
                "out_of_stock_content": "Out of Stock",
                "out_of_stock_class": "button-primary",
                "enable_back_in_stock_notifications": false,
                "quick_view_visibility": "default",
                "custom_css": "& {\n  margin-top: 16px;\n  gap: 6px;\n}"
              },
              "blocks": []
            },
            {
              "type": "_main_product__dynamic_buy_button",
              "name": "Dynamic buy button",
              "settings": {
                "button_class": "button-primary",
                "out_of_stock_content": "Out of Stock",
                "quick_view_visibility": "default",
                "custom_css": "& {\n  margin-top: 16px;\n}"
              },
              "blocks": []
            },
            {
              "type": "_main_product__description",
              "name": "Description",
              "settings": {
                "style": "accordion_plain",
                "content_class": "richtext-md",
                "accordion_class": "accordion",
                "label": "Product Details",
                "open_accordions": "",
                "auto_close_siblings": false,
                "quick_view_visibility": "default",
                "custom_css": "& {\n  margin-top: 8px;\n}"
              },
              "blocks": []
            },
            {
              "type": "_main_product__container",
              "name": "Complementary Products",
              "settings": {
                "quick_view_visibility": "default",
                "element_id": "",
                "custom_effect": "off",
                "url": "",
                "accessibility_label": "",
                "open_in_new_tab": false,
                "scroll_reveal": "children",
                "collapsible_handle": "",
                "show": false,
                "text_color": "",
                "background_color": "#f4f4f4",
                "custom_css": "& {\n  margin-top: 24px;\n  padding: 20px;\n  border-radius: 12px;\n}",
                "generate_block_presets": "never",
                "category_name": "",
                "hidden_name_backup": "Complementary Products"
              },
              "blocks": [
                {
                  "type": "richtext",
                  "name": "Richtext",
                  "settings": {
                    "title": "<h5><strong>Complementary Products</strong></h5>",
                    "text_alignment": "inherit",
                    "content_class": "richtext-md",
                    "text_color": "",
                    "custom_css": "& {\n\n\n}",
                    "hide_if_empty": "none"
                  },
                  "blocks": []
                },
                {
                  "type": "slider",
                  "name": "Slider",
                  "settings": {
                    "slider_scroll_snap": "snap-mandatory [&>*]:snap-start",
                    "slider_overflow_container": "",
                    "auto_rotate": 0,
                    "pause_on_hover": false,
                    "scrollbar_class": "scrollbar-no-buttons",
                    "scroll_pagination_class": "",
                    "enable_show_more_button": false,
                    "show_more_button_content": "See more",
                    "show_less_button_content": "See less",
                    "button_class": "button-primary",
                    "display_limit": "12 / 4",
                    "infinite_scroll": "off",
                    "text_color": "",
                    "background_color": "",
                    "custom_css": "& {\n  margin-top: 16px;\n  --grid-cols: 1.2;\n  --grid-gap: 16px;\n}\n& .grid-container {\n  display: grid;\n  grid-auto-flow: column;\n  grid-auto-columns: calc((100% - (var(--grid-gap) * (var(--grid-cols) - 1))) / var(--grid-cols));\n  gap: var(--grid-gap);\n}\n\n@media (max-width: 768px) {\n  & {\n    --grid-cols: 1.2;\n  }\n}",
                    "hide_if_empty": "container",
                    "generate_block_presets": "never",
                    "category_name": "",
                    "hidden_name_backup": "Slider"
                  },
                  "blocks": [
                    {
                      "type": "cards_product",
                      "name": "Product Cards",
                      "settings": {
                        "primary_source": "complementary",
                        "fallback_source": "related",
                        "fallback_products": [],
                        "fallback_collection": "",
                        "order_offset": 1,
                        "targeting_type": "product",
                        "target_product": "{{ closest.product }}",
                        "display_limit": "5",
                        "hide_out_of_stock": true,
                        "addon_products": false,
                        "addon_auto_add": false,
                        "addon_bundle_in_cart": true,
                        "text_color": "",
                        "background_color": "",
                        "custom_css": "& {\n}",
                        "hide_if_empty": "container"
                      },
                      "blocks": []
                    }
                  ]
                }
              ]
            },
            {
              "type": "container",
              "name": "UGC Videos",
              "settings": {
                "element_id": "",
                "custom_effect": "off",
                "url": "",
                "accessibility_label": "",
                "open_in_new_tab": false,
                "scroll_reveal": "children",
                "collapsible_handle": "",
                "show": false,
                "text_color": "",
                "background_color": "",
                "custom_css": "& {\n  margin-top: 20px;\n}",
                "generate_block_presets": "never",
                "category_name": "",
                "hidden_name_backup": ""
              },
              "blocks": [
                {
                  "type": "richtext",
                  "name": "Richtext",
                  "settings": {
                    "title": "<h5><strong>Related Videos</strong></h5>",
                    "text_alignment": "inherit",
                    "content_class": "richtext-md",
                    "text_color": "",
                    "custom_css": "& {\n\n\n}",
                    "hide_if_empty": "none"
                  },
                  "blocks": []
                },
                {
                  "type": "slider",
                  "name": "UGC Video Slider",
                  "settings": {
                    "slider_scroll_snap": "snap-mandatory [&>*]:snap-start",
                    "slider_overflow_container": "",
                    "auto_rotate": 0,
                    "pause_on_hover": false,
                    "scrollbar_class": "scrollbar-no-buttons",
                    "scroll_pagination_class": "",
                    "enable_show_more_button": false,
                    "show_more_button_content": "See more",
                    "show_less_button_content": "See less",
                    "button_class": "button-primary",
                    "display_limit": "12 / 4",
                    "infinite_scroll": "off",
                    "text_color": "",
                    "background_color": "",
                    "custom_css": "& {\n  margin-top: 16px;\n  --grid-gap: 10px;\n}\n& .grid-container {\n  display: grid;\n  grid-auto-flow: column;\n  grid-auto-columns: 56px;\n  gap: var(--grid-gap);\n}\n& [data-scrollbar] {\n  margin-top: 16px;\n}\n@media (max-width: 768px) {\n  & {\n    --grid-cols: 4;\n    --grid-gap: 10px;\n  }\n}",
                    "hide_if_empty": "container",
                    "generate_block_presets": "never",
                    "category_name": "Video Slider",
                    "hidden_name_backup": ""
                  },
                  "blocks": [
                    {
                      "type": "cards_ugc_video",
                      "name": "Cards ugc video",
                      "settings": {
                        "video_url": "https://youtu.be/pgGrQjYcm5A",
                        "preview_image": "shopify://shop_images/1__image.jpg",
                        "caption": "",
                        "metafield_namespace_key": "",
                        "metafield_video_key": "video",
                        "metafield_video_url_key": "video_url",
                        "metafield_preview_image_key": "preview_image",
                        "metafield_caption_key": "author",
                        "text_alignment": "inherit",
                        "caption_class": "richtext-md",
                        "autoplay": false,
                        "controls": true,
                        "muted": false,
                        "loop": false,
                        "products": [
                          "amazing-aluminum-bag-collection11",
                          "amazing-aluminum-bag-collection13",
                          "amazing-aluminum-bag-collection18"
                        ],
                        "metafield_products_key": "products",
                        "closest_product_fallback": true,
                        "preload": false,
                        "sizes": "(max-width: 768px) 50vw, (max-width: 1024px) 25vw, 40vw",
                        "max_width": 256,
                        "dynamic_content_type": "default",
                        "custom_css": "& {\n  display: flex;\n  flex-direction: column;\n  gap: 12px;\n  align-items: center;\n}\n& .image-wrapper {\n  display: block;\n  width: 100%;\n  aspect-ratio: 1;\n  border-radius: 999px;\n  overflow: hidden;\n  padding: 5px;\n  border: 1px solid #434343;\n  object-fit: contain;\n}\n& .image-wrapper img {\n  border-radius: 999px;\n}",
                        "hide_if_empty": "none",
                        "generate_block_presets": "never",
                        "category_name": "",
                        "hidden_name_backup": ""
                      },
                      "blocks": []
                    },
                    {
                      "type": "cards_ugc_video",
                      "name": "Cards ugc video",
                      "settings": {
                        "video_url": "https://youtu.be/pgGrQjYcm5A",
                        "preview_image": "shopify://shop_images/Mugsy_Hero_Banner.png",
                        "caption": "",
                        "metafield_namespace_key": "",
                        "metafield_video_key": "video",
                        "metafield_video_url_key": "video_url",
                        "metafield_preview_image_key": "preview_image",
                        "metafield_caption_key": "author",
                        "text_alignment": "inherit",
                        "caption_class": "richtext-md",
                        "autoplay": false,
                        "controls": true,
                        "muted": false,
                        "loop": false,
                        "products": [
                          "amazing-aluminum-sandals-collection6",
                          "amazing-aluminum-sandals-collection5",
                          "amazing-aluminum-sandals-collection4",
                          "amazing-aluminum-sandals-collection3",
                          "amazing-aluminum-sandals-collection20",
                          "amazing-aluminum-sandals-collection19",
                          "amazing-aluminum-sandals-collection18",
                          "amazing-aluminum-sandals-collection17"
                        ],
                        "metafield_products_key": "products",
                        "closest_product_fallback": true,
                        "preload": false,
                        "sizes": "(max-width: 768px) 50vw, (max-width: 1024px) 25vw, 40vw",
                        "max_width": 256,
                        "dynamic_content_type": "default",
                        "custom_css": "& {\n  display: flex;\n  flex-direction: column;\n  gap: 12px;\n  align-items: center;\n}\n& .image-wrapper {\n  display: block;\n  width: 100%;\n  aspect-ratio: 1;\n  border-radius: 999px;\n  overflow: hidden;\n  padding: 5px;\n  border: 1px solid #434343;\n  object-fit: contain;\n}\n& .image-wrapper img {\n  border-radius: 999px;\n}",
                        "hide_if_empty": "none",
                        "generate_block_presets": "never",
                        "category_name": "",
                        "hidden_name_backup": ""
                      },
                      "blocks": []
                    },
                    {
                      "type": "cards_ugc_video",
                      "name": "Cards ugc video",
                      "settings": {
                        "video_url": "https://youtu.be/pgGrQjYcm5A",
                        "preview_image": "shopify://shop_images/1__image.jpg",
                        "caption": "",
                        "metafield_namespace_key": "",
                        "metafield_video_key": "video",
                        "metafield_video_url_key": "video_url",
                        "metafield_preview_image_key": "preview_image",
                        "metafield_caption_key": "author",
                        "text_alignment": "inherit",
                        "caption_class": "richtext-md",
                        "autoplay": false,
                        "controls": true,
                        "muted": false,
                        "loop": false,
                        "products": [
                          "amazing-aluminum-bag-collection11",
                          "amazing-aluminum-bag-collection13",
                          "amazing-aluminum-bag-collection18"
                        ],
                        "metafield_products_key": "products",
                        "closest_product_fallback": true,
                        "preload": false,
                        "sizes": "(max-width: 768px) 50vw, (max-width: 1024px) 25vw, 40vw",
                        "max_width": 256,
                        "dynamic_content_type": "default",
                        "custom_css": "& {\n  display: flex;\n  flex-direction: column;\n  gap: 12px;\n  align-items: center;\n}\n& .image-wrapper {\n  display: block;\n  width: 100%;\n  aspect-ratio: 1;\n  border-radius: 999px;\n  overflow: hidden;\n  padding: 5px;\n  border: 1px solid #434343;\n  object-fit: contain;\n}\n& .image-wrapper img {\n  border-radius: 999px;\n}",
                        "hide_if_empty": "none",
                        "generate_block_presets": "never",
                        "category_name": "",
                        "hidden_name_backup": ""
                      },
                      "blocks": []
                    },
                    {
                      "type": "cards_ugc_video",
                      "name": "Cards ugc video",
                      "settings": {
                        "video_url": "https://youtu.be/pgGrQjYcm5A",
                        "preview_image": "shopify://shop_images/Mugsy_Hero_Banner.png",
                        "caption": "",
                        "metafield_namespace_key": "",
                        "metafield_video_key": "video",
                        "metafield_video_url_key": "video_url",
                        "metafield_preview_image_key": "preview_image",
                        "metafield_caption_key": "author",
                        "text_alignment": "inherit",
                        "caption_class": "richtext-md",
                        "autoplay": false,
                        "controls": true,
                        "muted": false,
                        "loop": false,
                        "products": [
                          "amazing-aluminum-sandals-collection6",
                          "amazing-aluminum-sandals-collection5",
                          "amazing-aluminum-sandals-collection4",
                          "amazing-aluminum-sandals-collection3",
                          "amazing-aluminum-sandals-collection20",
                          "amazing-aluminum-sandals-collection19",
                          "amazing-aluminum-sandals-collection18",
                          "amazing-aluminum-sandals-collection17"
                        ],
                        "metafield_products_key": "products",
                        "closest_product_fallback": true,
                        "preload": false,
                        "sizes": "(max-width: 768px) 50vw, (max-width: 1024px) 25vw, 40vw",
                        "max_width": 256,
                        "dynamic_content_type": "default",
                        "custom_css": "& {\n  display: flex;\n  flex-direction: column;\n  gap: 12px;\n  align-items: center;\n}\n& .image-wrapper {\n  display: block;\n  width: 100%;\n  aspect-ratio: 1;\n  border-radius: 999px;\n  overflow: hidden;\n  padding: 5px;\n  border: 1px solid #434343;\n  object-fit: contain;\n}\n& .image-wrapper img {\n  border-radius: 999px;\n}",
                        "hide_if_empty": "none",
                        "generate_block_presets": "never",
                        "category_name": "",
                        "hidden_name_backup": ""
                      },
                      "blocks": []
                    },
                    {
                      "type": "cards_ugc_video",
                      "name": "Cards ugc video",
                      "settings": {
                        "video_url": "https://youtu.be/pgGrQjYcm5A",
                        "preview_image": "shopify://shop_images/1__image.jpg",
                        "caption": "",
                        "metafield_namespace_key": "",
                        "metafield_video_key": "video",
                        "metafield_video_url_key": "video_url",
                        "metafield_preview_image_key": "preview_image",
                        "metafield_caption_key": "author",
                        "text_alignment": "inherit",
                        "caption_class": "richtext-md",
                        "autoplay": false,
                        "controls": true,
                        "muted": false,
                        "loop": false,
                        "products": [
                          "amazing-aluminum-bag-collection11",
                          "amazing-aluminum-bag-collection13",
                          "amazing-aluminum-bag-collection18"
                        ],
                        "metafield_products_key": "products",
                        "closest_product_fallback": true,
                        "preload": false,
                        "sizes": "(max-width: 768px) 50vw, (max-width: 1024px) 25vw, 40vw",
                        "max_width": 256,
                        "dynamic_content_type": "default",
                        "custom_css": "& {\n  display: flex;\n  flex-direction: column;\n  gap: 12px;\n  align-items: center;\n}\n& .image-wrapper {\n  display: block;\n  width: 100%;\n  aspect-ratio: 1;\n  border-radius: 999px;\n  overflow: hidden;\n  padding: 5px;\n  border: 1px solid #434343;\n  object-fit: contain;\n}\n& .image-wrapper img {\n  border-radius: 999px;\n}",
                        "hide_if_empty": "none",
                        "generate_block_presets": "never",
                        "category_name": "",
                        "hidden_name_backup": ""
                      },
                      "blocks": []
                    }
                  ]
                }
              ]
            }
          ]
        }
      ],
      "category": "Product"
    },
    {
      "name": "Bundle",
      "settings": {
        "product": "{{ closest.collection.metafields.smart.bundle_parent.value }}",
        "supports_addon_products": 1,
        "default_select_selling_plan": false,
        "default_variant_metafield": "smart.default_variant",
        "container_spacing": "px-container-md",
        "text_color": "",
        "background_color": "#f0ede7",
        "custom_css": "& {\n  padding-top: 96px;\n  padding-bottom: 96px;\n}\n\n@media (max-width: 1023px) {\n  & {\n    padding-top: 40px;\n    padding-bottom: 40px;\n  }\n}",
        "section_id": "Bundle",
        "category_name": "",
        "hidden_name_backup": ""
      },
      "category": "Bundle",
      "blocks": [
        {
          "type": "hide_if_empty",
          "name": "_Dynamically Hidden_",
          "settings": {
            "liquid_code": "{% unless collection.metafields.smart.bundle_parent %}\n  HIDE_CONTAINER\n{% endunless %}"
          },
          "blocks": []
        },
        {
          "type": "_main_product__container",
          "name": "Container",
          "settings": {
            "quick_view_visibility": "default",
            "element_id": "",
            "custom_effect": "off",
            "url": "",
            "accessibility_label": "",
            "open_in_new_tab": false,
            "scroll_reveal": "children",
            "collapsible_handle": "",
            "show": false,
            "text_color": "",
            "background_color": "#f7f5f1",
            "custom_css": "& {\n  display: grid;\n  grid-template-columns: 1fr 1px 1fr;\n  gap: 16px;\n  align-items: center;\n  border: 1px solid #fff;\n  border-radius: 16px;\n  padding: 0 max(24px,calc((100% - 1128px)/2));\n}\n\n\n@media (max-width: 1023px) {\n  & {\n    grid-template-columns: 1fr;\n    gap: 24px;\n  }\n}",
            "generate_block_presets": "never",
            "category_name": "",
            "hidden_name_backup": ""
          },
          "blocks": [
            {
              "type": "_main_product__container",
              "name": "Content",
              "settings": {
                "quick_view_visibility": "default",
                "element_id": "",
                "custom_effect": "off",
                "url": "",
                "accessibility_label": "",
                "open_in_new_tab": false,
                "scroll_reveal": "children",
                "collapsible_handle": "",
                "show": false,
                "text_color": "",
                "background_color": "",
                "custom_css": "& {\n  padding: 56px 48px;\n  display: grid;\n  gap: 40px;\n}\n\n@media (max-width: 1023px) {\n  & {\n    padding: 0;\n    gap: 16px;\n  }\n}",
                "generate_block_presets": "never",
                "category_name": "",
                "hidden_name_backup": ""
              },
              "blocks": [
                {
                  "type": "_main_product__container",
                  "name": "Title & Button",
                  "settings": {
                    "quick_view_visibility": "default",
                    "element_id": "",
                    "custom_effect": "off",
                    "url": "",
                    "accessibility_label": "",
                    "open_in_new_tab": false,
                    "scroll_reveal": "children",
                    "collapsible_handle": "",
                    "show": false,
                    "text_color": "",
                    "background_color": "",
                    "custom_css": "& {\n  display: flex;\n  justify-content: space-between;\n  align-items: end;\n  gap: 40px;\n}\n\n\n@media (max-width: 1023px) {\n  & {\n display: none;   \n  }\n}",
                    "generate_block_presets": "never",
                    "category_name": "",
                    "hidden_name_backup": ""
                  },
                  "blocks": [
                    {
                      "type": "_main_product__container",
                      "name": "Title & Subtitle",
                      "settings": {
                        "quick_view_visibility": "default",
                        "element_id": "",
                        "custom_effect": "off",
                        "url": "",
                        "accessibility_label": "",
                        "open_in_new_tab": false,
                        "scroll_reveal": "children",
                        "collapsible_handle": "",
                        "show": false,
                        "text_color": "",
                        "background_color": "",
                        "custom_css": "& {\n  display: flex;\n  flex-direction: column;\n  gap: 4px;\n}",
                        "generate_block_presets": "never",
                        "category_name": "",
                        "hidden_name_backup": ""
                      },
                      "blocks": [
                        {
                          "type": "_main_product__dynamic_text",
                          "name": "Title",
                          "settings": {
                            "title": "<h2><strong>[product.title]</strong></h2>",
                            "text_alignment": "inherit",
                            "type_richtext_metafield": "",
                            "css_class": "richtext-md",
                            "link_to_product": false,
                            "quick_view_visibility": "default",
                            "text_color": "",
                            "custom_css": "& {\n}"
                          },
                          "blocks": []
                        },
                        {
                          "type": "richtext",
                          "name": "Subtitle",
                          "settings": {
                            "title": "<h4>{{ closest.collection.metafields.smart.bundle_text | metafield_tag }}</h4>",
                            "text_alignment": "inherit",
                            "content_class": "richtext-md",
                            "text_color": "",
                            "custom_css": "& {\n}",
                            "hide_if_empty": "none"
                          },
                          "blocks": []
                        }
                      ]
                    },
                    {
                      "type": "_main_product__cta_button",
                      "name": "CTA Button",
                      "settings": {
                        "default__action": "link_to_product",
                        "default__content": "Full Details",
                        "default__class": "plain-link",
                        "default__product_modal_handle": "product",
                        "variant__enable": false,
                        "variant__action": "link_to_product",
                        "variant__content": "[icon.lock] Add To Cart • [price]",
                        "variant__class": "button-primary",
                        "variant__product_modal_handle": "product",
                        "subscription__enable": false,
                        "subscription__action": "link_to_product",
                        "subscription__content": "[icon.lock] Add To Cart • [price]",
                        "subscription__class": "button-primary",
                        "subscription__product_modal_handle": "product",
                        "preorder__enable": true,
                        "preorder__action": "add_to_cart",
                        "preorder__content": "[icon.timer] Preorder • [price]",
                        "preorder__class": "button-primary",
                        "preorder__product_modal_handle": "product",
                        "sold_out__enable": true,
                        "sold_out__action": "disabled",
                        "sold_out__content": "Sold out",
                        "sold_out__class": "button-primary",
                        "sold_out__product_modal_handle": "product",
                        "custom_css": "& {\n  flex-shrink: 0;\n}",
                        "show_conditionally": "always",
                        "theme_editor_preview": "default"
                      },
                      "blocks": []
                    }
                  ]
                },
                {
                  "type": "_main_product__container",
                  "name": "Product Cards",
                  "settings": {
                    "quick_view_visibility": "default",
                    "element_id": "",
                    "custom_effect": "off",
                    "url": "",
                    "accessibility_label": "",
                    "open_in_new_tab": false,
                    "scroll_reveal": "children",
                    "collapsible_handle": "",
                    "show": false,
                    "text_color": "",
                    "background_color": "",
                    "custom_css": "& {\n  display: grid;\n  --gap: 24px;\n  gap: var(--gap);\n}\n\n@media (max-width: 1023px) {\n  & {\n --gap: 12px;   \n  }\n}",
                    "generate_block_presets": "never",
                    "category_name": "",
                    "hidden_name_backup": ""
                  },
                  "blocks": [
                    {
                      "type": "cards_product",
                      "name": "Product Cards",
                      "settings": {
                        "primary_source": "manual",
                        "fallback_source": "manual",
                        "fallback_products": "{{ closest.collection.metafields.smart.bundle_childs.value }}",
                        "fallback_collection": "",
                        "order_offset": 0,
                        "targeting_type": "product",
                        "target_product": "",
                        "display_limit": "4",
                        "product_card_class": "product-card-flat",
                        "hide_out_of_stock": false,
                        "addon_products": false,
                        "addon_auto_add": false,
                        "addon_bundle_in_cart": true,
                        "hydrate_immediately": false,
                        "preload_images": 0,
                        "text_color": "",
                        "background_color": "",
                        "custom_css": "&:not(:last-of-type){\n  padding-bottom: var(--gap);\n  border-bottom: 1px solid #E6E6E6;\n}\n\n& .button-secondary, & [data-style-id*=\"card_product_card_price\"]{\n  display: none;\n}",
                        "hide_if_empty": "section"
                      },
                      "blocks": []
                    }
                  ]
                },
                {
                  "type": "_main_product__container",
                  "name": "Add to Cart Button",
                  "settings": {
                    "quick_view_visibility": "default",
                    "element_id": "",
                    "custom_effect": "off",
                    "url": "",
                    "accessibility_label": "",
                    "open_in_new_tab": false,
                    "scroll_reveal": "children",
                    "collapsible_handle": "",
                    "show": false,
                    "text_color": "",
                    "background_color": "",
                    "custom_css": "& {\n}",
                    "generate_block_presets": "never",
                    "category_name": "",
                    "hidden_name_backup": ""
                  },
                  "blocks": [
                    {
                      "type": "_main_product__add_to_cart_button",
                      "settings": {
                        "add_to_cart_content": "Add  ·  [compare_at_price][price]",
                        "quantity_price": true,
                        "add_to_cart_class": "button-primary",
                        "preorder_content": "Preorder · [price]",
                        "preorder_class": "button-primary",
                        "out_of_stock_content": "Out of Stock",
                        "out_of_stock_class": "button-primary",
                        "enable_back_in_stock_notifications": true,
                        "quick_view_visibility": "default",
                        "custom_css": ""
                      },
                      "blocks": []
                    },
                    {
                      "type": "richtext",
                      "name": "Richtext",
                      "settings": {
                        "title": "<h6>Free shipping · Money-back Guarantee</h6>",
                        "text_alignment": "center",
                        "content_class": "richtext-md",
                        "text_color": "#6a6a6a",
                        "custom_css": "& {\n  margin-top: 8px;\n  display: flex;\n  align-items: center;\n  gap: 12px;\n}\n\n&::before, &::after{\n  content: '';\n  background: #E6E6E6;\n  width: 100%;\n  height: 1px;\n  display: flex;\n}\n\n& .richtext-md{\n  flex-shrink: 0;\n}\n\n@media (max-width: 989px) {\n  & {\n    gap: 4px;\n  }\n}",
                        "hide_if_empty": "none"
                      },
                      "blocks": []
                    },
                    {
                      "type": "_main_product__cta_button",
                      "name": "CTA Button",
                      "settings": {
                        "default__action": "link_to_product",
                        "default__content": "Full Details",
                        "default__class": "plain-link",
                        "default__product_modal_handle": "product",
                        "variant__enable": false,
                        "variant__action": "link_to_product",
                        "variant__content": "[icon.lock] Add To Cart • [price]",
                        "variant__class": "button-primary",
                        "variant__product_modal_handle": "product",
                        "subscription__enable": false,
                        "subscription__action": "link_to_product",
                        "subscription__content": "[icon.lock] Add To Cart • [price]",
                        "subscription__class": "button-primary",
                        "subscription__product_modal_handle": "product",
                        "preorder__enable": true,
                        "preorder__action": "add_to_cart",
                        "preorder__content": "[icon.timer] Preorder • [price]",
                        "preorder__class": "button-primary",
                        "preorder__product_modal_handle": "product",
                        "sold_out__enable": true,
                        "sold_out__action": "disabled",
                        "sold_out__content": "Sold out",
                        "sold_out__class": "button-primary",
                        "sold_out__product_modal_handle": "product",
                        "custom_css": "& {\n  flex-shrink: 0;\n  display: flex;\n  margin: 16px auto 24px;\n}\n\n@media (min-width: 990px) {\n  & {\n    display: none;\n  }\n}",
                        "show_conditionally": "always",
                        "theme_editor_preview": "default"
                      },
                      "blocks": []
                    }
                  ]
                }
              ]
            },
            {
              "type": "divider",
              "name": "Divider",
              "settings": {
                "background_color": "#ffffff",
                "custom_css": "& {\n  height: 100%;\n  width: 1px;\n  display: block;\n}\n\n@media (max-width: 1023px) {\n  & {\n display: none;   \n  }\n}"
              },
              "blocks": []
            },
            {
              "type": "_main_product__container",
              "name": "Title  Mobile",
              "settings": {
                "quick_view_visibility": "default",
                "element_id": "",
                "custom_effect": "off",
                "url": "",
                "accessibility_label": "",
                "open_in_new_tab": false,
                "scroll_reveal": "children",
                "collapsible_handle": "",
                "show": false,
                "text_color": "",
                "background_color": "",
                "custom_css": "& {\n  display: flex;\n  flex-direction: column;\n  gap: 4px;\n  order: -1;\n  padding-top: 24px;\n}\n\n@media (min-width: 1024px) {\n  & {\n   display: none; \n  }\n}",
                "generate_block_presets": "never",
                "category_name": "",
                "hidden_name_backup": ""
              },
              "blocks": [
                {
                  "type": "_main_product__dynamic_text",
                  "name": "Title",
                  "settings": {
                    "title": "<h2><strong>[product.title]</strong></h2>",
                    "text_alignment": "inherit",
                    "type_richtext_metafield": "",
                    "css_class": "richtext-md",
                    "link_to_product": false,
                    "quick_view_visibility": "default",
                    "text_color": "",
                    "custom_css": "& {\n}"
                  },
                  "blocks": []
                },
                {
                  "type": "richtext",
                  "name": "Subtitle",
                  "settings": {
                    "title": "<h4>Your Nightly Reset in One Bundle</h4>",
                    "text_alignment": "inherit",
                    "content_class": "richtext-md",
                    "text_color": "",
                    "custom_css": "& {\n}",
                    "hide_if_empty": "none"
                  },
                  "blocks": []
                }
              ]
            },
            {
              "type": "_main_product__container",
              "name": "Gallery",
              "settings": {
                "quick_view_visibility": "default",
                "element_id": "",
                "custom_effect": "off",
                "url": "",
                "accessibility_label": "",
                "open_in_new_tab": false,
                "scroll_reveal": "children",
                "collapsible_handle": "",
                "show": false,
                "text_color": "",
                "background_color": "",
                "custom_css": "& {\n  margin: 24px 0;\n  padding: 0;\n  position: relative;\n}\n\n@media (max-width: 1023px) {\n  & {\n order: -1;  \n margin: 0;\n  }\n}",
                "generate_block_presets": "never",
                "category_name": "",
                "hidden_name_backup": ""
              },
              "blocks": [
                {
                  "type": "_main_product__gallery",
                  "settings": {
                    "filter_images": "show_all",
                    "hide_image_alt": "hide-image",
                    "scroll_to_selected_variant_image": true,
                    "additional_view": "disabled",
                    "enable_mouse_dragging": true,
                    "slider_scroll_snap": "snap-mandatory [&>*]:snap-start",
                    "slider_overflow_container": "",
                    "scrollbar_class": "",
                    "scroll_pagination_class": "scroll-pagination-lg",
                    "infinite_scroll": "off",
                    "preload_images": 1,
                    "sizes": "(max-width: 768px) 100vw, (max-width: 1024px) 50vw, 48vw",
                    "max_width": 800,
                    "quick_view_visibility": "default",
                    "custom_css": "& {\n  margin: 0;\n  padding: 0;\n  position: relative;\n}\n& .image-wrapper {\n  aspect-ratio: 1;\n  border-radius: 8px;\n}\n& .scroll-pagination-lg {\n  padding: 8px;\n  gap: 8px;\n  margin-top: 24px;\n}\n& .scroll-pagination-lg span {\n  width: 6px;\n  height: 6px;\n}\n& .scroll-pagination-lg span.active {\n  width: 8px;\n  height: 8px;\n}\n@media (max-width: 989px) {\n  & .scroll-pagination-lg {\n    padding: 4px 6px !important;\n    gap: 8px;\n  }\n}",
                    "generate_block_presets": "never",
                    "category_name": "",
                    "hidden_name_backup": ""
                  },
                  "blocks": []
                },
                {
                  "type": "_main_product__labels",
                  "name": "Labels",
                  "settings": {
                    "content_source": "product.metafields.smart.labels",
                    "label_class__content": "label-primary",
                    "label_type__discounts": "value",
                    "label_class__discount": "label-secondary",
                    "label_type__low_inventory": "hide",
                    "default_content__low_inventory": "Almost Gone",
                    "label_class__low_inventory": "label-primary",
                    "low_inventory_threshold": 10,
                    "label_type__out_of_stock": "hide",
                    "default_content__out_of_stock": "Sold out",
                    "label_class__out_of_stock": "label-primary",
                    "label_type__preorder": "hide",
                    "default_content__preorder": "Preorder",
                    "label_class__preorder": "label-primary",
                    "quick_view_visibility": "default",
                    "custom_css": "& {\n  display: flex;\n  flex-wrap: wrap;\n\n  gap: 2px 3px;\n  position: absolute;\n  top: 36px;\n  right: 0;\n}\n\n@media (max-width: 768px) {\n  & {\n    top: 0;\n  }\n}"
                  },
                  "blocks": []
                }
              ]
            }
          ]
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": [
      "custom.global",
      "custom.header",
      "custom.modal",
      "custom.card",
      "custom.head",
      "custom.megamenu"
    ]
  },
  "class": "shopify_section__main_product"
}
{% endschema %}
