{%- comment -%} Auto Generated Variables start {%- endcomment -%}
{%- liquid
  assign section_type = "main_product_bar"
  assign _product = section.settings.product
  assign sticky = section.settings.sticky
  assign container_spacing = section.settings.container_spacing
  assign text_color = section.settings.text_color
  assign background_color = section.settings.background_color
  assign custom_css = section.settings.custom_css
  assign section_id = section.settings.section_id
-%}
{%- comment -%} Auto Generated Variables end {%- endcomment -%}

{% liquid
  assign product = section.settings.product | default: product
  assign _product = _product | default: product
  assign selected_variant = product.selected_or_first_available_variant | default: product.variants.first

  if request.visual_preview_mode and product == blank
    assign product = collections.all.products[0]
  endif
%}
{% capture section_content %}

  {% if product == blank and request.visual_preview_mode == true %}
    {% assign product = collections.all.products[0] %}
  {% endif %}

  <!-- Begin: Klaviyo _learnq event tracking -->
  <script>
    (function() {
      var _learnq = window._learnq || [];
      {% if product %}
      var item = {
        Name: {{ product.title|json }},
        ProductID: {{ product.id|json }},
        Categories: {{ product.collections|map:'title'|json }},
        ImageURL: "https:{{ product.featured_image.src|img_url:'grande' }}",
        URL: "{{ shop.secure_url }}{{ product.url }}",
        Brand: {{ product.vendor|json }},
        Price: {{ product.price|money|json }},
        CompareAtPrice: {{ product.compare_at_price_max|money|json }}
      };
      _learnq.push(['track', 'Viewed Product', item]);
      _learnq.push(['trackViewedItem', {
        Title: item.Name,
        ItemId: item.ProductID,
        Categories: item.Categories,
        ImageUrl: item.ImageURL,
        Url: item.URL,
        Metadata: {
          Brand: item.Brand,
          Price: item.Price,
          CompareAtPrice: item.CompareAtPrice
        }
      }]);
      {% endif %}
    })();
  </script>
  <!-- End: Klaviyo _learnq event tracking -->

  {% if sticky == 'top' %}
    <style>
      {{ section.id | prepend: '#shopify-section-' }}:not(:empty) {
        z-index: 19;
        top: var(--header-height-offset);
        position: sticky;
      }
    </style>
  {% endif %}
  {% if sticky == 'bottom' %}
    <style>
      [data-footer-section] {
        padding-bottom: var(--height-{{ section.id }});
      }
    </style>
  {% endif %}

  {% capture selector %}[data-style-id="{{ section.id }}--{{ block.id }}"]{% endcapture %}
  {% if text_color != blank or text_color.alpha != 0 or background_color != blank %}
    {% capture css %}
      & {
      {% if text_color != blank and text_color.alpha != 0 %}color: {{ text_color }};{% endif %}
      {% if background_color != blank %}background-color: {{ background_color }};{% endif %}
      }
    {% endcapture %}
  {% endif %}

  <style>
    {{ css | append: custom_css | replace: '&', selector | strip_newlines }}
  </style>

  <section
      data-style-id="{{ section.id }}--{{ block.id }}"
      data-product-bar="true"
      {% if sticky == 'bottom' %}
        x-init="$nextTick(() => { document.documentElement.style.setProperty(`--height-{{ section.id }}`, $el.offsetHeight + 'px') });"
        @resize.window="$nextTick(() => { document.documentElement.style.setProperty(`--height-{{ section.id }}`, $el.offsetHeight + 'px') });"
        x-cloak
        x-show="progress > 0"
        :class="progress > 0 ? ($modal.id ? 'z-[10]' : 'z-[2147483645] pointer-events-auto') : 'pointer-events-none'"
        x-transition:enter-start="opacity-0"
        x-transition:enter-end="opacity-100"
        x-transition:leave-start="opacity-100"
        x-transition:leave-end="opacity-0"
        class="fixed bottom-0 inset-x-0 transition-opacity {{ container_spacing }}"
      {% else %}
        x-defer="intersect"
        class="{{ container_spacing }}"
      {% endif %}
      {% if _product.handle == product.handle %}
        x-data="{
          ..._sections.initMainProduct($el, $refs, $el.getAttribute('data-product-handle')),
          ..._sections.initParallax($el), progress: $scrollProgress.progress.get($el.closest(`.shopify-section`)),
          initiated: false
        }"
        x-effect="() => {
         progress = $scrollProgress.progress.get($el.closest(`.shopify-section`));
         if (progress && progress > 0 ) {
             $nextTick(() => { requestAnimationFrame(() => { document.documentElement.style.setProperty(`--height-{{ section.id }}`, $el.offsetHeight + 'px') }) });
         }
         if (!initiated && _stores.main_product) {
          initiated = true;
          state = _stores.main_product?.state;
          pdp = _stores.main_product?.pdp;
          handleAddToCart = _stores.main_product?.handleAddToCart;
          handleBackInStockNotification = _stores.main_product?.handleBackInStockNotification;
          styleDynamicBuyButton = _stores.main_product?.styleDynamicBuyButton;
          setSelectedVariant = _stores.main_product?.setSelectedVariant;
          setProductOption = _stores.main_product?.setProductOption;
          setSiblingProduct = _stores.main_product?.setSiblingProduct;
          setSellingPlan = _stores.main_product?.setSellingPlan;
          scrollToMediaById = _stores.main_product?.scrollToMediaById;
          getContentLabels = _stores.main_product?.getContentLabels;
          getDiscountLabel = _stores.main_product?.getDiscountLabel;
          getDynamicText = _stores.main_product?.getDynamicText;
          getDynamicValue = _stores.main_product?.getDynamicValue;
          getDynamicValueWithFallbacks = _stores.main_product?.getDynamicValueWithFallbacks;
          getCTAButtonProps = _stores.main_product?.getCTAButtonProps;
          updateProductState = _stores.main_product?.updateProductState;
          setDynamicPrice = _stores.main_product?.setDynamicPrice;
          handleImageSelection = _stores.main_product?.handleImageSelection;
          }
        }"
      {% else %}
        x-data="{ ..._sections.initMainProduct($el, $refs, $el.getAttribute('data-product-handle')), ..._sections.initParallax($el), progress: $scrollProgress.progress.get($el.closest(`.shopify-section`)) }"
        x-effect="progress = $scrollProgress.progress.get($el.closest(`.shopify-section`))"
      {% endif %}
      data-product-handle="{{ _product.handle | default: product.handle }}">
    {% content_for 'blocks' %}
  </section>
{% endcapture %}


{% if request.visual_preview_mode %}
  <script type="application/json"
          data-product-data="{{ product.handle }}"
          data-primary-product-data="{{ product.handle }}"> {%- render '_json.product', product: product -%}</script>
{% endif %}
{% if section_content contains '/break"></script>' %}
  {% break %}
{% endif %}
{{ section_content }}

{% schema %}
{
  "name": "Product Bar",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    },
    {
      "type": "select",
      "id": "sticky",
      "label": "Sticky",
      "default": "bottom",
      "options": [
        {
          "value": "",
          "label": "Off"
        },
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ]
    },
    {
      "type": "paragraph",
      "content": "t:all.empty_char"
    },
    {
      "type": "paragraph",
      "content": "t:all.empty_char"
    },
    {
      "type": "header",
      "content": "Section Globals"
    },
    {
      "type": "select",
      "id": "container_spacing",
      "default": "px-container-md",
      "options": [
        {
          "value": "px-container-xs",
          "label": "Extra Small"
        },
        {
          "value": "px-container-sm",
          "label": "Small"
        },
        {
          "value": "px-container-md",
          "label": "Medium"
        },
        {
          "value": "px-container-lg",
          "label": "Large"
        },
        {
          "value": "px-container-gutter",
          "label": "Gutter Only"
        },
        {
          "value": "px-container-fullwidth",
          "label": "Fullwidth"
        }
      ],
      "label": "Container Spacing"
    },
    {
      "type": "color",
      "alpha": true,
      "id": "text_color",
      "label": "Text color"
    },
    {
      "type": "color",
      "alpha": true,
      "id": "background_color",
      "label": "Background color"
    },
    {
      "type": "textarea",
      "id": "custom_css",
      "label": "Custom CSS",
      "default": "& {\n  padding-top: 42px;\n  padding-bottom: 60px;\n}\n@media (max-width: 768px) {\n  & {\n    padding-top: 32px;\n    padding-bottom: 48px;\n  }\n}"
    },
    {
      "type": "text",
      "id": "section_id",
      "label": "Section Id"
    },
    {
      "type": "paragraph",
      "content": "t:all.empty_char",
      "visible_if": "{{ settings.development__dev_mode == true }}"
    },
    {
      "type": "header",
      "content": "Development Integration",
      "visible_if": "{{ settings.development__dev_mode == true }}"
    },
    {
      "type": "select",
      "id": "generate_presets",
      "label": "Presets Codegen",
      "default": "never",
      "options": [
        {
          "value": "never",
          "label": "Off"
        },
        {
          "value": "always",
          "label": "On"
        },
        {
          "value": "manual_override",
          "label": "Override"
        }
      ],
      "visible_if": "{{ settings.development__dev_mode == true }}"
    },
    {
      "type": "text",
      "id": "category_name",
      "label": "Category",
      "visible_if": "{{ settings.development__dev_mode == true }}"
    },
    {
      "type": "text",
      "id": "hidden_name_backup",
      "label": " Hidden Name Backup",
      "visible_if": "{{ settings.development__dev_mode == 'show_never' }}"
    },
    {
      "type": "paragraph",
      "content": "Setting the preset to 'Override' and running the dev tools will override the existing manual preset if the names match. NB: This should be switched off right after updated a Preset!",
      "visible_if": "{{ settings.development__dev_mode == true }}"
    }
  ],
  "blocks": [
    {
      "type": "menu"
    },
    {
      "type": "slider"
    },
    {
      "type": "richtext"
    },
    {
      "type": "_main_product__container"
    },
    {
      "type": "_main_product__collapsible_container"
    },
    {
      "type": "_main_product__availability"
    },
    {
      "type": "_main_product__gallery"
    },
    {
      "type": "_main_product__thumbnails"
    },
    {
      "type": "_main_product__price"
    },
    {
      "type": "_main_product__rating"
    },
    {
      "type": "_main_product__quantity_selector"
    },
    {
      "type": "_main_product__custom_quantity_selector"
    },
    {
      "type": "_main_product__add_to_cart_button"
    },
    {
      "type": "_main_product__cta_button"
    },
    {
      "type": "_main_product__description"
    },
    {
      "type": "_main_product__option__color"
    },
    {
      "type": "_main_product__option__color_w_caption"
    },
    {
      "type": "_main_product__option__radio"
    },
    {
      "type": "_main_product__option__radio_detailed"
    },
    {
      "type": "_main_product__option__select"
    },
    {
      "type": "_main_product__variant_selector__color"
    },
    {
      "type": "_main_product__variant_selector__radio"
    },
    {
      "type": "_main_product__variant_selector__select"
    },
    {
      "type": "_main_product__sibling__color"
    },
    {
      "type": "_main_product__sibling__radio"
    },
    {
      "type": "_main_product__sibling__select"
    },
    {
      "type": "_main_product__sibling__color_select"
    },
    {
      "type": "_main_product__sibling__scent_sidebar"
    },
    {
      "type": "_main_product__subscribe__button_select"
    },
    {
      "type": "_main_product__subscribe__button_card"
    },
    {
      "type": "_main_product__subscribe__button_switch"
    },
    {
      "type": "_main_product__subscribe__toggle_card"
    },
    {
      "type": "_main_product__payment_terms"
    },
    {
      "type": "_main_product__dynamic_buy_button"
    },
    {
      "type": "_main_product__dynamic_text"
    },
    {
      "type": "_main_product__image"
    },
    {
      "type": "_main_product__labels"
    },
    {
      "type": "_main_product__gift_card_recipient"
    },
    {
      "type": "_main_product__gallery_button"
    },
    {
      "type": "_main_product__rebuy_popup"
    },
    {
      "type": "@app"
    },
    {
      "type": "@theme"
    },
    {
      "type": "_main_product__addons_atc_button"
    }
  ],
  "presets": [
    {
      "name": "Product Bar",
      "settings": {
        "product": "",
        "sticky": "bottom",
        "container_spacing": "px-container-md",
        "text_color": "rgba(0,0,0,0)",
        "background_color": "#e6e6e6",
        "custom_css": "& {\n  height: 60px;\n  display: flex;\n  justify-content: space-between;\n  gap: 12px;\n}",
        "section_id": "",
        "category_name": "",
        "hidden_name_backup": "Product Bar"
      },
      "blocks": [
        {
          "type": "container",
          "name": "Container",
          "settings": {
            "element_id": "",
            "custom_effect": "off",
            "url": "",
            "accessibility_label": "",
            "open_in_new_tab": false,
            "scroll_reveal": "children",
            "collapsible_handle": "",
            "show": false,
            "text_color": "",
            "background_color": "",
            "custom_css": "@media (max-width: 768px) {\n  & {\n    display: none;\n  }\n}",
            "generate_block_presets": "never",
            "category_name": "",
            "hidden_name_backup": "Container"
          },
          "blocks": [
            {
              "type": "button",
              "name": "Button",
              "settings": {
                "type": "button",
                "title": "Reviews",
                "url": "#reviews",
                "collapsible_handle": "",
                "target_handle": "",
                "trigger_on_hover": false,
                "tab_group": "0",
                "metafield_namespace_key": "",
                "metafield_label_key": "label",
                "metafield_url_key": "url",
                "button_class": "plain-link",
                "show_active_state": false,
                "accessibility_label": "",
                "metafield_accessibility_label_key": "title",
                "dynamic_content_type": "default",
                "custom_css": "& {\n  height: 60px;\n  display: flex;\n  align-items: center;\n  border-bottom: 2px solid transparent;\n}\n&:where(:hover,:focus) {\n   border-bottom: 2px solid rgba(255,255,255,0.6);\n}\n&.active {\n  border-bottom: 2px solid white;\n}",
                "hide_if_empty": "none"
              },
              "blocks": []
            }
          ]
        },
        {
          "type": "_main_product__container",
          "name": "Container",
          "settings": {
            "quick_view_visibility": "default",
            "element_id": "",
            "custom_effect": "off",
            "url": "",
            "accessibility_label": "",
            "open_in_new_tab": false,
            "scroll_reveal": "children",
            "collapsible_handle": "",
            "show": false,
            "text_color": "",
            "background_color": "",
            "custom_css": "& {\n  display: flex;\n  align-items: center;\n  gap: 12px;\n  \n}\n\n@media (max-width: 768px) {\n  & {\n    width: 100%;\n  }\n}",
            "generate_block_presets": "never",
            "category_name": "",
            "hidden_name_backup": "Container"
          },
          "blocks": [
            {
              "type": "_main_product__image",
              "name": "Product Image",
              "settings": {
                "primary_image": "variant_image",
                "show_secondary_image": true,
                "sizes": "(max-width: 768px) 50vw, (max-width: 1024px) 33vw, 25vw",
                "max_width": 540,
                "quick_view_visibility": "default",
                "custom_css": "& {\n  width: 50px;\n  height: 50px;\n  object-fit: cover;\n  border-radius: 4px;\n  overflow: hidden;\n}\n\n@media (max-width: 564px) {\n  & {\n   display: none;\n  }\n}"
              },
              "blocks": []
            },
            {
              "type": "_main_product__dynamic_text",
              "name": "Dynamic Text",
              "settings": {
                "title": "<p><strong>{{ closest.product.title }}</strong></p><h6>[selected_variant.title]</h6>",
                "type_richtext_metafield": "",
                "css_class": "richtext-md",
                "link_to_product": false,
                "quick_view_visibility": "default",
                "text_color": "",
                "custom_css": "& {\n white-space: nowrap;\n}\n@media (max-width: 564px) {\n  & {\n   display: none;\n  }\n}"
              },
              "blocks": []
            },
            {
              "type": "_main_product__add_to_cart_button",
              "name": "Add to Cart Button",
              "settings": {
                "add_to_cart_content": "Add to Cart",
                "quantity_price": true,
                "add_to_cart_class": "button-primary-outline",
                "preorder_content": "[icon.timer] Preorder• [price]",
                "preorder_class": "button-primary",
                "out_of_stock_content": "Out of Stock",
                "out_of_stock_class": "button-primary-outline",
                "enable_back_in_stock_notifications": false,
                "quick_view_visibility": "default",
                "custom_css": "& {\n  width: max-content;\n}\n\n&:where(:hover,:focus) {\n  background: rgba(255,255,255,0.8);\n  color: black;\n}\n@media (max-width: 768px) {\n  & {\n    margin-left: auto;\n  }\n}\n@media (max-width: 564px) {\n  & {\n    width: 100%;\n    margin-left: unset;\n  }\n}"
              },
              "blocks": []
            }
          ]
        }
      ],
      "category": "Product"
    }
  ],
  "disabled_on": {
    "groups": [
      "custom.global",
      "custom.header",
      "custom.modal",
      "custom.card",
      "custom.head",
      "custom.megamenu"
    ]
  },
  "class": "shopify_section__main_product_bar"
}
{% endschema %}
